@model EPMS.WebModels.ViewModels.ContactUs.ContactUsViewModel
@Scripts.Render("~/Scripts/mapmarker.jquery.js")

@{
    ViewBag.Title = EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
}

<div id="slideshow">
    <div class="static-content maps-style">
        <div id="google_map" style="width:100%; height:550px;"></div><!-- map container -->
        <ul id="map_controls">
            <li><a id="zoom_in"><span class="icon-plus icon-white"></span></a></li>
            <li><a id="zoom_out"><span class="icon-minus icon-white"></span></a></li>
            <li><a id="reset"><span class="icon-refresh icon-white"></span></a></li>
        </ul>
    </div>
    <div id="bottom_mask" class="mask2" style="top: 518px;"></div>
</div><!-- end slideshow -->

<section id="content">
    <div class="container">

        <div id="mainbody">

            <div class="row">
                <div class="span12 directionR">
                    <h1 class="page-title">@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Title</h1>

                    <div class="row">
                        <div class="span6">
                            <p>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.FormHeader:</p>
                            <div id="contact_form" class="rapid_contact ">
                                @using (Html.BeginForm("SendEmail", "ContactUs", FormMethod.Post, new { @id = "ContactUsForm", @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.HiddenFor(m => m.ReceiverEmail, new { @id = "receiverEmail" })
                                    <div id="success"></div>
                                    <div class="control-group">
                                        <label class="control-label" for="rp_name">@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Name</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Name, new { @dir = "ltr", id = "formName", @class = "tbdisable toBeRequired inputbox input-xlarge toBeDisabled", @placeholder = EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Name })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "required" })
                                        </div>
                                    </div><!-- end control group -->
                                    <div class="control-group">
                                        <label class="control-label" for="rp_email">@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Email</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Email, new { @dir = "ltr", id = "FormEmail", @class = "tbdisable toBeRequired inputbox input-xlarge toBeDisabled", @placeholder = @EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Email })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required" })
                                        </div>
                                    </div><!-- end control group -->
                                    <div class="control-group">
                                        <label class="control-label" for="rp_subject">@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Address</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Address, new { @dir = "ltr", id = "FormAddress", @class = "tbdisable toBeRequired inputbox input-xlarge toBeDisabled", @placeholder = @EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Address })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "required" })
                                        </div>
                                    </div><!-- end control group -->
                                    <div class="control-group">
                                        <label class="control-label" for="rp_message">@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Message</label>
                                        <div class="controls">
                                            @Html.TextAreaFor(m => m.Message, new { @dir = "ltr", id = "FormMessage", @class = "tbdisable toBeRequired textarea span4 toBeDisabled", @placeholder = @EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Message })
                                        </div>
                                    </div><!-- end control group -->
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class=" btn toBeDisabled" id="submit-form" type="submit" name="submit" value="@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Send" />
                                        </div>
                                    </div><!-- end control group -->
                                }
                            </div><!-- end contact form -->
                        </div><!-- end left side -->
                        <div class="span6">
                            <h3>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.GetInTouch</h3>
                            @if (direction == "ltr")
                            {
                                <p><strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Address:</strong>&nbsp;@Model.ContactUs.Address</p>
                                <p>
                                    <strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Telephone:</strong> @Model.ContactUs.Phone<br>
                                    <strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Email:</strong> <a href="mailto:@Model.ContactUs.FormEmail">@Model.ContactUs.FormEmail</a><br />
                                    <strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Website:</strong> <a href="http://@Model.ContactUs.Website" target="_blank">@Model.ContactUs.Website</a>
                                </p>
                                <p style="text-align: justify">@Model.ContactUs.ContentEn</p>
                            }
                            else
                            {
                                <p><strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Address:</strong>&nbsp;@Model.ContactUs.AddressAr</p>
                                <p>
                                    <strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Telephone:</strong> @Model.ContactUs.Phone<br>
                                    <strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Email:</strong> <a href="mailto:@Model.ContactUs.FormEmail">@Model.ContactUs.FormEmail</a><br />
                                    <strong>@EPMS.WebModels.Resources.WebsiteClient.ContactUs.ContactUs.Website:</strong> <a href="http://@Model.ContactUs.Website" target="_blank">@Model.ContactUs.Website</a>
                                </p>
                                <p style="text-align: justify">@Model.ContactUs.ContentAr</p>
                            }
                        </div><!-- end right side -->
                    </div><!-- end row -->
                </div>
            </div><!-- end row -->

        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            if ('@Model.ReceiverEmail' == '') {
                $('.' + 'toBeDisabled' + ':input').attr('disabled', true);
            }
            $('#receiverEmail').val('@Model.ReceiverEmail');
            var latitude = '@Model.ContactUs.Latitude';
            var longitude = '@Model.ContactUs.Longitude';
            var coordinates = latitude + "," + longitude;
            var icon = '/images/map_pin_1.png';
            var myMarkers = {
                "markers": [
					{
					    "latitude": latitude,		// latitude
					    "longitude": longitude,		// longitude
					    "icon": icon	// Pin icon
					}
					/*

					Add as plenty as you want:
					, {
						"latitude": "40.712785",
						"longitude":"-73.962708",
						"icon": "images/map_pin_1.png"
					}

					*/
                ]
            };
            $("#google_map").mapmarker({
                zoom: 16,							// Zoom
                center: coordinates,		// Center of map
                type: "ROADMAP",					// Map Type
                controls: "HORIZONTAL_BAR",			// Controls style
                dragging: 1,							// Allow dragging?
                mousewheel: 0,						// Allow zooming with mousewheel
                markers: myMarkers,
                styling: 0,							// Bool - do you want to style the map?
                featureType: "all",
                visibility: "on",
                elementType: "geometry",
                hue: "#00AAFF",
                saturation: -100,
                lightness: 0,
                gamma: 1,
                navigation_control: 0
                /*
				To play with the map colors and styles you can try this tool right here http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
				*/
            });

        });
    })(jQuery);
</script>
