@using System.Configuration
@model EPMS.Web.ViewModels.Complaint.ComplaintViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.CMS.Complaint.ComplaintsList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MessageVM = TempData["message"];
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    int i = 0;
}
<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
                @EPMS.Web.Resources.CMS.Complaint.ComplaintsList
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->
<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    @if (ViewBag.CanCreate)
    {
        <h3> <small><a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())/CMS/Complaint/Create">@EPMS.Web.Resources.CMS.Complaint.CreateNewComplaint</a></small></h3>
    }
</header>
<!-- Page Heading End-->
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<div class="form-horizontal">
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="row-fluid">
                <div class="span12">
                    <table id="ComplaintsList" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@EPMS.Web.Resources.CMS.Complaint.ApplicantName</th>
                                <th>@EPMS.Web.Resources.CMS.Complaint.Topic</th>
                                <th>@EPMS.Web.Resources.CMS.Complaint.Date</th>
                                <th>@EPMS.Web.Resources.CMS.Complaint.Replied</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Complaints.ToList())
                        {
                                <tr>
                                    <td>@(i += 1)</td>
                                    <td><a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())/CMS/Customer/Details/@item.CustomerId">@item.ClientName</a></td>
                                    <td>@Html.ActionLink(@item.Topic, "Create",new{id=item.ComplaintId})</td>
                                    <td>@item.ComplaintDateString</td>
                                    <td>@item.IsRepliedString</td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var oTable;
    $(document).ready(function () {
        oTable = $('#ComplaintsList').dataTable({
            "sPaginationType": "bootstrap",
            "aoColumns": [
                { "bVisible": true, "bSortable": false },
                null,
                null,
                null,
                null,
            ],
            "aaSorting": [[3,'desc']],
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            },
        });
    });
</script>