@model EPMS.Web.ViewModels.Employee.EmployeeViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.HR.Payroll.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MessageVM = TempData["message"];
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
}
<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            @EPMS.Web.Resources.HR.Payroll.PayrollList
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.HR.Payroll.PayrollList</small></h2>
</header>
<!-- Page heading ends -->

<form class="form-horizontal">
    @Html.HiddenFor(model => model.SearchRequest.SearchString, new { id = "searchString" });
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="employeeTable" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@EPMS.Web.Resources.HR.Employee.Image</th>
                            <th>@EPMS.Web.Resources.HR.Employee.NameIndex</th>
                            <th>@EPMS.Web.Resources.HR.Employee.JobId</th>
                            <th>@EPMS.Web.Resources.HR.Employee.JobTitle</th>
                            <th>@EPMS.Web.Resources.HR.Employee.Department</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var direc = '@direction';
        var siteUrl = $('#siteURL').val();
        var oTable = $('#employeeTable').dataTable({
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeId"];
                    },
                    "bVisible": false,
                    "bSortable": false
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeImagePath"];
                    },
                    "bSortable": true
                },
                {
                    "aTargets": [2],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var val;
                        if (direc == "ltr") {
                            val = full["EmployeeFullNameE"];
                        } else {
                            val = full["EmployeeFullNameA"];
                        }
                        var empId = full["EmployeeId"];
                        var element = '<a href="Detail/' + empId + '">' + val + '</a>';
                        return element;
                    },
                    "bSortable": true
                },
                {
                    "aTargets": [3],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeJobId"];
                    },
                    "bSortable": true
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var jobTItle = full["JobTitle"];
                        if (direc == "ltr") {
                            return jobTItle.JobTitleNameE;
                        } else {
                            return jobTItle.JobTitleNameA;
                        }
                    },
                    "bSortable": true
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var jobTitle = full["JobTitle"];
                        if (direc == "ltr") {
                            return jobTitle.DepartmentNameE;
                        } else {
                            return jobTitle.DepartmentNameE;
                        }
                    },
                    "bSortable": true
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "search", "value": $('input').val() });
            },
            "sAjaxSource": siteUrl + "/Payroll/Index",
            "sServerMethod": "POST",
            "oLanguage": {
                "sProcessing": "Fetching record(s)",
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            },
            "bAutoWidth": false
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
        //$(".dataTables_length select label").hide();
        //$(".dataTables_length label").text("");

        $(".dataTables_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                if (this.value.length >= 3 || e.keyCode == 13) {
                    $("#searchString").val(this.value);
                    //oTable.fnClearTable();
                    //$('#employeeTable').empty();
                    oTable.fnDraw();
                }
                if (this.value == "") {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                return;
            });
    });
</script>
