@model EPMS.WebModels.ViewModels.Quotation.QuotationListViewModel

@{
    ViewBag.Title = EPMS.WebModels.Resources.CMS.Quotation.PTIndex;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    var userRole = (string)Session["RoleName"];
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
}

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            @EPMS.WebModels.Resources.CMS.Quotation.QuotList
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.WebModels.Resources.CMS.Quotation.QuotList</small></h2>
    @if (userPermissionsSet.Contains("QuotationsCreate"))
    {
        <h3> <small><a href="~/CMS/Quotation/Create">@EPMS.WebModels.Resources.CMS.Quotation.CreateNew</a></small></h3>
    }
</header>

<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->

<form class="form-horizontal">
    @Html.HiddenFor(model => model.SearchRequest.SearchString, new { id = "searchString" });
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="QuotationTable" class="table table-striped table-responsive">

                    @if (ViewBag.RoleName == "Customer")
                    {
                        <thead>
                            <tr>
                                <th>@EPMS.WebModels.Resources.Shared.Common.Serial</th>
                                <th>@EPMS.WebModels.Resources.CMS.Quotation.Quot</th>
                            </tr>
                        </thead>
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th>@EPMS.WebModels.Resources.Shared.Common.Serial</th>
                                <th>@EPMS.WebModels.Resources.CMS.Quotation.Quot</th>
                                <th>@EPMS.WebModels.Resources.CMS.Quotation.ClientName</th>
                            </tr>
                        </thead>
                    }                    
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var oTable;
    $(document).ready(function () {
        var url = "/CMS/Quotation/Index";
        var siteUrl = $('#siteURL').val();
        if ('@ViewBag.RoleName' == 'Customer') {
            oTable = $('#QuotationTable').dataTable({
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": siteUrl + "/CMS/Quotation/Index",
                "sServerMethod": "POST",
                "aoColumns": [
                    {
                        "aTargets": [0],
                        "sDefaultContent": "",
                        "bVisible": true,
                        "bSortable": false
                    },
                    {
                        "aTargets": [1],
                        "sDefaultContent": "No Data",
                        "mRender": function (data, type, full) {
                            var element = "";
                            var val = full["SerialNumber"];
                            var quoId = full["QuotationId"];
                            if ('@userRole' == "Admin") {
                                element = '<a href="Create/' + quoId + '">' + val + '</a>';
                            }
                            if ('@userRole' == "Customer") {
                                element = '<a href="Detail/' + quoId + '">' + val + '</a>';
                            }
                            if ('@userRole' == "Employee") {
                                element = '<a href="Detail/' + quoId + '">' + val + '</a>';
                            }
                            return element;
                        },
                        "bSortable": true
                    }
                ],
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "search", "value": $('input').val() });
                },
                "oLanguage": {
                    "sProcessing": "Fetching record(s)",
                    //"sProcessing": "<img alt=\"Unread\" id=\"ajaxLoadImg\" src=\"/Images\/Gallery\/ajax_loader_red_512.gif\" />",
                    "sInfoEmpty": "No matching record(s) found",
                    "sEmptyTable": "No record(s) found",
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var oSettings = oTable.fnSettings();
                    $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                    return nRow;
                },
            });
        } else {
            oTable = $('#QuotationTable').dataTable({
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": siteUrl + "/CMS/Quotation/Index",
                "sServerMethod": "POST",
                "aoColumns": [
                    {
                        "aTargets": [0],
                        "sDefaultContent": "",
                        "bVisible": true,
                        "bSortable": false
                    },
                    {
                        "aTargets": [1],
                        "sDefaultContent": "No Data",
                        "mRender": function (data, type, full) {
                            var element = "";
                            var val = full["SerialNumber"];
                            var quoId = full["QuotationId"];
                            if ('@userRole' == "Admin") {
                                element = '<a href="Create/' + quoId + '">' + val + '</a>';
                            }
                            if ('@userRole' == "Customer") {
                                element = '<a href="Detail/' + quoId + '">' + val + '</a>';
                            }
                            if ('@userRole' == "Employee") {
                                element = '<a href="Detail/' + quoId + '">' + val + '</a>';
                            }
                            return element;
                        },
                        "bSortable": true
                    },
                    {
                        "aTargets": [2],
                        "sDefaultContent": "No Data",
                        "mRender": function (data, type, full) {
                            if ('@direction' == "ltr") {
                                return full["ClientNameEn"];
                            } else {
                                return full["ClientNameAr"];
                            }
                        },
                        "bSortable": true
                    }
                ],
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "search", "value": $('input').val() });
                },
                "oLanguage": {
                    "sProcessing": "Fetching record(s)",
                    //"sProcessing": "<img alt=\"Unread\" id=\"ajaxLoadImg\" src=\"/Images\/Gallery\/ajax_loader_red_512.gif\" />",
                    "sInfoEmpty": "No matching record(s) found",
                    "sEmptyTable": "No record(s) found",
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var oSettings = oTable.fnSettings();
                    $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                    return nRow;
                },
            });
        }

        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
        $(".dataTables_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                if (this.value.length >= 3 || e.keyCode == 13) {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                if (this.value == "") {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                return;
            });
    });
</script>