@model  EPMS.Web.ViewModels.Request.EmployeeRequestViewModel
@{
    if (Model.EmployeeRequest.RequestId > 0)
    {
        ViewBag.Title = "Update Request";
    }
    else
    {
        ViewBag.Title = "Create Request";
    }
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Request/Index">
                Requests List
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title </small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")

<!-- Form starts.  -->
@using (Html.BeginForm("Create", "Request", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
{
    <div class="container-fluid">

        <div class="form-legend" id="Input_Field">Input Fields</div>

        <!--Input Field of Request begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.EmployeeRequest.Employee.EmployeeFullName, new { @class = "control-label" })
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.EmployeeRequest.Employee.EmployeeFullName, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.EmployeeRequest.Employee.EmployeeFullName)
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.EmployeeRequest.Employee.EmployeeId, new { @class = "control-label" })
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.TextBoxFor(model => model.EmployeeRequest.Employee.EmployeeId, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.EmployeeRequest.Employee.EmployeeId)
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.EmployeeRequest.Employee.DepartmentName, new { @class = "control-label" })
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.EmployeeRequest.Employee.DepartmentName, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.EmployeeRequest.Employee.DepartmentName)
                </div>
            </div>

        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.EmployeeRequest.RequestTopic, new { @class = "control-label" })
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.EmployeeRequest.RequestTopic)
                    @Html.ValidationMessageFor(model => model.EmployeeRequest.RequestTopic)
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.EmployeeRequestDetail.RequestDesc, new { @class = "control-label" })
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.EmployeeRequestDetail.RequestDesc)
                    @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.RequestDesc)
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.EmployeeRequest.IsMonetary, new { @class = "control-label" })
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.CheckBoxFor(model => model.EmployeeRequest.IsMonetary)
                    @Html.ValidationMessageFor(model => model.EmployeeRequest.IsMonetary)
                </div>
            </div>
        </div>
        <!--End    --    Input Field of Request-->

        <!--Input Field of RequestDetail begin-->
        <div id="monetaryRequestControls" style="display: none">
            <div class="control-group row-fluid">
                <div class="span3">
                    @Html.LabelFor(model => model.EmployeeRequestDetail.LoanAmount, new { @class = "control-label" })
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmployeeRequestDetail.LoanAmount)
                        @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.LoanAmount)
                    </div>
                </div>
            </div>

            <div class="control-group row-fluid">
                <div class="span3">
                    @Html.LabelFor(model => model.EmployeeRequestDetail.LoanDate, new { @class = "control-label" })
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmployeeRequestDetail.LoanDate)
                        @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.LoanDate)
                    </div>
                </div>
            </div>

            <div class="control-group row-fluid">
                <div class="span3">
                    @Html.LabelFor(model => model.EmployeeRequestDetail.InstallmentAmount, new { @class = "control-label" })
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmployeeRequestDetail.InstallmentAmount)
                        @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.InstallmentAmount)
                    </div>
                </div>
            </div>
            
            <div class="control-group row-fluid">
                <div class="span3">
                    @Html.LabelFor(model => model.EmployeeRequestDetail.NumberOfMonths, new { @class = "control-label" })
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmployeeRequestDetail.NumberOfMonths)
                        @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.NumberOfMonths)
                    </div>
                </div>
            </div>

            <div class="control-group row-fluid">
                <div class="span3">
                    @Html.LabelFor(model => model.EmployeeRequestDetail.FirstInstallmentDate, new { @class = "control-label" })
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmployeeRequestDetail.FirstInstallmentDate, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.FirstInstallmentDate)
                    </div>
                </div>
            </div>

            <div class="control-group row-fluid">
                <div class="span3">
                    @Html.LabelFor(model => model.EmployeeRequestDetail.LastInstallmentDate, new { @class = "control-label" })
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmployeeRequestDetail.LastInstallmentDate, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.EmployeeRequestDetail.LastInstallmentDate)
                    </div>
                </div>
            </div>
        </div>
        <!--End    --    Input Field of RequestDetail-->
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function() {
        MonetaryHideShow();
    });
    $('#EmployeeRequest_IsMonetary').change(function () {
        MonetaryHideShow();
    });
    function MonetaryHideShow() {
        var divToBeAffected = '#monetaryRequestControls';
        if ($('#EmployeeRequest_IsMonetary').is(":checked")) {
            $(divToBeAffected).show();
        } else {
            $(divToBeAffected).hide();
        }
    }
</script>
