@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    <h3> <small><a href="~/HR/Request/Create">Create New Request</a></small></h3>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")


<form class="form-horizontal">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="dataTable" class="table table-striped table-responsive">
                    <thead class="cf sorthead">
                        <tr>
                            <th></th>
                            <th>Employee Name</th>
                            <th>Request Topic</th>
                            <th>Monetary</th>
                            <th>Request Date</th>
                            <th>Replied</th>
                            <th>Approved</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var siteUrl = $('#siteURL').val();
        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];
        var oTable = $('#dataTable').dataTable({
            "iDisplayLength": 20,
            "iDisplayStart": start || 0,
            "aaSorting": [sortBy],
            "bProcessing": true,
            "bServerSide": true,
            "bFilter": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["RequestId"];
                    },
                    "bVisible": false,
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var employee = full["Employee"];
                        return employee.EmployeeFullName;
                    }
                },
                {
                    "aTargets": [2],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var val = full["RequestTopic"];
                        var Id = full["RequestId"];
                        var element = '<a href="Create/' + Id + '">' + val + '</a>';
                        return element;
                    }
                },
                {
                    "aTargets": [3],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var IsMonetary = full["IsMonetary"];
                        return IsMonetary ? "Yes" : "No";
                    }
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["RequestDateString"];
                    }
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var RequestDetails = full["RequestDetails"];
                        return RequestDetails[RequestDetails.length - 1].IsReplied ? "Yes" : "No";
                    }
                },
                {
                    "aTargets": [6],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var RequestDetails = full["RequestDetails"];
                        return RequestDetails[RequestDetails.length-1].IsApproved ? "Yes" : "No";
                    }
                }
            ],
            "sAjaxSource": siteUrl + "/Request/Index",
            "sServerMethod": "POST",
            "oLanguage": {
                "sProcessing": "Fetching record(s)",
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            },
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
    });
</script>





