@model EPMS.WebModels.ViewModels.Reports.CustomerCreateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    ViewBag.Title = EPMS.WebModels.Resources.Reports.CustomerReport.CreateTitle;
}
<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li class="current">
            @EPMS.WebModels.Resources.Reports.CustomerReport.CreateTitle
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->
<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.WebModels.Resources.Reports.CustomerReport.CreateTitle</small></h2>
</header>
<!-- Page Heading End-->
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->

@using (Html.BeginForm("Detail", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container-fluid">
        
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">
                    @EPMS.WebModels.Resources.Reports.CustomerReport.StartDate<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls span4">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "col-lg-2 datepickerGregorian form-control cursorHand toBeDiable", @id = "StartDate", @readonly = "readonly" })
                </div>
            </div>
        </div>
        
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">
                    @EPMS.WebModels.Resources.Reports.CustomerReport.EndDate<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls span4">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "col-lg-2 datepickerGregorian form-control cursorHand toBeDiable", @id = "EndDate", @readonly = "readonly" })
                </div>
            </div>
        </div>
        
        
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn" id="Generate">@EPMS.WebModels.Resources.Reports.CustomerReport.Generate</button>
            </div>

        </div>

    </div>
}

<script>
    
    $('#Generate').click(function (e) {
        debugger;
        var eDate = $('#EndDate').val();
        var endDate = stringToDate(eDate, "dd/MM/yyyy", "/");
        var sDate = $('#EndDate').val();
        var startDate = stringToDate(sDate, "dd/MM/yyyy", "/");

        if (endDate < startDate) {
            $.pnotify({
                title: 'error',
                type: 'info',
                text: 'End Date cannot be less than Start Date'
            });
        }
    });

    function stringToDate(_date, _format, _delimiter) {
        var formatLowerCase = _format.toLowerCase();
        var formatItems = formatLowerCase.split(_delimiter);
        var dateItems = _date.split(_delimiter);
        var monthIndex = formatItems.indexOf("mm");
        var dayIndex = formatItems.indexOf("dd");
        var yearIndex = formatItems.indexOf("yyyy");
        var month = parseInt(dateItems[monthIndex]);
        month -= 1;
        var formatedDate = new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
        return formatedDate;
    }

</script>