@model EPMS.Web.ViewModels.Tasks.TaskListViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.PMS.Task.PageTitleIndex;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    string date = "";
}

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.PMS.Task.Tasks</small></h2>
    @if (Session["RoleName"].ToString() != "Customer")
    {
        <h3><small><a href="~/PMS/Task/Create">@EPMS.Web.Resources.PMS.Task.AddNewTask</a></small></h3>
        if (Session["EmployeeID"] != null)
        {
            <h3><small><a href="~/PMS/Task/MyTasks">@EPMS.Web.Resources.PMS.Task.PageTitleMyTasks</a></small></h3>
        }
    }
</header>

<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->

<div class="container-fluid">
    <form class="form-horizontal">
        @Html.HiddenFor(model => model.SearchRequest.SearchString, new { id = "searchString" })
        <div class="container-fluid">
            <!--Sortable Responsive Media Table begin-->
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-striped table-responsive" id="projectTaskTable" style="width: 100% !important;">
                        <thead class="">
                            <tr>
                                <th>@EPMS.Web.Resources.Shared.Common.Serial</th>
                                <th></th>
                                <th>@EPMS.Web.Resources.PMS.Task.TaskName</th>
                                <th>@EPMS.Web.Resources.PMS.Task.ProjectName</th>
                                <th>@EPMS.Web.Resources.PMS.Task.StartDate</th>
                                <th>@EPMS.Web.Resources.PMS.Task.DeliveryDate</th>
                                <th>@EPMS.Web.Resources.PMS.Task.Cost</th>
                                <th>@EPMS.Web.Resources.PMS.Task.Progress</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var dir = '@direction';
    $(document).ready(function () {
        var siteUrl = $('#siteURL').val();
        var sImageUrl = "http://www.datatables.net/release-datatables/examples/examples_support/";
        var anOpen = [];
        var oTable = $('#projectTaskTable').dataTable({
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "",
                    "bVisible": true,
                    "bSortable": false
                },
                {
                    "mDataProp": null,
                    "sClass": "control center",
                    "sDefaultContent": '<img src="' + sImageUrl + 'details_open.png' + '">',
                    "bSortable": false
                },
                {
                    "aTargets": [2],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var element;
                        var val;
                        var taskId;
                        if (dir == "ltr") {
                            val = full["TaskNameE"];
                            taskId = full["TaskId"];
                            element = '<a href="Create/' + taskId + '">' + val + '</a>';
                        } else {
                            val = full["TaskNameA"];
                            taskId = full["TaskId"];
                            element = '<a href="Create/' + taskId + '">' + val + '</a>';
                        }
                        return element;
                    },
                    "bSortable": true
                },
                {
                    "aTargets": [3],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        if (dir == "ltr") {
                            return full["ProjectNameE"];
                        } else {
                            return full["ProjectNameA"];
                        }
                    }
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["StartDate"];
                    }
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EndDate"];
                    }
                },
                {
                    "aTargets": [6],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["TotalCost"];
                    }
                },
                {
                    "aTargets": [7],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var taskProgress = full["TaskProgress"];
                        var html = "<div class=\"progress progress-info\"> <div class=\"bar\" style=\"width:" + taskProgress + "%\">" + taskProgress + "</div> </div>";
                        return html;
                    }
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "search", "value": $('input').val() });
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                if (!aData.IsParent)
                    $('td:eq(1)', nRow).html('');
            },
            "sAjaxSource": siteUrl + "/PMS/Task/Index",
            "sServerMethod": "POST",
            "oLanguage": {
                "sProcessing": "Fetching record(s)",
                //"sProcessing": "<img alt=\"Unread\" id=\"ajaxLoadImg\" src=\"/Images\/Gallery\/ajax_loader_red_512.gif\" />",
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                var oSettings = oTable.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });

        $('#projectTaskTable tbody').on('click', 'tr td.control > img', function () {
            if ($(this.parentNode.parentNode).hasClass('details')) {
                return;
            }
            var nTr = this.parentNode.parentNode;
            var i = $.inArray(nTr, anOpen);
            var oData = oTable.fnGetData(nTr);
            if (i === -1) {
                if (oData.purpose_short != oData.purpose) {
                    $('div.purposeInner', nTr).html(oData.purpose);
                    $('div.purpose', nTr).animate({
                        "height": $('div.purposeInner', nTr).height()
                    });
                }

                $('img', this.parentNode.parentNode).attr('src', sImageUrl + "details_close.png");
                var nDetailsRow = oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                nDetailsRow.className += ' ' + nTr.className;
                $('div.innerDetails', nDetailsRow).slideDown();
                anOpen.push(nTr);
                applyDatatable(oTable, nTr);
            } else {
                $('img', this.parentNode.parentNode).attr('src', sImageUrl + "details_open.png");
                if (oData.purpose_short != oData.purpose) {
                    $('div.purpose', nTr).animate({
                        "height": 46
                    });
                }
                $('div.innerDetails', $(nTr).next()[0]).slideUp(function () {
                    if (oData.purpose_short != oData.purpose) {
                        $('div.purposeInner', nTr).html(oData.purpose_short);
                    }
                    oTable.fnClose(nTr);
                    anOpen.splice(i, 1);
                });
            }
            $("td.details").css("background-color", "#f9f9f9");
            $("td.details").css("border", "1px solid #C3C3C3");
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });

        $(".dataTables_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                if (this.value.length >= 3 || e.keyCode == 13) {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                if (this.value == "") {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                return;
            });
    });

    function applyDatatable(oTable, nTr) {
        var oData = oTable.fnGetData(nTr);
        var aData = oData.SubTasks;
        $('#' + oData.TaskId+ "_Parent").dataTable({
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": false,
            "bInfo": false,
            "bFilter": false,
            "bSort": false,
            "bLengthChange": false,
            "iTotalRecords": aData.length,
            "iTotalDisplayRecords": aData.length,
            "iDisplayStart": 0,
            "iDisplayLength": 5,
            "sEcho": 1,
            "aoColumns": [
                {
                    "sDefaultContent": ""
                },
                {
                    "sDefaultContent": "No Data",
                    "sWidth": "15%",
                    "mRender": function (data, type, full) {
                        var element;
                        var val;
                        var taskId;
                        if (dir == "ltr") {
                            val = full["TaskNameE"];
                            taskId = full["TaskId"];
                            element = '<a href="Create/' + taskId + '">' + val + '</a>';
                        } else {
                            val = full["TaskNameA"];
                            taskId = full["TaskId"];
                            element = '<a href="Create/' + taskId + '">' + val + '</a>';
                        }
                        return element;
                    }
                },
                {
                    "sDefaultContent": "No Data",
                    "sWidth": "15%",
                    "mRender": function (data, type, full) {
                        if (dir == "ltr") {
                            return full["ProjectNameE"];
                        } else {
                            return full["ProjectNameA"];
                        }
                    }
                },
                {
                    "sDefaultContent": "No Data",
                    "sWidth": "15%",
                    "mRender": function (data, type, full) {
                        return full["StartDate"];
                    }
                },
                {
                    "sDefaultContent": "No Data",
                    "sWidth": "15%",
                    "mRender": function (data, type, full) {
                        return full["EndDate"];
                    }
                },
                {
                    "sDefaultContent": "No Data",
                    "sWidth": "15%",
                    "mRender": function (data, type, full) {
                        return full["TotalCost"];
                    }
                },
                {
                    "sDefaultContent": "No Data",
                    "sWidth": "15%",
                    "mRender": function (data, type, full) {
                        var taskProgress = full["TaskProgress"];
                        var html = "<div class=\"progress progress-info\"> <div class=\"bar\" style=\"width:" + taskProgress + "%\">" + taskProgress + "</div> </div>";
                        return html;
                    }
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "search", "value": $('input').val() });
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                if (!aData.IsParent)
                    $('td:eq(0)', nRow).html('');
            },
            "aaData": aData,
            "oLanguage": {
                "sProcessing": "Fetching record(s)",
                //"sProcessing": "<img alt=\"Loading\" id=\"ajaxLoadImg\" src=\"/Images\/Gallery\/ajax_loader_red_512.gif\" />",
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            },
            "fnInitComplete": function () {
                this.fnAdjustColumnSizing();
                $('div.dataTables_filter input').focus();
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                var oSettings = oTable.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
    }

    function fnFormatDetails(oTable, nTr) {
        var oData = oTable.fnGetData(nTr);
        var sOut =
            '<div class="innerDetails">' +
                '<div class="column_details">' +
                '<table class="table table-striped table-responsive subProjectTaskTable" id="' + oData.TaskId + "_Parent" + '" style="width: 100% !important;">' +
                '<thead class="">' +
                '<tr>' +
                '<th style="width:34px !important">@EPMS.Web.Resources.Shared.Common.Serial</th>' +
                '<th>@EPMS.Web.Resources.PMS.Task.TaskName</th>' +
                '<th>@EPMS.Web.Resources.PMS.Task.ProjectName</th>' +
                '<th>@EPMS.Web.Resources.PMS.Task.StartDate</th>' +
                '<th>@EPMS.Web.Resources.PMS.Task.DeliveryDate</th>' +
                '<th>@EPMS.Web.Resources.PMS.Task.Cost</th>' +
                '<th>@EPMS.Web.Resources.PMS.Task.Progress</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody></tbody>' +
                '</table>' +
                '</div>' +
                '</div>';
        return sOut;
    }
</script>
