@model EPMS.Web.ViewModels.Tasks.TaskListViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.PMS.Task.PageTitleIndex;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    string date = "";
}

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            @ViewBag.Title
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.PMS.Task.Tasks</small></h2>
    <h3><small><a href="~/PMS/Task/Create">@EPMS.Web.Resources.PMS.Task.AddNewTask</a></small></h3>
    <h3><small><a href="~/PMS/Task/MyTasks">@EPMS.Web.Resources.PMS.Task.PageTitleMyTasks</a></small></h3>
</header>

<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->

    <div class="container-fluid">
        <form class="form-horizontal">
            @Html.HiddenFor(model => model.SearchRequest.SearchString, new { id = "searchString" })
            <div class="container-fluid">
                <!--Sortable Responsive Media Table begin-->
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table table-striped table-responsive" id="projectTaskTable" style="width: 100% !important;">
                            <thead class="">
                                <tr>
                                    <th></th>
                                    <th>@EPMS.Web.Resources.PMS.Task.TaskName</th>
                                    <th>@EPMS.Web.Resources.PMS.Task.ProjectName</th>
                                    <th>@EPMS.Web.Resources.PMS.Task.StartDate</th>
                                    <th>@EPMS.Web.Resources.PMS.Task.DeliveryDate</th>
                                    <th>@EPMS.Web.Resources.PMS.Task.Cost</th>
                                    <th>@EPMS.Web.Resources.PMS.Task.Progress</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        var siteUrl = $('#siteURL').val();
        var dir = '@direction';
        var oTable = $('#projectTaskTable').dataTable({
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["TaskId"];
                    },
                    "bVisible": false,
                    "bSortable": false
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var element;
                        var val;
                        var taskId;
                        if (dir == "ltr") {
                            val = full["TaskNameE"];
                            taskId = full["TaskId"];
                            element = '<a href="Create/' + taskId + '">' + val + '</a>';
                        } else {
                            val = full["TaskNameA"];
                            taskId = full["TaskId"];
                            element = '<a href="Create/' + taskId + '">' + val + '</a>';
                        }
                        return element;
                    },
                    "bSortable": true
                },
                {
                    "aTargets": [2],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        if (dir == "ltr") {
                            return full["ProjectNameE"];
                        } else {
                            return full["ProjectNameA"];
                        }
                    }
                },
                {
                    "aTargets": [3],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["StartDate"];
                    }
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EndDate"];
                    }
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["TotalCost"];
                    }
                },
                {
                    "aTargets": [6],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var taskProgress = full["TaskProgress"];
                        var html = "<div class=\"progress progress-info\"> <div class=\"bar\" style=\"width:" + taskProgress + "%\">" + taskProgress + "</div> </div>";
                        return html;
                    }
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "search", "value": $('input').val() });
            },
            "sAjaxSource": siteUrl + "/PMS/Task/Index",
            "sServerMethod": "POST",
            "oLanguage": {
                "sProcessing": "Fetching record(s)",
                //"sProcessing": "<img alt=\"Unread\" id=\"ajaxLoadImg\" src=\"/Images\/Gallery\/ajax_loader_red_512.gif\" />",
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            },
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });

        //$(".dataTables_processing").hide();
        //$(".dataTables_length label").text("");

        $(".dataTables_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                if (this.value.length >= 3 || e.keyCode == 13) {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                if (this.value == "") {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                return;
            });
    });
</script>
