@using System.Configuration
@using System.Globalization
@using EPMS.WebModels.Resources.WebsiteClient.Product
@using EPMS.Website.Resources.Shared
@model EPMS.WebModels.ViewModels.Product.ProductDetailViewModel

@{
    ViewBag.Title = Product.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = Common.TextDirection;
    string requestFrom = "";
    if (ViewBag.From != null)
    {
        requestFrom = ViewBag.From.ToString();
    }
    string itemImageFolder = "";
    if (requestFrom == "Inventory")
    {
        itemImageFolder = ConfigurationManager.AppSettings["InventoryImage"];
    }
    if (requestFrom == "Sections")
    {
        itemImageFolder = ConfigurationManager.AppSettings["ProductImage"];
    }
    const string noImage = "/images/noimage_department.png";
    DateTime today = DateTime.Now;
}


@section scripts
{
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />

    <script src="~/Scripts/flexslider.min.js"></script>
    <script src="~/Scripts/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>

    <script>
        jQuery(document).ready(function () {
            singleProduct();

            function singleProduct() {
                /* Product Images Carousel */
                jQuery('#product-carousel').flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    directionNav: false,
                    slideshow: false,
                    itemWidth: 80,
                    itemMargin: 0,
                    start: function (slider) {
                        setActive(jQuery('#product-carousel li:first-child img'));
                        slider.find('.right-arrow').click(function () {
                            slider.flexAnimate(slider.getTarget("next"));
                        });
                        slider.find('.left-arrow').click(function () {
                            slider.flexAnimate(slider.getTarget("prev"));
                        });
                        slider.find('img').click(function () {
                            var large = jQuery(this).attr('data-large');
                            setActive(jQuery(this));
                            jQuery('#product-slider img').fadeOut(300, changeImg(large, jQuery('#product-slider img')));
                            jQuery('#product-slider a.fullscreen-button').attr('href', large);
                        });

                        function changeImg(large, element) {
                            var element = element;
                            var large = large;
                            setTimeout(function () { startF(); }, 300);

                            function startF() {
                                element.attr('src', large);
                                element.attr('data-large', large);
                                element.fadeIn(300);
                            }
                        }

                        function setActive(el) {
                            var element = el;
                            jQuery('#product-carousel img').removeClass('active-item');
                            element.addClass('active-item');
                        }
                    }
                });

                /* FullScreen Button */
                jQuery('a.fullscreen-button').click(function (e) {
                    e.preventDefault();
                    var target = jQuery(this).attr('href');
                    jQuery('#product-carousel a.fancybox[href="' + target + '"]').trigger('click');
                });
                /* Cloud Zoom */
                jQuery("#zoom01").imagezoomsl({
                    zoomrange: [3, 3],
                    magnifierpos: "left"
                });
                /* FancyBox */
                jQuery(".fancybox").fancybox();
            }
        });
    </script>
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">@Product.HomePage</a></li>
                    <li>@Product.Products</li>
                </ul>
                <span id="current-date">@today.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>@Product.Products</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="shadowUP"></div>
</div>
<section id="content">
    <div class="container">
        <div id="mainbody">
            <div class="row">
                <div class="span9 rightSide">
                    <div class="row product-page">
                        <div class="span4 product-single-image">
                            <div id="product-slider">
                                <ul class="slides">
                                    <li>
                                        @{
                                            string path = "";
                                            if (requestFrom == "Inventory")
                                            {
                                                path = !string.IsNullOrEmpty(Model.Product.ItemImage) ? itemImageFolder + Model.Product.ItemImage : noImage;
                                            }
                                            if (requestFrom == "Sections")
                                            {
                                                path = !string.IsNullOrEmpty(Model.Product.ProductImage) ? itemImageFolder + Model.Product.ProductImage : noImage;
                                            }
                                            <a class="fullscreen-button" href="@path" id="">
                                                <img class="" src="@path" alt="" id="zoom01" />
                                                <div class="product-fullscreen">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div id="product-carousel">
                                <ul class="slides">
                                    @switch (requestFrom)
                                    {
                                        case "Inventory":
                                            if (Model.Product.ItemImages.Any())
                                            {
                                                foreach (var image in Model.Product.ItemImages)
                                                {
                                                    <li>
                                                        @{
                                                    string imagePath = itemImageFolder + image.ItemImagePath;
                                                    <a class="fancybox" rel="product-images" href="@imagePath"></a>
                                                            <img src="@imagePath" data-large="@imagePath" alt="" />
                                                        }
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @{
                                                        <a class="fancybox" rel="product-images" href="@noImage"></a>
                                                        <img src="@noImage" data-large="@noImage" alt="" />
                                                    }
                                                </li>
                                            }
                                            break;
                                        case "Sections":
                                            if (Model.Product.ProductImages.Any())
                                            {
                                                foreach (var image in Model.Product.ProductImages)
                                                {
                                                    <li>
                                                        @{
                                                    string imagePath = itemImageFolder + image.ProductImagePath;
                                                    <a class="fancybox" rel="product-images" href="@imagePath"></a>
                                                            <img src="@imagePath" data-large="@imagePath" alt="" />
                                                        }
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @{
                                                        <a class="fancybox" rel="product-images" href="@noImage"></a>
                                                        <img src="@noImage" data-large="@noImage" alt="" />
                                                    }
                                                </li>
                                            }
                                            break;
                                    }
                                </ul>
                                <div class="product-arrows">
                                    <div class="left-arrow">
                                        <i class="fa fa-arrow-left"></i>
                                    </div>
                                    <div class="right-arrow">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="main-data">
                                <p class="name">@(direction == "ltr" ? Model.Product.ProductNameEn : Model.Product.ProductNameAr)</p>
                                @if (Model.Product.ItemVariationId != null)
                                {
                                    <p><strong>@Product.SKU:</strong> @Model.Product.SKUCode</p>
                                }
                                <p class="small_desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <p class="regular_price">@Product.Price: <span>1200</span><span>SR</span></p>
                                <p class="price">
                                    <span>@Model.Product.ProductPrice</span><span>SR</span>
                                </p>
                                <p>@Product.YouWillSave: <strong>144.00 (12%)</strong></p>
                                <div class="to_cart">
                                    <div class="quantitiy">
                                        <label for="qty">@Product.Size:</label>
                                        @if (Model.Product.ItemVariationId != null)
                                        {
                                            @(direction == "ltr" ? Html.DropDownListFor(m => m.Product.ProductSize, new SelectList(Model.Product.Sizes, "SizeId", "SizeNameEn"), new { @id = "Size" }) :
                                                  Html.DropDownListFor(m => m.Product.ProductSize, new SelectList(Model.Product.Sizes, "SizeId", "SizeNameAr"), new { @id = "Size" }))
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.Product.ProductSize, new[]
                                            {
                                                new SelectListItem {Value = Model.Product.ProductSize, Text = Model.Product.ProductSize}
                                            }, new { @id = "Size" })
                                        }
                                    </div>
                                    <div class="quantitiy">
                                        <label for="qty">@Product.Quantity:</label>
                                        <input type="text" id="quantity" class="inputbox">
                                    </div>
                                    <a href="#" class="addtocart btn btn-flat">@Product.AddToCart</a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">

                            <div class="tabbable tabs_style2">
                                <ul class="nav fixclear">
                                    <li class="active"><a href="#shop-tab1" data-toggle="tab">@Product.Description </a></li>
                                    <li><a href="#shop-tab2" data-toggle="tab">@Product.Specifications</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="shop-tab1">
                                        <p>@(direction == "ltr" ? Model.Product.ProductDescEn : Model.Product.ProductDescAr)</p>
                                    </div>
                                    <div class="tab-pane" id="shop-tab2">
                                        <p>@(direction == "ltr" ? "En" : "Ar")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3  directionR">
                    <h1 class="page-title">@Product.PoductClassification</h1>
                    <div class="css-treeview">
                        <ul>
                            <li class="phy">
                                <input type="checkbox" id="item-0" /><label for="item-0">Physics Department</label>
                                <ul>
                                    <li class="phy">
                                        <input type="checkbox" id="item-0-0" /><label for="item-0-0">Labs</label>
                                        <ul>
                                            <li class="phy">
                                                <input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Glassware</label>
                                                <ul>
                                                    <li class="phy"><a href="#">Glasses</a></li>
                                                    <li class="phy"><a href="#">Flasks</a></li>
                                                    <li class="phy"><a href="#">Cylinders</a></li>
                                                    <li class="phy"><a href="#">Dispencers</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="item-0-1" /><label for="item-0-1">Experiments</label>
                                        <ul>
                                            <li class="phy"><a href="#">experiment 1</a></li>
                                            <li class="phy"><a href="#">experiment 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="chmy">
                                <input type="checkbox" id="item-1" /><label for="item-1">Chemistry Department</label>
                                <ul>
                                    <li class="chmy">
                                        <input type="checkbox" id="item-1-0" /><label for="item-1-0">Labs</label>
                                        <ul>
                                            <li class="chmy"><a href="#">Glassware</a></li>
                                            <li class="chmy"><a href="#">Experiments</a></li>
                                            <li class="chmy"><a href="#">Chemicals</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title margintop10">@Product.Catalog</h1>
                    <a href="#"><img src="/images/shop_images/catalog.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</section>
