@using System.Configuration
@using System.Globalization
@using EPMS.WebModels.Resources.WebsiteClient.Product
@using EPMS.Website.Resources.Shared
@using iTextSharp.text.pdf.qrcode
@model EPMS.WebModels.ViewModels.Product.ProductDetailViewModel

@{
    ViewBag.Title = Product.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = Common.TextDirection;
    string requestFrom = "";
    if (ViewBag.From != null)
    {
        requestFrom = ViewBag.From.ToString();
    }
    string itemImageFolder = "";
    if (requestFrom == "Inventory")
    {
        itemImageFolder = ConfigurationManager.AppSettings["InventoryImage"];
    }
    if (requestFrom == "Sections")
    {
        itemImageFolder = ConfigurationManager.AppSettings["ProductImage"];
    }
    var siteURL = ConfigurationManager.AppSettings["SiteURL"];
    string noImage = siteURL + "/images/noimage_department.png";
    DateTime today = DateTime.Now;
    var rootProducts = Model.ProductSections.Where(x => x.ParentSectionId == null).ToList();
    string link = "";
    int parent = 0;
    int child = 0;
    int subChild = 0;
    string parentDepartmentColor = "";
}


@section scripts
{
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />

    <script src="~/Scripts/flexslider.min.js"></script>
    <script src="~/Scripts/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>

    <script>
        var siteUrl;
        $(document).ready(function () {
            siteUrl = jQuery("#siteURL").val();
            singleProduct();
        });
        function singleProduct() {
            /* Product Images Carousel */
            jQuery('#product-carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                directionNav: false,
                slideshow: false,
                itemWidth: 80,
                itemMargin: 0,
                start: function (slider) {
                    setActive(jQuery('#product-carousel li:first-child img'));
                    slider.find('.right-arrow').click(function () {
                        slider.flexAnimate(slider.getTarget("next"));
                    });
                    slider.find('.left-arrow').click(function () {
                        slider.flexAnimate(slider.getTarget("prev"));
                    });
                    slider.find('img').click(function () {
                        var large = jQuery(this).attr('data-large');
                        setActive(jQuery(this));
                        jQuery('#product-slider img').fadeOut(300, changeImg(large, jQuery('#product-slider img')));
                        jQuery('#product-slider a.fullscreen-button').attr('href', large);
                    });

                    function changeImg(large, element) {
                        var element = element;
                        var large = large;
                        setTimeout(function () { startF(); }, 300);

                        function startF() {
                            element.attr('src', large);
                            element.attr('data-large', large);
                            element.fadeIn(300);
                        }
                    }

                    function setActive(el) {
                        var element = el;
                        jQuery('#product-carousel img').removeClass('active-item');
                        element.addClass('active-item');
                    }
                }
            });

            /* FullScreen Button */
            jQuery('a.fullscreen-button').click(function (e) {
                e.preventDefault();
                var target = jQuery(this).attr('href');
                jQuery('#product-carousel a.fancybox[href="' + target + '"]').trigger('click');
            });
            /* Cloud Zoom */
            jQuery("#zoom01").imagezoomsl({
                zoomrange: [3, 3],
                magnifierpos: "left"
            });
            /* FancyBox */
            jQuery(".fancybox").fancybox();
        }
    </script>
}


<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li>@EPMS.WebModels.Resources.WebsiteClient.Common.Common.HomePage</li>
                    <li>@Product.Products</li>
                    @{
                        var items = Model.Product.PathTillParent.Split('>');
                        foreach (string item in items)
                        {
                            <li>@item</li>
                        }
                    }
                    <li>
                        @{
                            if (ViewBag.From.ToString() == "Inventory")
                            {
                                @(direction == "ltr" ? Model.Product.ItemNameEn : Model.Product.ItemNameAr)
                            }
                            if (ViewBag.From.ToString() == "Sections")
                            {
                                @(direction == "ltr" ? Model.Product.ProductNameEn : Model.Product.ProductNameAr)
                            }
                        }
                    </li>
                </ul>
                <span id="current-date">@today.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>@Product.ProductsPage</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="shadowUP"></div>
</div>
<section id="content">
    <div class="container">
        <div id="mainbody">
            <div class="row">
                <div class="span9 rightSide">
                    <div class="row product-page">
                        <div class="span4 product-single-image">
                            <div id="product-slider">
                                <ul class="slides">
                                    <li>
                                        @{
                                            string path = "";
                                            if (requestFrom == "Inventory")
                                            {
                                                path = !string.IsNullOrEmpty(Model.Product.ItemImage) ? itemImageFolder + Model.Product.ItemImage : noImage;
                                            }
                                            if (requestFrom == "Sections")
                                            {
                                                path = !string.IsNullOrEmpty(Model.Product.ProductImage) ? itemImageFolder + Model.Product.ProductImage : noImage;
                                            }
                                            <a class="fullscreen-button" href="@path" id="">
                                                <img class="" src="@path" alt="" id="zoom01" />
                                                <div class="product-fullscreen">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div id="product-carousel">
                                <ul class="slides">
                                    @switch (requestFrom)
                                    {
                                        case "Inventory":
                                            if (Model.Product.ItemImages.Any())
                                            {
                                                foreach (var image in Model.Product.ItemImages)
                                                {
                                                    <li>
                                                        @{
                                                    string imagePath = image.ItemImagePath;
                                                    <a class="fancybox" rel="product-images" href="@imagePath"></a>
                                                            <img src="@imagePath" data-large="@imagePath" alt="" />
                                                        }
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @{
                                                        <a class="fancybox" rel="product-images" href="@noImage"></a>
                                                        <img src="@noImage" data-large="@noImage" alt="" />
                                                    }
                                                </li>
                                            }
                                            break;
                                        case "Sections":
                                            if (Model.Product.ProductImages.Any())
                                            {
                                                foreach (var image in Model.Product.ProductImages)
                                                {
                                                    <li>
                                                        @{
                                                    string imagePath = itemImageFolder + image.ProductImagePath;
                                                    <a class="fancybox" rel="product-images" href="@imagePath"></a>
                                                            <img src="@imagePath" data-large="@imagePath" alt="" />
                                                        }
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @{
                                                        <a class="fancybox" rel="product-images" href="@noImage"></a>
                                                        <img src="@noImage" data-large="@noImage" alt="" />
                                                    }
                                                </li>
                                            }
                                            break;
                                    }
                                </ul>
                                <div class="product-arrows">
                                    <div class="left-arrow">
                                        <i class="fa fa-arrow-left"></i>
                                    </div>
                                    <div class="right-arrow">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="main-data">
                                <input type="hidden" value="@Model.Product.ItemVariationId" id="Product_ItemVariationId" />
                                <p class="name">
                                    @if (ViewBag.From != null)
                                    {
                                        if (ViewBag.From.ToString() == "Inventory")
                                        {
                                            @(direction == "ltr" ? Model.Product.ItemNameEn : Model.Product.ItemNameAr)
                                        }
                                        if (ViewBag.From.ToString() == "Sections")
                                        {
                                            @(direction == "ltr" ? Model.Product.ProductNameEn : Model.Product.ProductNameAr)
                                        }
                                    }
                                </p>
                                @if (Model.Product.ItemVariationId != null)
                                {
                                    <p><strong>@Product.SKU:</strong> @Model.Product.SKUCode</p>
                                }
                                @if (Model.ShowProductPrice)
                                {
                                    if (!string.IsNullOrEmpty(Model.Product.DiscountedPrice))
                                    {
                                        <p class="regular_price">@Product.Price: <span>@Model.Product.ProductPrice</span><span>SR</span></p>
                                        <p class="price">
                                            <span>@Model.Product.DiscountedPrice</span><span>SR</span>
                                        </p>
                                        <p>
                                            @Product.YouWillSave:
                                            @{
                                        var actualPrice = Convert.ToDecimal(Model.Product.ProductPrice);
                                        var discountedPrice = Convert.ToDecimal(Model.Product.DiscountedPrice);
                                        var deductedPrice = actualPrice - discountedPrice;
                                        var savingInPercentage = Math.Round((actualPrice / discountedPrice), 2);
                                            }
                                            <strong>
                                                @deductedPrice
                                                @savingInPercentage %
                                            </strong>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="regular_price">@Product.Price: </p>
                                        <p class="price">
                                            <span>@Model.Product.ProductPrice</span><span>SR</span>
                                        </p>
                                    }
                                }

                                <div class="to_cart">

                                    @if (Model.Product.ItemVariationId != null && Model.Product.Sizes.Any())
                                    {
                                        <div class="quantitiy">
                                            <label for="qty">@Product.Size:</label>
                                            @(direction == "ltr" ? Html.DropDownListFor(m => m.Product.ProductSize, new SelectList(Model.Product.Sizes, "SizeId", "SizeNameEn"), new { @id = "Size" }) :
                                                  Html.DropDownListFor(m => m.Product.ProductSize, new SelectList(Model.Product.Sizes, "SizeId", "SizeNameAr"), new { @id = "Size" }))
                                        </div>
                                    }
                                    @if (Model.Product.ItemVariationId == null && !string.IsNullOrEmpty(Model.Product.ProductSize))
                                    {
                                        <div class="quantitiy">
                                            <label for="qty">@Product.Size: </label>
                                            <p class="manual-product-size">@Model.Product.ProductSize</p>
                                        </div>
                                    }
                                    <div class="quantitiy">
                                        <label for="qty">@Product.Quantity:</label>
                                        <input type="text" id="Quantity" class="inputbox" value="1">
                                    </div>
                                    <a class="addtocart btn btn-flat" onclick="addToCart(@Model.Product.ProductId)">@Product.AddToCart</a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">
                            <div class="tabbable tabs_style2">
                                <ul class="nav fixclear">
                                    <li class="active"><a href="#shop-tab1" data-toggle="tab">@Product.Description </a></li>
                                    <li><a href="#shop-tab2" data-toggle="tab">@Product.Specifications</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="shop-tab1">
                                        @(direction == "ltr" ? Html.Raw(Model.Product.ProductDescEn) : Html.Raw(Model.Product.ProductDescAr))
                                    </div>
                                    <div class="tab-pane" id="shop-tab2">
                                        @(direction == "ltr" ? Html.Raw(Model.Product.ProductSpecificationEn) : Html.Raw(Model.Product.ProductSpecificationAr))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3  directionR">
                    <h1 class="page-title">@Product.PoductClassification</h1>
                    <div class="css-treeview">
                        <ul>
                            <li class="phy">
                                @foreach (var productSection in rootProducts)
                                {
                                    var childName = "";
                                    if (direction == "ltr")
                                    {
                                        childName = string.IsNullOrEmpty(productSection.SectionNameEn) ? productSection.InventoryDepartment.DepartmentNameEn : productSection.SectionNameEn;
                                    }
                                    else
                                    {
                                        childName = string.IsNullOrEmpty(productSection.SectionNameAr) ? productSection.InventoryDepartment.DepartmentNameAr : productSection.SectionNameAr;
                                    }
                                    if (productSection.InventoyDepartmentId != null)
                                    {
                                        link = siteURL + "/Product/Index/" + productSection.InventoyDepartmentId + "?from=Inventory";
                                    }
                                    else
                                    {
                                        link = siteURL + "/Product/Index/" + productSection.SectionId + "?from=Sections";
                                    }
                                    <input type="checkbox" id="item-@parent" class="sect_@productSection.SectionId" />
                                    if (productSection.InventoryDepartment != null)
                                    {
                                        parentDepartmentColor = productSection.InventoryDepartment.DepartmentColor;
                                        <label for="item-@(parent)" style="color: @parentDepartmentColor"><a href="@link" style="color: @productSection.InventoryDepartment.DepartmentColor">@childName</a></label>
                                    }
                                    else
                                    {
                                        <label for="item-@(parent)"><a href="@link">@childName</a></label>
                                    }

                                    if (productSection.InventoryDepartment != null)
                                    {
                                        <ul>
                                            @foreach (var department in productSection.InventoryDepartment.InventoryDepartments)
                                            {
                                                <li class="phy">
                                                    @{
                                                childName = direction == "ltr" ? department.DepartmentNameEn : department.DepartmentNameAr;
                                                link = siteURL + "/Product/Index/" + department.DepartmentId + "?from=Inventory";
                                                <input type="checkbox" id="item-@parent-@child" class="dep_@department.DepartmentId" />
                                                if (!string.IsNullOrEmpty(department.DepartmentColor))
                                                {
                                                    <label for="item-@parent-@child" style="color: @department.DepartmentColor"><a href="@link" style="color: @department.DepartmentColor">@childName</a></label>
                                                }
                                                else
                                                {
                                                    <label for="item-@parent-@child" style="color: @parentDepartmentColor"><a href="@link" style="color: @parentDepartmentColor">@childName</a></label>
                                                }
                                                    }
                                                    @if (department.InventoryDepartments.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var childDepartment in department.InventoryDepartments)
                                                            {
                                                                <li class="phy">
                                                                    @{
                                                                childName = direction == "ltr" ? childDepartment.DepartmentNameEn : childDepartment.DepartmentNameAr;
                                                                link = siteURL + "/Product/Index/" + childDepartment.DepartmentId + "?from=Inventory";
                                                                <input type="checkbox" id="item-@parent-@child-@subChild" class="dep_@childDepartment.DepartmentId" />
                                                                if (!string.IsNullOrEmpty(childDepartment.DepartmentColor))
                                                                {
                                                                    <label for="item-@parent-@child-@subChild" style="color: @childDepartment.DepartmentColor"><a href="@link" style="color: @childDepartment.DepartmentColor">@childName</a></label>
                                                                }
                                                                else
                                                                {
                                                                    <label for="item-@parent-@child-@subChild" style="color: @parentDepartmentColor"><a href="@link" style="color: @parentDepartmentColor">@childName</a></label>
                                                                }
                                                                    }
                                                                </li>
                                                                {
                                                                    subChild += 1;
                                                                }
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                                    {
                                                        child += 1;
                                                    }
                                            }

                                        </ul>
                                    }
                                    if (productSection.ProductSections != null && productSection.ProductSections.Any())
                                    {
                                        <ul>
                                            @foreach (var subSection in productSection.ProductSections)
                                            {
                                                <li class="phy">
                                                    @{
                                                childName = direction == "ltr" ? subSection.SectionNameEn : subSection.SectionNameAr;
                                                link = siteURL + "/Product/Index/" + subSection.SectionId + "?from=Sections";
                                                <input type="checkbox" id="item-@parent-@child" class="sect_@subSection.SectionId" />
                                                        <label for="item-@parent-@child"><a href="@link">@childName</a></label>
                                                    }
                                                    @if (subSection.ProductSections.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var subSubSection in subSection.ProductSections)
                                                            {
                                                                <li class="phy">
                                                                    @{
                                                                childName = direction == "ltr" ? subSubSection.SectionNameEn : subSubSection.SectionNameAr;
                                                                link = siteURL + "/Product/Index/" + subSubSection.SectionId + "?from=Sections";
                                                                <input type="checkbox" id="item-@parent-@child-@subChild" class="sect_@subSubSection.SectionId" />
                                                                        <label for="item-@parent-@child-@subChild"><a href="@link">@childName</a></label>
                                                                    }
                                                                </li>
                                                                {
                                                                    subChild += 1;
                                                                }
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                                    {
                                                        child += 1;
                                                    }
                                            }

                                        </ul>
                                    }
                                    { parent++; }
                                    <br />
                                }
                            </li>

                        </ul>
                    </div>



                    <h1 class="page-title margintop10">@Product.Catalog</h1>
                    <a href="~/Catalogue/Index"><img src="@siteURL/images/shop_images/catalog.jpg"></a>
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- end page_header -->
</section>

<script>
    var sizes = '@Html.Raw(Json.Encode(Model.ProductSizes))';
    var productSize = JSON.parse(sizes);
    var ele;
    var firstParentCheckbox;
    var secondParentCheckbox;
    $(document).ready(function () {
        $('#Size').val('@Model.Product.ProductId');
        $("#Size").on("change", function () {
            var productId = parseInt($(this).val());
            window.location.href = window.location.origin + "/Product/Details/" + productId + window.location.search;
        });
        setTimeout(function () {
            // open css treeeview
            var listItemToOpen = localStorage.getItem("css-treeview-li");
            if (listItemToOpen != null) {
                ele = $("." + listItemToOpen).trigger("click");
                if (ele[0].className.indexOf("sect") > -1) {
                    localStorage.setItem("css-treeview-li", listItemToOpen);
                    return;
                } else {
                    var firstParent = ele.parent().parent().prev().prev();
                    if (firstParent != undefined) {
                        ele = firstParent[0].className;
                        firstParent = $("." + ele).trigger("click");
                        if (ele.indexOf("sect") > -1) {
                            localStorage.setItem("css-treeview-li", listItemToOpen);
                            return;
                        } else {
                            var secondParent = firstParent.parent().parent().prev().prev();
                            if (secondParent != undefined) {
                                ele = secondParent[0].className;
                                $("." + ele).trigger("click");
                            }
                        }
                    }
                }
                localStorage.setItem("css-treeview-li", listItemToOpen);
            }
        }, 500);
        // on tree click save node in local storage
        $('input:checkbox').change(function () {
            var clicked = this.className;
            localStorage.setItem("css-treeview-li", clicked);
        });
    });
</script>