<<<<<<< HEAD
﻿@using System.Configuration
@using System.Globalization
@using EPMS.WebModels.Resources.WebsiteClient.Product
@using EPMS.Website.Resources.Shared
@model EPMS.WebModels.ViewModels.Product.ProductDetailViewModel

@{
    ViewBag.Title = Product.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = Common.TextDirection;
    string requestFrom = "";
    if (ViewBag.From != null)
    {
        requestFrom = ViewBag.From.ToString();
    }
    string itemImageFolder = "";
    if (requestFrom == "Inventory")
    {
        itemImageFolder = ConfigurationManager.AppSettings["InventoryImage"];
    }
    if (requestFrom == "Sections")
    {
        itemImageFolder = ConfigurationManager.AppSettings["ProductImage"];
    }
    const string noImage = "/images/noimage_department.png";
    DateTime today = DateTime.Now;
}


@section scripts
{
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />

    <script src="~/Scripts/flexslider.min.js"></script>
    <script src="~/Scripts/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>

    <script>
        jQuery(document).ready(function () {
            singleProduct();

            function singleProduct() {
                /* Product Images Carousel */
                jQuery('#product-carousel').flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    directionNav: false,
                    slideshow: false,
                    itemWidth: 80,
                    itemMargin: 0,
                    start: function (slider) {
                        setActive(jQuery('#product-carousel li:first-child img'));
                        slider.find('.right-arrow').click(function () {
                            slider.flexAnimate(slider.getTarget("next"));
                        });
                        slider.find('.left-arrow').click(function () {
                            slider.flexAnimate(slider.getTarget("prev"));
                        });
                        slider.find('img').click(function () {
                            var large = jQuery(this).attr('data-large');
                            setActive(jQuery(this));
                            jQuery('#product-slider img').fadeOut(300, changeImg(large, jQuery('#product-slider img')));
                            jQuery('#product-slider a.fullscreen-button').attr('href', large);
                        });

                        function changeImg(large, element) {
                            var element = element;
                            var large = large;
                            setTimeout(function () { startF(); }, 300);

                            function startF() {
                                element.attr('src', large);
                                element.attr('data-large', large);
                                element.fadeIn(300);
                            }
                        }

                        function setActive(el) {
                            var element = el;
                            jQuery('#product-carousel img').removeClass('active-item');
                            element.addClass('active-item');
                        }
                    }
                });

                /* FullScreen Button */
                jQuery('a.fullscreen-button').click(function (e) {
                    e.preventDefault();
                    var target = jQuery(this).attr('href');
                    jQuery('#product-carousel a.fancybox[href="' + target + '"]').trigger('click');
                });
                /* Cloud Zoom */
                jQuery("#zoom01").imagezoomsl({
                    zoomrange: [3, 3],
                    magnifierpos: "left"
                });
                /* FancyBox */
                jQuery(".fancybox").fancybox();
            }

        });
    </script>
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>
=======
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

>>>>>>> WebsiteCP
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
<<<<<<< HEAD
                    <li><a href="/Home/Index">@Product.HomePage</a></li>
                    <li>@Product.Products</li>
                </ul>
                <span id="current-date">@today.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>@Product.Products</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="shadowUP"></div>
</div>
<section id="content">
    <div class="container">
        <div id="mainbody">
            <div class="row">
                <div class="span9 rightSide">
                    <div class="row product-page">
                        <div class="span4 product-single-image">
                            <div id="product-slider">
                                <ul class="slides">
                                    <li>
                                        @{
                                            string path = "";
                                            if (requestFrom == "Inventory")
                                            {
                                                path = !string.IsNullOrEmpty(Model.Product.ItemImage) ? itemImageFolder + Model.Product.ItemImage : noImage;
                                            }
                                            if (requestFrom == "Sections")
                                            {
                                                path = !string.IsNullOrEmpty(Model.Product.ProductImage) ? itemImageFolder + Model.Product.ProductImage : noImage;
                                            }
                                            <a class="fullscreen-button" href="@path" id="">
                                                <img class="" src="@path" alt="" id="zoom01" />
                                                <div class="product-fullscreen">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div id="product-carousel">
                                <ul class="slides">
                                    @switch (requestFrom)
                                    {
                                        case "Inventory":
                                            if (Model.Product.ItemImages.Any())
                                            {
                                                foreach (var image in Model.Product.ItemImages)
                                                {
                                                    <li>
                                                        @{
                                                    string imagePath = itemImageFolder + image.ItemImagePath;
                                                    <a class="fancybox" rel="product-images" href="@imagePath"></a>
                                                            <img src="@imagePath" data-large="@imagePath" alt="" />
                                                        }
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @{
                                                        <a class="fancybox" rel="product-images" href="@noImage"></a>
                                                        <img src="@noImage" data-large="@noImage" alt="" />
                                                    }
                                                </li>
                                            }
                                            break;
                                        case "Sections":
                                            if (Model.Product.ProductImages.Any())
                                            {
                                                foreach (var image in Model.Product.ProductImages)
                                                {
                                                    <li>
                                                        @{
                                                    string imagePath = itemImageFolder + image.ProductImagePath;
                                                    <a class="fancybox" rel="product-images" href="@imagePath"></a>
                                                            <img src="@imagePath" data-large="@imagePath" alt="" />
                                                        }
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @{
                                                        <a class="fancybox" rel="product-images" href="@noImage"></a>
                                                        <img src="@noImage" data-large="@noImage" alt="" />
                                                    }
                                                </li>
                                            }
                                            break;
                                    }
                                </ul>
                                <div class="product-arrows">
                                    <div class="left-arrow">
                                        <i class="fa fa-arrow-left"></i>
                                    </div>
                                    <div class="right-arrow">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="main-data">
                                <p class="name">@(direction == "ltr" ? Model.Product.ProductNameEn : Model.Product.ProductNameAr)</p>
                                @if (Model.Product.ItemVariationId != null)
                                {
                                    <p><strong>@Product.SKU:</strong> @Model.Product.SKUCode</p>
                                }
                                <p class="small_desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <p class="regular_price">@Product.Price: <span>1200</span><span>SR</span></p>
                                <p class="price">
                                    <span>@Model.Product.ProductPrice</span><span>SR</span>
                                </p>
                                <p>@Product.YouWillSave: <strong>144.00 (12%)</strong></p>
                                <div class="to_cart">
                                    <div class="quantitiy">
                                        <label for="qty">@Product.Size:</label>
                                        @if (Model.Product.ItemVariationId != null)
                                        {
                                            @(direction == "ltr" ? Html.DropDownListFor(m => m.Product.ProductSize, new SelectList(Model.Product.Sizes, "SizeId", "SizeNameEn"), new { @id = "Size" }) :
                                                  Html.DropDownListFor(m => m.Product.ProductSize, new SelectList(Model.Product.Sizes, "SizeId", "SizeNameAr"), new { @id = "Size" }))
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.Product.ProductSize, new[]
                                            {
                                                new SelectListItem {Value = Model.Product.ProductSize, Text = Model.Product.ProductSize}
                                            }, new { @id = "Size" })
                                        }
                                    </div>
                                    <div class="quantitiy">
                                        <label for="qty">@Product.Quantity:</label>
                                        <input type="text" id="Quantity" class="inputbox">
                                    </div>
                                    <a class="addtocart btn btn-flat" onclick="addToCart(@Model.Product.ProductId)">@Product.AddToCart</a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">

                            <div class="tabbable tabs_style2">
                                <ul class="nav fixclear">
                                    <li class="active"><a href="#shop-tab1" data-toggle="tab">@Product.Description </a></li>
                                    <li><a href="#shop-tab2" data-toggle="tab">@Product.Specifications</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="shop-tab1">
                                        <p>@(direction == "ltr" ? Model.Product.ProductDescEn : Model.Product.ProductDescAr)</p>
                                    </div>
                                    <div class="tab-pane" id="shop-tab2">
                                        <p>@(direction == "ltr" ? "En" : "Ar")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3  directionR">
                    <h1 class="page-title">@Product.PoductClassification</h1>
=======
                    <li><a href="#">Home Page</a></li>
                    <li>Products</li>

                </ul>
                <span id="current-date">THURSDAY, 14 JUNE 201</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>Products</h2>
                    <h4>Select by Catagory</h4>
                </div>
            </div>
        </div><!-- end row -->
    </div>

    <div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
    <div class="container">

        <div id="mainbody">

            <div class="row">
                <div class="span3  directionR">
                    <h1 class="page-title">Poduct Classification</h1>
>>>>>>> WebsiteCP
                    <div class="css-treeview">
                        <ul>
                            <li class="phy">
                                <input type="checkbox" id="item-0" /><label for="item-0">Physics Department</label>
                                <ul>
                                    <li class="phy">
<<<<<<< HEAD
                                        <input type="checkbox" id="item-0-0" /><label for="item-0-0">Labs</label>
=======
                                        <input type="checkbox" id="item-0-0" /></i><label for="item-0-0">Labs</label>
>>>>>>> WebsiteCP
                                        <ul>
                                            <li class="phy">
                                                <input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Glassware</label>
                                                <ul>
                                                    <li class="phy"><a href="#">Glasses</a></li>
                                                    <li class="phy"><a href="#">Flasks</a></li>
                                                    <li class="phy"><a href="#">Cylinders</a></li>
                                                    <li class="phy"><a href="#">Dispencers</a></li>
                                                </ul>
                                            </li>
<<<<<<< HEAD
=======


>>>>>>> WebsiteCP
                                        </ul>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="item-0-1" /><label for="item-0-1">Experiments</label>
                                        <ul>
                                            <li class="phy"><a href="#">experiment 1</a></li>
                                            <li class="phy"><a href="#">experiment 2</a></li>
<<<<<<< HEAD
                                        </ul>
                                    </li>
=======

                                        </ul>
                                    </li>

>>>>>>> WebsiteCP
                                </ul>
                            </li>
                            <li class="chmy">
                                <input type="checkbox" id="item-1" /><label for="item-1">Chemistry Department</label>
                                <ul>
                                    <li class="chmy">
                                        <input type="checkbox" id="item-1-0" /><label for="item-1-0">Labs</label>
                                        <ul>
                                            <li class="chmy"><a href="#">Glassware</a></li>
                                            <li class="chmy"><a href="#">Experiments</a></li>
                                            <li class="chmy"><a href="#">Chemicals</a></li>
                                        </ul>
                                    </li>
<<<<<<< HEAD
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title margintop10">@Product.Catalog</h1>
                    <a href="#"><img src="/images/shop_images/catalog.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</section>
=======

                                </ul>
                            </li>

                        </ul>
                    </div>

                    <h1 class="page-title margintop10">Catalog</h1>
                    <a href="#"><img src="images/shop_images/catalog.jpg"></a>

                </div>


                <div class="span9 directionR">
                    <h1 class="page-title">Products</h1>
                    <div class="row">
                        <div class="span9 linebot center-sm margintopLess10">
                            <div class="filtersgroup">
                                <div class="limit">
                                    <span>Search:</span>
                                    <input name="qfront" maxlength="100" class="inputbox" type="text" size="100">
                                </div>
                                <div class="limit">
                                    <span>Show:</span>
                                    <select onchange="location = this.value;">
                                        <option value="" selected="selected">9</option>
                                        <option value="">15</option>
                                        <option value="">24</option>
                                        <option value="">60</option>
                                        <option value="">90</option>
                                    </select>
                                </div>
                                <div class="sort">
                                    <span>Sort By :</span>
                                    <select onchange="location = this.value;">
                                        <option value="" selected="selected">Default</option>
                                        <option value="">By Name (A - Z)</option>
                                        <option value="">By Name (Z - A)</option>
                                        <option value="">By Highest Price</option>
                                        <option value="">By Lowest Price</option>

                                    </select>
                                </div>
                            </div>
                        </div>




                    </div>


                    <div class="row">
                        <div class="span3">
                            <div class="product-list-item">
                                <span class="hover"></span>
                                <div class="image">
                                    <a href="pages-productitem.html"><img src="images/shop_images/img1.png" alt=""></a>
                                </div>
                                <div class="details fixclear">
                                    <h3>Glass</h3>
                                    <p><strong>SKU:</strong> #95846</p>
                                    <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                    <div class="actions">
                                        <a href="#">Add To Cart</a>
                                        <a href="pages-productitem.html">More</a>
                                    </div>
                                    <div class="price">
                                        <span>129,99</span><span>SR</span>
                                        <small>199</small>
                                    </div>
                                </div>
                            </div><!-- end product-item -->
                        </div>
                    </div><!-- end row -->

                    <div class="span4">
                        <div class="pagination">
                            <a href="#"><div class="previous"><i class="fa fa-long-arrow-right"></i></div></a>
                            <a href="#" class="active"><div class="page-button">1</div></a>
                            <a href="#"><div class="page-button">2</div></a>
                            <a href="#"><div class="page-button">3</div></a>
                            <a href="#"><div class="next"><i class="fa fa-long-arrow-left"></i></div></a>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="span12 ">
                    <div class="shop-latest">

                        <div class="tabbable">

                            <ul class="nav fixclear">
                                <li class="active"><a href="#tabpan1" data-toggle="tab">New Arrivels</a></li>
                                <li><a href="#tabpan2" data-toggle="tab">Best Sell</a></li>
                                <li><a href="#tabpan3" data-toggle="tab">Ramdom Products</a></li>
                                <li><a href="#tabpan4" data-toggle="tab">Featured Products</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tabpan1">

                                    <div class="shop-latest-carousel">
                                        <ul id="latest_products ">
                                            <li>
                                                <div class="product-list-item  ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->

                                <div class="tab-pane" id="tabpan2">

                                    <div class="shop-latest-carousel">
                                        <ul id="bestselling_products">
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>

                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->

                                <div class="tab-pane " id="tabpan3">

                                    <div class="shop-latest-carousel">
                                        <ul id="latest_products2 ">
                                            <li>
                                                <div class="product-list-item  ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane" id="tabpan4">

                                    <div class="shop-latest-carousel">
                                        <ul id="bestselling_products4">
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>

                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->


                            </div><!-- /.tab-content -->
                        </div><!-- /.tabbable -->
                    </div><!-- end shop latest -->
                </div>
            </div><!-- end row -->

        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->
>>>>>>> WebsiteCP
