@using System.Configuration
@using System.Globalization
@model EPMS.WebModels.ViewModels.Product.ProductListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Website.Resources.Shared.Common.TextDirection;
    string requestFrom = "";
    if (ViewBag.From != null)
    {
        requestFrom = ViewBag.From.ToString();
    }
    string itemImageFolder = "";
    if (requestFrom == "Inventory")
    {
        itemImageFolder = ConfigurationManager.AppSettings["InventoryImage"];
    }
    if (requestFrom == "Sections")
    {
        itemImageFolder = ConfigurationManager.AppSettings["ProductImage"];
    }
    const string noImage = "/images/noimage_department.png";
    DateTime today = DateTime.Now;
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">Home Page</a></li>
                    <li>Products</li>
                </ul>
                <span id="current-date">@today.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>Products</h2>
                    <h4>Select by Catagory</h4>
                </div>
            </div>
        </div><!-- end row -->
    </div>
    <div class="shadowUP"></div>
</div>
<section id="content">
    <div class="container">
        <div id="mainbody">
            <div class="row">
                <div class="span3  directionR">
                    <h1 class="page-title">Poduct Classification</h1>
                    <div class="css-treeview">
                        <ul>
                            <li class="phy">
                                <input type="checkbox" id="item-0" /><label for="item-0">Physics Department</label>
                                <ul>
                                    <li class="phy">
                                        <input type="checkbox" id="item-0-0" /><label for="item-0-0">Labs</label>
                                        <ul>
                                            <li class="phy">
                                                <input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Glassware</label>
                                                <ul>
                                                    <li class="phy"><a href="#">Glasses</a></li>
                                                    <li class="phy"><a href="#">Flasks</a></li>
                                                    <li class="phy"><a href="#">Cylinders</a></li>
                                                    <li class="phy"><a href="#">Dispencers</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="item-0-1" /><label for="item-0-1">Experiments</label>
                                        <ul>
                                            <li class="phy"><a href="#">experiment 1</a></li>
                                            <li class="phy"><a href="#">experiment 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="chmy">
                                <input type="checkbox" id="item-1" /><label for="item-1">Chemistry Department</label>
                                <ul>
                                    <li class="chmy">
                                        <input type="checkbox" id="item-1-0" /><label for="item-1-0">Labs</label>
                                        <ul>
                                            <li class="chmy"><a href="#">Glassware</a></li>
                                            <li class="chmy"><a href="#">Experiments</a></li>
                                            <li class="chmy"><a href="#">Chemicals</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title margintop10">Catalog</h1>
                    <a href="#"><img src="/images/shop_images/catalog.jpg"></a>
                </div>
                @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { @class = "form-horizontal", @id = "filter-products", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.SearchRequest.Id)
                    @Html.HiddenFor(model => model.SearchRequest.From)
                    @Html.HiddenFor(model => model.SearchRequest.SortDirection, new { @id = "SortDirection" })
                    @Html.HiddenFor(model => model.SearchRequest.iSortCol_0, new { @id = "sortCol" })
                    <div class="span9 directionR">
                        <h1 class="page-title">Products</h1>
                        <div class="row">
                            <div class="span9 linebot center-sm margintopLess10">
                                <div class="filtersgroup">
                                    <div class="limit">
                                        <span>Search:</span>
                                        @Html.TextBoxFor(model => model.SearchRequest.SearchString, new { @class = "inputbox filter" })
                                    </div>
                                    <div class="limit">
                                        <span>Show:</span>
                                        @Html.DropDownListFor(model => model.SearchRequest.NoOfItems, new[]
                                        {
                                            new SelectListItem { Value = "3" , Text = "3" },
                                            new SelectListItem { Value = "6" , Text = "6" },
                                            new SelectListItem { Value = "9" , Text = "9" },
                                            new SelectListItem { Value = "60" , Text = "60" },
                                            new SelectListItem { Value = "90" , Text = "90" }
                                        }, new { @class = "filter" })
                                    </div>
                                    <div class="sort">
                                        <span>Sort By:</span>
                                        @if (direction == "ltr")
                                        {
                                            @Html.DropDownListFor(model => model.SearchRequest.SortBy, new[]
                                            {
                                                new SelectListItem {Value = "1", Text = "By Name (A - Z)"},
                                                new SelectListItem {Value = "2", Text = "By Name (Z - A)"},
                                                new SelectListItem {Value = "3", Text = "By Lowest Price"},
                                                new SelectListItem {Value = "4", Text = "By Highest Price"}
                                            }, new { @id = "SortBy", @class = "filter" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.SearchRequest.SortBy, new[]
                                            {
                                                new SelectListItem {Value = "5", Text = "By Name (A - Z)"},
                                                new SelectListItem {Value = "6", Text = "By Name (Z - A)"},
                                                new SelectListItem {Value = "3", Text = "By Lowest Price"},
                                                new SelectListItem {Value = "4", Text = "By Highest Price"}
                                            }, new { @id = "SortBy", @class = "filter" })
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @for (int i = 0; i < Model.Products.Count; i += 3)
                        {
                            <div class="row">
                                @for (int j = i; j < (i + 3) && j < Model.Products.Count ; j++)
                                {
                                    <div class="span3">
                                        <div class="product-list-item">
                                            <span class="hover"></span>
                                            <div class="image">
                                                @{
                                    string path = "";
                                    if (requestFrom == "Inventory")
                                    {
                                        path = !string.IsNullOrEmpty(Model.Products[j].ItemImage) ? itemImageFolder + Model.Products[j].ItemImage : noImage;
                                    }
                                    if (requestFrom == "Sections")
                                    {
                                        path = !string.IsNullOrEmpty(Model.Products[j].ProductImage) ? itemImageFolder + Model.Products[j].ProductImage : noImage;
                                    }
                                    if (Model.Products[j].ItemVariationId != null)
                                    {
                                        <a href="/Product/Details/@Model.Products[j].ItemVariationId?from=Inventory">
                                            <img src="@path" alt="">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/Product/Details/@Model.Products[j].ProductId?from=Sections">
                                            <img src="@path" alt="">
                                        </a>
                                    }
                                                }
                                            </div>
                                            <div class="details fixclear">
                                                @if (direction == "ltr")
                                                {
                                                    <h3>@(Model.Products[j].ItemVariationId != null ? Model.Products[j].ItemNameEn : Model.Products[j].ProductNameEn)</h3>
                                                }
                                                else
                                                {
                                                    <h3>@(Model.Products[j].ItemVariationId != null ? Model.Products[j].ItemNameAr : Model.Products[j].ProductNameAr)</h3>
                                                }
                                                <p><strong>SKU:</strong> @Model.Products[j].SKUCode</p>
                                                <p class="desc">@(direction == "ltr" ? Model.Products[j].ProductDescEn : Model.Products[j].ProductDescAr)</p>
                                                <div class="actions">
                                                    <a href="#">Add To Cart</a>
                                                    @if (Model.Products[j].ItemVariationId != null)
                                                    {
                                                        <a href="/Product/Details/@Model.Products[j].ItemVariationId?from=Inventory">More</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/Product/Details/@Model.Products[j].ProductId?from=Sections">More</a>
                                                    }
                                                </div>
                                                <div class="price">
                                                    <span>@Model.Products[j].ProductPrice</span><span>SR</span>
                                                    <small>199</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        <div class="span4">
                            <div class="pagination">
                                <a href="#"><div class="previous"><i class="fa fa-long-arrow-right"></i></div></a>
                                <a href="#" class="active"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="fa fa-long-arrow-left"></i></div></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div><!-- end row -->
        <div class="row">
            <div class="span12 ">
                <div class="shop-latest">
                    <div class="tabbable">
                        <ul class="nav fixclear">
                            <li class="active"><a href="#tabpan1" data-toggle="tab">New Arrivels</a></li>
                            <li><a href="#tabpan2" data-toggle="tab">Best Sell</a></li>
                            <li><a href="#tabpan3" data-toggle="tab">Ramdom Products</a></li>
                            <li><a href="#tabpan4" data-toggle="tab">Featured Products</a></li>
                        </ul>
                        @*<div class="tab-content">
                                <div class="tab-pane active" id="tabpan1">
                                    <div class="shop-latest-carousel">
                                        <ul id="latest_products ">
                                            <li>
                                                <div class="product-list-item  ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane" id="tabpan2">
                                    <div class="shop-latest-carousel">
                                        <ul id="bestselling_products">
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane " id="tabpan3">
                                    <div class="shop-latest-carousel">
                                        <ul id="latest_products2 ">
                                            <li>
                                                <div class="product-list-item  ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img1.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->
                                <div class="tab-pane" id="tabpan4">
                                    <div class="shop-latest-carousel">
                                        <ul id="bestselling_products4">
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img2.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img5.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item ">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img3.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                            <li>
                                                <div class="product-list-item">
                                                    <span class="hover"></span>
                                                    <div class="image">
                                                        <a href="pages-productitem.html"><img src="/images/shop_images/img6.png" alt=""></a>
                                                    </div>
                                                    <div class="details fixclear">
                                                        <h3>Glass</h3>
                                                        <p><strong>SKU:</strong> #95846</p>
                                                        <p class="desc">Quisque sit amet est et sapien ullamcorper pharetra...</p>
                                                        <div class="actions">
                                                            <a href="#">Add To Cart</a>
                                                            <a href="pages-productitem.html">More</a>
                                                        </div>
                                                        <div class="price">
                                                            <span>129,99</span><span>SR</span>
                                                            <small>199</small>
                                                        </div>
                                                    </div>
                                                </div><!-- end product-item -->
                                            </li>
                                        </ul><!-- shop product list -->
                                        <div class="controls">
                                            <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                                            <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--end shop-latest-carousel -->
                                </div><!-- end tab pane -->

                            </div>*@<!-- /.tab-content -->
                    </div><!-- /.tabbable -->
                </div><!-- end shop latest -->
            </div>
        </div><!-- end row -->
    </div><!-- end mainbody -->
</section>
@section scripts
{
    <script>
        jQuery(document).ready(function () {

    });
    jQuery(document).on('change', '.filter', function () {
        var sortBy = parseInt(jQuery("#SortBy").val());
        if (sortBy == 1 || sortBy == 3 || sortBy == 5) {
            jQuery("#SortDirection").val("asc");
        } else {
            jQuery("#SortDirection").val("desc");
        }
        if (sortBy == 1 || sortBy == 2) {
            jQuery("#sortCol").val("1");
        }
        else if (sortBy == 5 || sortBy == 6) {
            jQuery("#sortCol").val("2");
        }
        else if (sortBy == 3 || sortBy == 4) {
            jQuery("#sortCol").val("3");
        }
        jQuery("#filter-products").submit();
    });
    @*@if (direction == "ltr")
                                        {
                                            @Html.DropDownListFor(model => model.SearchRequest.SortBy, new[]
                                            {
                                                new SelectListItem {Value = "1", Text = "By Name (A - Z)"},
                                                new SelectListItem {Value = "2", Text = "By Name (Z - A)"},
                                                new SelectListItem {Value = "3", Text = "By Highest Price"},
                                                new SelectListItem {Value = "4", Text = "By Lowest Price"}
                                            }, new { @id = "SortBy", @class = "filter" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.SearchRequest.SortBy, new[]
                                            {
                                                new SelectListItem {Value = "5", Text = "By Name (A - Z)"},
                                                new SelectListItem {Value = "6", Text = "By Name (Z - A)"},
                                                new SelectListItem {Value = "3", Text = "By Highest Price"},
                                                new SelectListItem {Value = "4", Text = "By Lowest Price"}
                                            }, new { @id = "SortBy", @class = "filter" })
                                        }*@
    </script>
}