@model EPMS.WebModels.ViewModels.NewsAndArticle.NewsAndArticleViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    var Date = DateTime.Now;
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">الصفحة الرئيسية</a></li>
                    @if (@Model.NewsAndArticle.Type)
                    {
                        <li><a href="/NewsAndArticle/Index/1">Our News</a></li>
                        <li>Article</li>
                    }
                    else
                    {
                        <li><a href="/NewsAndArticle/Index/0">Our News</a></li>
                        <li>News</li>
                    }
                </ul>
                <span id="current-date">@Date.ToString("dddd, dd MMMM yyyy")</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>Our News</h2>

                </div>
            </div>
        </div><!-- end row -->
    </div>

    <div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
    <div class="container">

        <div id="mainbody">
            @if (direction == "ltd")
            {
                <div class="row">
                    <div class="span12 directionR">
                        <h1 class="page-title">@Model.NewsAndArticle.TitleEn</h1>


                        <div class="itemView clearfix eBlog">
                            <div class="itemHeader">
                                <div class="post_details">
                                    <span class="itemAuthor">Writer:  <a rel="author" href="#">@Model.NewsAndArticle.AuthorNameEn</a></span>
                                    <span class="infSep"> / </span>
                                    <span class="itemDateCreated"><span class="icon-calendar"></span> @Model.NewsAndArticle.RecCreatedDt.ToString("MMMM dd, yyyy")</span>

                                </div>
                            </div><!-- end itemheader -->
                            <div class="itemBody">
                                <p><a href="#" class="hoverBorder pull-left"><img src="http://localhost:43063/Images/NewsOrArticle/@Url.Content(@Model.NewsAndArticle.ImagePath)" /></a></p>
                                <p style="text-align: justify">@Model.NewsAndArticle.ContentEn</p>
                            </div><!-- end item body -->
                            <div class="clear"></div>




                        </div>
                        <!-- End Item Layout -->
                    </div>


                </div>
                <!-- end row -->
            }
            else
            {
                <div class="row">
                    <div class="span12 directionR">
                        <h1 class="page-title">@Model.NewsAndArticle.TitleAr</h1>


                        <div class="itemView clearfix eBlog">
                            <div class="itemHeader">
                                <div class="post_details">
                                    <span class="itemAuthor">Writer:  <a rel="author" href="#">@Model.NewsAndArticle.AuthorNameAr</a></span>
                                    <span class="infSep"> / </span>
                                    <span class="itemDateCreated"><span class="icon-calendar"></span> @Model.NewsAndArticle.RecCreatedDt.ToString("dddd , dd MMMM yyyy")</span>

                                </div>
                            </div><!-- end itemheader -->
                            <div class="itemBody">
                                <p><a href="#" class="hoverBorder pull-left"><img src="http://localhost:43063/Images/NewsOrArticle/@Url.Content(@Model.NewsAndArticle.ImagePath)" /></a></p>
                                <p style="text-align: justify">@Model.NewsAndArticle.ContentAr</p>
                            </div><!-- end item body -->
                            <div class="clear"></div>




                        </div>
                        <!-- End Item Layout -->
                    </div>


                </div><!-- end row -->
            }

        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->
