@using System.Configuration
@model EPMS.WebModels.ViewModels.NewsAndArticle.NewsAndArticleViewModel
@{
    ViewBag.Title = EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    var Date = DateTime.Now;
    var link = ConfigurationManager.AppSettings["NewsAndArticleImage"];
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">@EPMS.WebModels.Resources.WebsiteClient.Common.Common.HomePage</a></li>
                    @if (Model.NewsAndArticle.Type)
                    {
                        <li><a href="/NewsAndArticle/Index/1">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.OurArticles</a></li>
                        <li>@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Article</li>
                    }
                    else
                    {
                        <li><a href="/NewsAndArticle/Index/0">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.OurNews</a></li>
                        <li>@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.News</li>
                    }
                </ul>
                <span id="current-date">@Date.ToString("dddd, dd MMMM yyyy")</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    @if (@Model.NewsAndArticle.Type)
                    {
                        <h2>@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.OurArticles</h2>
                    }
                    else
                    {
                        <h2>@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.OurNews</h2>
                    }
                </div>
            </div>
        </div><!-- end row -->
    </div>

    <div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
    <div class="container">

        <div id="mainbody">
            @if (direction == "ltr")
            {
                <div class="row">
                    <div class="span12 directionR">
                        <h1 class="page-title">@Model.NewsAndArticle.TitleEn</h1>
                        <div class="itemView clearfix eBlog">
                            <div class="itemHeader">
                                <div class="post_details">
                                    <span class="itemAuthor">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Writer: <a rel="author" href="#">@Model.NewsAndArticle.AuthorNameEn</a></span>
                                    <span class="infSep"> / </span>
                                    <span class="itemDateCreated"><span class="icon-calendar"></span> @Model.NewsAndArticle.RecCreatedDt.ToString("dddd, dd MMMM yyyy")</span>

                                </div>
                            </div><!-- end itemheader -->
                            <div class="itemBody">
                                <p>
                                    <a href="#" class="hoverBorder pull-left">
                                        @if (string.IsNullOrEmpty(Model.NewsAndArticle.ImagePath))
                                        {
                                            <img style="height: 186px; width: 280px" src="~/Images/noimage_department.png" />
                                        }
                                        else
                                        {
                                            <img style="height: 186px; width: 280px" src="@link/@Url.Content(Model.NewsAndArticle.ImagePath)" />
                                        }
                                    </a>
                                </p>
                                <p style="text-align: justify">@Html.Raw(Model.NewsAndArticle.ContentEn)</p>
                            </div><!-- end item body -->
                            <div class="clear"></div>
                        </div>
                        <!-- End Item Layout -->
                    </div>
                </div>
                <!-- end row -->
            }
            else
            {
                <div class="row">
                    <div class="span12 directionR">
                        <h1 class="page-title">@Model.NewsAndArticle.TitleAr</h1>
                        <div class="itemView clearfix eBlog">
                            <div class="itemHeader">
                                <div class="post_details">
                                    <span class="itemAuthor">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Writer:  <a rel="author" href="#">@Model.NewsAndArticle.AuthorNameAr</a></span>
                                    <span class="infSep"> / </span>
                                    <span class="itemDateCreated"><span class="icon-calendar"></span> @Model.NewsAndArticle.RecCreatedDt.ToString("dddd , dd MMMM yyyy")</span>

                                </div>
                            </div><!-- end itemheader -->
                            <div class="itemBody">
                                <p>
                                    <a href="#" class="hoverBorder pull-right">
                                        @if (string.IsNullOrEmpty(Model.NewsAndArticle.ImagePath))
                                        {
                                            <img style="height: 186px; width: 280px" src="~/Images/noimage_department.png" />
                                        }
                                        else
                                        {
                                            <img style="height: 186px; width: 280px" src="@link/@Url.Content(Model.NewsAndArticle.ImagePath)" />
                                        }
                                    </a>
                                </p>
                                <p style="text-align: justify">@Html.Raw(Model.NewsAndArticle.ContentAr)</p>
                            </div><!-- end item body -->
                            <div class="clear"></div>
                        </div>
                        <!-- End Item Layout -->
                    </div>
                </div><!-- end row -->
            }

        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->
