@using System.Configuration
@model EPMS.WebModels.ViewModels.NewsAndArticle.NewsAndArticleListViewModel
@{
    ViewBag.Title = EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    var Date = DateTime.Now;
    var title = Model.Type == 1  ? EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.OurArticles : 
        EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.OurNews;
    int pageNo = 1;
    var imagePath = ConfigurationManager.AppSettings["NewsAndArticleImage"];
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">@EPMS.WebModels.Resources.WebsiteClient.Common.Common.HomePage</a></li>
                    <li>@title</li>
                </ul>
                <span id="current-date">@Date.ToString("dddd, dd MMMM yyyy")</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>@title</h2>

                </div>
            </div>
        </div><!-- end row -->
    </div>

    <div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
    <div class="container">

        <div id="mainbody">
            @using (Html.BeginForm("Index", "NewsAndArticle", FormMethod.Post, new { @class = "form-horizontal", @id = "filter-products", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Type)
                @Html.HiddenFor(model => model.SearchRequest.iDisplayStart, new { @id = "displayStart" })
                <div class="row">
                    <div class="span12 directionR listing">
                        <h1 class="page-title">
                            @if (Model.Type == 0)
                            {
                                @EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.LatestNews
                            }
                            else
                            {
                                @EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.LatestArticles
                            }
                        </h1>
                        @foreach (var newsOrArticle in Model.NewsAndArticles.ToList())
                        {

                            if (direction == "ltr")
                            {
                                <div class="itemView clearfix eBlog">
                                    <h4>@newsOrArticle.TitleEn</h4>
                                    <div class="itemHeader">
                                        <div class="post_details">
                                            <span class="itemAuthor">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Writer:  <a rel="author" href="#">@newsOrArticle.AuthorNameEn</a></span>
                                            <span class="infSep"> / </span>
                                            <span class="itemDateCreated"><span class="icon-calendar"></span> @newsOrArticle.RecCreatedDt.ToString("dddd, dd MMMM yyyy")</span>
                                        </div>
                                    </div><!-- end itemheader -->
                                    <div class="itemBody ">
                                        <p>
                                            <a href="/NewsAndArticle/Detail/@newsOrArticle.NewsArticleId" class="hoverBorder pull-left">
                                                @if (string.IsNullOrEmpty(newsOrArticle.ImagePath))
                                                {
                                                    <img src="~/Images/noimage_department.png" />
                                                }
                                                else
                                                {
                                                    <img src="@imagePath@Url.Content(newsOrArticle.ImagePath)" />
                                                }
                                            </a>
                                        </p>
                                        <p style="text-align: justify">
                                            @newsOrArticle.ContentEn
                                            <a href="/NewsAndArticle/Detail/@newsOrArticle.NewsArticleId" class="moreListing">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.More...</a>
                                        </p>
                                    </div><!-- end item body -->
                                    <div class="clear"></div>
                                </div>
                            }
                            else
                            {
                                <div class="itemView clearfix eBlog">
                                    <h4>@newsOrArticle.TitleAr</h4>
                                    <div class="itemHeader">
                                        <div class="post_details">
                                            <span class="itemAuthor">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.Writer:  <a rel="author" href="#">@newsOrArticle.AuthorNameAr</a></span>
                                            <span class="infSep"> / </span>
                                            <span class="itemDateCreated"><span class="icon-calendar"> @newsOrArticle.RecCreatedDt.ToString("dddd, dd MMMM yyyy") </span></span>
                                        </div>
                                    </div><!-- end itemheader -->
                                    <div class="itemBody ">
                                        <p><a href="/NewsAndArticle/Detail/@newsOrArticle.NewsArticleId" class="hoverBorder pull-left">
                                               @if (string.IsNullOrEmpty(newsOrArticle.ImagePath))
                                               {
                                                <img src="~/Images/noimage_department.png" />
                                               }
                                               else
                                               {
                                                <img src="@imagePath@Url.Content(newsOrArticle.ImagePath)" />
                                               }
                                           </a></p>
                                        <p style="text-align: justify">
                                            @newsOrArticle.ContentAr
                                        </p>
                                        <a href="/NewsAndArticle/Detail/@newsOrArticle.NewsArticleId" class="moreListing">@EPMS.WebModels.Resources.WebsiteClient.NewsAndArticles.NewsAndArticles.More...</a>
                                    </div><!-- end item body -->
                                    <div class="clear"></div>
                                </div>
                            }

                        }
                        <!-- End Item Layout -->
                    </div>

                    <div class="span4">
                        <div class="pagination">
                            <a><div class="cursorHand first-page"><i class="fa fa-long-arrow-right"></i></div></a>
                            @for (int i = 0; i <= Model.SearchRequest.TotalCount; i += Model.SearchRequest.iDisplayLength)
                            {
                                if (i == Model.SearchRequest.iDisplayStart)
                                {
                                    <a class="active cursorHand"><div class="page-button">@pageNo</div></a>
                                }
                                else
                                {
                                    <a class="cursorHand"><div class="page-button">@pageNo</div></a>
                                }
                                pageNo++;
                            }
                            <a><div class="cursorHand last-page"><i class="fa fa-long-arrow-left"></i></div></a>
                        </div>
                    </div>
                </div>
    <!-- end row -->
            }
        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->

<script>

    $(document).ready(function () {
    });
    jQuery(document).on('click', '.page-button', function () {
        debugger;
        jQuery('#pagination a').removeClass("active");
        this.parentElement.classList.add("active");
        var pageNo = parseInt(this.textContent);
        var length = 5;
        var displayStart = (pageNo - 1) * length;
        jQuery('#displayStart').val(displayStart);
        // submit from
        jQuery("#filter-products").submit();
    });

    jQuery(document).on('click', '.first-page', function () {
        jQuery('#pagination a').removeClass("active");
        this.parentElement.classList.add("active");
        jQuery('#displayStart').val(0);
        // submit from
        jQuery("#filter-products").submit();
    });

    jQuery(document).on('click', '.last-page', function () {
        jQuery('#pagination a').removeClass("active");
        this.parentElement.classList.add("active");
        var totalCount = parseInt('@Model.SearchRequest.TotalCount');
        var length = 5;
        jQuery('#displayStart').val(getLastPage(totalCount, length));
        // submit from
        jQuery("#filter-products").submit();
    });
    function getLastPage(totalCount, length) {
        var totalPages = Math.ceil(totalCount / length);
        return ((totalPages - 1) * length);
    }
</script>

