@model EPMS.WebModels.ViewModels.NewsAndArticle.NewsAndArticleListViewModel
@{
    ViewBag.Title = "News And Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    var Date = DateTime.Now;
    var title = Model.NewsOrArticle ? "Our Articles" : "Our News";
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/NewsAndArticle/Index">الصفحة الرئيسية</a></li>
                     <li>@title</li>
                </ul>
                <span id="current-date">@Date.ToString("dddd, dd MMMM yyyy")</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>@title</h2>

                </div>
            </div>
        </div><!-- end row -->
    </div>

    <div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
    <div class="container">

        <div id="mainbody">

            <div class="row">
                <div class="span12 directionR listing">
                    <h1 class="page-title">Latest News</h1>
                    @foreach (var newsOrArticle in Model.NewsAndArticles.ToList())
                    {

                        if (direction == "ltr")
                        {
                            <div class="itemView clearfix eBlog">
                                <h4>@newsOrArticle.TitleEn</h4>
                                <div class="itemHeader">
                                    <div class="post_details">
                                        <span class="itemAuthor">Writer:  <a rel="author" href="#">@newsOrArticle.AuthorNameEn</a></span>
                                        <span class="infSep"> / </span>
                                        <span class="itemDateCreated"><span class="icon-calendar"></span> @newsOrArticle.RecCreatedDt.ToString("dddd, dd MMMM yyyy")</span>
                                    </div>
                                </div><!-- end itemheader -->
                                <div class="itemBody ">
                                    <p><a href="#" class="hoverBorder pull-left"><img src="http://localhost:43063/Images/NewsOrArticle/@Url.Content(newsOrArticle.ImagePath)" /></a></p>
                                    <p style="text-align: justify">
                                        @newsOrArticle.ContentEn
                                        <a href="/NewsAndArticle/Detail/@newsOrArticle.NewsArticleId" class="moreListing">More...</a>
                                    </p>
                                </div><!-- end item body -->
                                <div class="clear"></div>
                            </div>
                        }
                        else
                        {
                            <div class="itemView clearfix eBlog">
                                <h4>@newsOrArticle.TitleAr</h4>
                                <div class="itemHeader">
                                    <div class="post_details">
                                        <span class="itemAuthor">Writer:  <a rel="author" href="#">@newsOrArticle.AuthorNameAr</a></span>
                                        <span class="infSep"> / </span>
                                        <span class="itemDateCreated"><span class="icon-calendar"> @newsOrArticle.RecCreatedDt.ToString("dddd, dd MMMM yyyy") </span></span>
                                    </div>
                                </div><!-- end itemheader -->
                                <div class="itemBody ">
                                    <p><a href="#" class="hoverBorder pull-left"><img src="http://localhost:43063/Images/NewsOrArticle/@Url.Content(newsOrArticle.ImagePath)" /></a></p>
                                    <p style="text-align: justify">
                                        @newsOrArticle.ContentAr
                                    </p>
                                    <a href="#" class="moreListing">More...</a>
                                </div><!-- end item body -->
                                <div class="clear"></div>
                            </div>
                        }

                    }
                    <!-- End Item Layout -->
                </div>

                <div class="span4">
                    <div class="pagination">
                        <a href="#"><div class="previous"><i class="fa fa-long-arrow-right"></i></div></a>
                        <a href="#" class="active"><div class="page-button">1</div></a>
                        <a href="#"><div class="page-button">2</div></a>
                        <a href="#"><div class="page-button">3</div></a>
                        <a href="#"><div class="next"><i class="fa fa-long-arrow-left"></i></div></a>
                    </div>
                </div>
            </div><!-- end row -->

        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->

<script>

    $(document).ready(function () {
    });

</script>

