@model  EPMS.Models.IdentityModels.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="dashboard(Employee)En.html">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="">
                Change Password
            </a>
        </li>
    </ul>
</div>
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
</header>

@Html.Partial("_Alert")


<div class="form-horizontal">
    <div class="container-fluid">


        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @*@Html.ValidationSummary(true)*@
            <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">Old Password</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control "})
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
            </div>

            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">New Password</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control "})
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>

            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">Confirm New Password</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control "})
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>

            <!--Input Field end-->


            <div class="control-group row-fluid">

                <div class="span3 span-inset">
                    <button type="submit" class="btn btn-circle blue">Save</button>
                </div>
            </div>
        }
    </div>
    <!-- end container -->


</div>