@using Microsoft.AspNet.Identity
@model  EPMS.Models.IdentityModels.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" type="text/css" href="~/Scripts/App/select2/select2.css" />*@
<script type="text/javascript" src="~/Scripts/App/select2/select2.js"></script>

<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="dashboard-En.html">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Account/Users">
                Users
            </a>
        </li>
        <li class="current">
            <a href="">
                @ViewBag.Title
            </a>


        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->
<!-- Matter -->
<!-- Form starts.  -->
@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container-fluid">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(m => m.UserId)
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="UserName">Username</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { @dir = "ltr", placeholder = "Enter Username", id = "UserName" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="useremail">Email</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @dir = "ltr", id = " useremail ", placeholder = "Enter Email", @readonly = (@Model != null && !string.IsNullOrEmpty(@Model.UserId)) })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required" })
                </div>
            </div>
        </div>
        @if (Model != null)
        {
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="roleId">Role</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.DropDownListFor(x => x.SelectedRole, new SelectList(Model.Roles, "Id", "Name"), "Select Role", new { id = "roleId" })
                    @Html.ValidationMessageFor(m => m.SelectedRole, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="employeeId">Employee</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.DropDownListFor(x => x.SelectedEmployee, new SelectList(Model.Employees, "EmployeeId", "EmployeeFullName"), "Select Employee", new { @class = "select2me", id = " employeeId " })
                    @Html.ValidationMessageFor(m => m.SelectedEmployee, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="password">Password</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr", placeholder = "Password", id = "password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid" style="display: @(string.IsNullOrEmpty(@Model.UserId) ? "block" : "none")">
            <div class="span3">
                <label class="control-label" for="confirmPassword">Confirm Password</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ltr", placeholder = "Confirm Password", id = "confirmPassword" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "required" })
                </div>
            </div>
        </div>
        }
        <div class="control-group row-fluid">
            <div class="span12 span-inset">
                <button id="signupuser" type="submit" class="btn btn-success">Save</button>
                <a href="RegisterLV">
                    <div class="col-lg-6">
                        <button id="Cancel" type="button" class="btn btn-primary">Cancel</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
<div class="matter">
    <div class="container">
        <!-- Dashboard Graph starts -->
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-head">
                        <div class="pull-left"> You're logged in as <strong>@User.Identity.GetUserName()</strong></div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Matter ends -->

<script>
    $(function () {

        $("[readonly='false']").removeAttr("readonly");
        $('.select2me').select2({
            placeholder: "Select",
            allowClear: true
        });
        //$("#signupuser").click(function (e) {
            
        //    alert($("#employeeId option:selected").val());
        //    if ($('#employeeId :selected').val() == "") {
        //        toastr.error("Please select an Employee");
        //        return false;
        //    }
        //    return true;
        //});
    });
</script>
