@using System.Configuration
@model EPMS.Models.IdentityModels.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

@Html.Partial("_Alert")
<div class="container-login">
    <div class="form-centering-wrapper">
        <div class="form-window-login">
            <div class="form-window-login-logo">
                <div class="login-logo">
                    <img src="~/Content/Images/LoginLogo.png" alt="Desert Stars" />
                </div>
                
                <h2 class="login-title">@EPMS.Web.Resources.Shared.Login.Welcome</h2>
                <div class="login-member">
                    @EPMS.Web.Resources.Shared.Login.NotAMember &nbsp;<a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())/Account/Signup">@EPMS.Web.Resources.Shared.Login.Signup &#187;</a>
                </div>
                <div class="login-or">@EPMS.Web.Resources.Shared.Login.Or</div>
                <div class="login-input-area">
                    <span class="help-block">@EPMS.Web.Resources.Shared.Login.LoginWith</span>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        @*@Html.Partial("_Alert")*@
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", placeholder = EPMS.Web.Resources.Shared.Login.Email })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger required" })
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = EPMS.Web.Resources.Shared.Login.Password })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger required" })
                        </div>
                        <button type="submit" class="btn btn-large btn-success btn-login">@EPMS.Web.Resources.Shared.Login.Signin</button>
                    }
                    <a href="@(ConfigurationManager.AppSettings["SiteURL"])/Account/ForgotPassword" class="forgot-pass">@EPMS.Web.Resources.Shared.Login.Forgot</a>
                    @*@Html.ActionLink("Forgot Your Password?", "ForgotPassword")*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var welcome = '@ViewBag.SuccessMessage';
        if (welcome != "") {
            setTimeout(function () {
                $.pnotify({
                    title: 'Success',
                    type: 'info',
                    text: welcome
                });
            }, 5000);
        }
    });
</script>