@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model  EPMS.Models.IdentityModels.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <!-- Navigation Bar -->
    <div class="breadcrumb-container">
        <ul class="xbreadcrumbs">
            <li>
                <a href="dashboard-En.html">
                    <i class="icon-photon home"></i>
                </a>
            </li>
            <li>
                <a href="Employees(Admin)En.html">
                    User Management
                </a>
            </li>
            <li class="current">
                <a href="javascript:;">@ViewBag.Title</a>


            </li>
        </ul>
    </div>
    <!-- Page heading -->
    <header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    </header>
    <!--Notifications begin-->
    @Html.Partial("_Alert")
    
        <!-- Form starts.  -->
        @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="container-fluid">
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-head">
                                    <div class="pull-left"> You're logged in as <strong>@User.Identity.GetUserName()</strong></div>
                                    <div class="widget-icons pull-right">
                                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

                                        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget-content">
                                    <div class="padd">


                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>*@
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)
                <!--Input Field begin-->
                <div class="control-group row-fluid">
                    <div class="span3">
                        <label class="control-label" for="inputField">User Name</label>
                    </div>
                    <div class="span9">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control mandatory ltr", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span3">
                        <label class="control-label" for="email">Email</label>
                    </div>
                    <div class="span9">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Email, new { @class = "required" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label textAlignLeft">Date of Birth</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control mandatory cursorHand textAlignRight", @placeholder = "Date of Birth" })
                        @Html.ValidationMessageFor(m => m.DateOfBirth)
                        @*<input type="text" id="DateOfBirth" data-value="التاريخ" />*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label textAlignLeft">Photo</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.UploadImage, new { type = "file", accept = ".jpg,.jpeg,.png" })
                        @Html.ValidationMessageFor(model => model.UploadImage, null, new { @class = "Error" })
                    </div>
                </div>

                <hr />
                <div class="form-group">


                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-circle blue">Update</button>

                    </div>
                </div>
            </div>
        }





                <link rel="stylesheet" href="~/Content/css/zebra.css" type="text/css" media="screen">
                <script type="text/javascript" src="~/Scripts/App/zebra_datepicker.js"></script>
                <script>
                    $(document).ready(function(){
                        $("#validation_form").validate({
                            errorElement: "span",
                            errorClass: "error",
                            onclick: true,
                            rules: {
                                "req": {
                                    required: true
                                },
                                "numbers": {
                                    required: false,
                                    digits: true
                                },
                                "email": {
                                    email: true
                                },
                                "url": {
                                    url: true
                                }, 
                                "date": {
                                    date: true
                                }
                            }
                        });
                    });
    </script>   
