@using System.Configuration
@model EPMS.WebModels.ViewModels.Product.ProductListViewModel

@{
    ViewBag.Title = "Cataloge";
    Layout = null;
    var Date = DateTime.Now;
    var cpLink = ConfigurationManager.AppSettings["CpLink"];
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    int pageNo = 1;
}


<section id="content">
    <div class="container">
        <div id="mainbody">
            <div id="flipbook">
               
                @if (Model.Products != null && Model.Products.Any())
                {
                    foreach (var product in Model.Products)
                    {
                        <form class="form-horizontal" id="validation_form" style="font-size: 12px; ">
                            <div class="container-fluid" style="background-color: white; height: 100%">
                                <div class="control-group row-fluid">
                                    @if (!string.IsNullOrEmpty(product.DeptColor))
                                    {
                                        <div class="catalogDepartment" style="background-color: @product.DeptColor !important; color: white !important;">
                                            <h6 class="titleLeft" style="color: #ffffff !important; padding-left: 10px">
                                                @(direction == "ltr" ? product.DepartmentNameEn : product.DepartmentNameAr)
                                            </h6>
                                            <h5 class="titleRight" style="color: #ffffff !important; padding-left: 10px">@product.PathTillParent</h5>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="catalogDepartment" style="background-color: @product.DeptColor !important; color: white !important;">
                                            <h6 class="titleLeft" style="color: #000000 !important; padding-left: 10px">
                                                @(direction == "ltr" ? product.DepartmentNameEn : product.DepartmentNameAr)
                                            </h6>
                                            <h5 class="titleRight" style="color: #000000 !important; padding-left: 10px">@product.PathTillParent</h5>
                                        </div>
                                    }

                                    <div class="invoice-info">
                                        <div class="invoice-name" style="color:@product.DeptColor !important;">
                                            @if (product.ItemVariationId != null)
                                            {
                                                <h4><span style="float: left">@product.ItemNameEn</span></h4>
                                            }
                                            else
                                            {
                                                <h4><span style="float: left">@product.ProductNameEn</span></h4>
                                            }
                                        </div>
                                        <br /><br /><br />
                                        <div>
                                            @if (string.IsNullOrEmpty(product.ItemImage))
                                            {
                                                <img style="width: 175px; height: 175px; clear: both" src="@cpLink/Images/ItemImage/noimage_department.png" alt="user" class="">
                                            }
                                            else
                                            {
                                                <img style="width: 175px; height: 175px; clear: both" src="@cpLink/Images/ItemImage/@product.ItemImage" alt="user" class="">
                                            }
                                        </div>
                                        <div class="control-group row-fluid">
                                            <div class="span12">
                                                <div class="invoice-from">
                                                    <h4 style="color:@product.DeptColor !important;">@EPMS.WebModels.Resources.WebsiteClient.Catalogue.Catalogue.ProductDescription</h4>
                                                    @if (product.ItemVariationId != null)
                                                    {
                                                        <p style="text-align: justify"> @product.ItemDesc</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="text-align: justify"> @product.ProductDescEn</p>
                                                    }
                                                </div>
                                                <h4 style="color:@product.DeptColor !important;">@EPMS.WebModels.Resources.WebsiteClient.Catalogue.Catalogue.ProductSpecification</h4>
                                                <p style="text-align: justify">@product.ProductSpecificationEn</p>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div style="color: black; width: 2%"></div>*@
                                    @if (!string.IsNullOrEmpty(product.DeptColor))
                                    {
                                        <div class="catalogDepartment" style="background-color:@product.DeptColor !important; color:white !important; margin-bottom: 5px">
                                            <h5 class="" style="color:white !important;text-align:right;margin-right:5px;">@(pageNo++)</h5>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="catalogDepartment" style="background-color:#000000 !important; margin-bottom: 5px">
                                            <h5 class="" style="color:#ffffff !important;text-align:right;margin-right:5px;">@(pageNo++)</h5>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    }
                }
            </div>

        </div><!-- end mainbody -->
    </div>
</section><!-- end #content -->