@model EPMS.WebModels.ViewModels.Reports.TaskReportsCreateViewModel

@{
    ViewBag.Title = EPMS.WebModels.Resources.Reports.Task.PageTitleCreate;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
}

<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Report/ProjectsAndTasks/Index">
                @EPMS.WebModels.Resources.Reports.Reports.ProjectManagementReportList
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->

@using (Html.BeginForm("Details", "Task", new {area="Report"}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div class="container-fluid">
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="jobTitle">@EPMS.WebModels.Resources.Reports.Task.ProjectName</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.DropDownListFor(model => model.ProjectId, direction == "ltr" ? new SelectList(Model.Projects, "ProjectId", "NameE") : new SelectList(Model.Projects, "ProjectId", "NameA"), EPMS.WebModels.Resources.Reports.Task.All, new {@class = "select2me"})
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="jobTitle">@EPMS.WebModels.Resources.Reports.Task.TaskName</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.DropDownListFor(model => model.TaskId, Enumerable.Empty<SelectListItem>(), EPMS.WebModels.Resources.Reports.Task.All, new { @class = "select2me" })
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn">@EPMS.WebModels.Resources.Reports.Task.GenerateReport</button>
            </div>
        </div>
    </div>
    <!-- end container -->
}

<script>
    var tasks = '@Html.Raw(Json.Encode(Model.Tasks))';
    var tasksList = JSON.parse(tasks);
    $(document).ready(function () {

        $("#ProjectId").on("change", function () {
            var projId = parseInt($("#ProjectId").val());
            $("#TaskId").empty();
            if (isNaN(projId)) {
                $("#TaskId").append(
                        $('<option></option>').val(0).html("All")
                    );
                $(".select2me").select2("destroy");
                $('.select2me').select2({
                });
            } else {
                if (tasksList.length > 0) {
                    $("#TaskId").append(
                        $('<option></option>').val(0).html("All")
                    );
                    $(".select2me").select2("destroy");
                    $('.select2me').select2({
                    });
                    $.each(tasksList, function (key, value) {
                        if (value.ProjectId == projId) {
                            $("#TaskId").append(
                                $('<option></option>').val(value.TaskId).html(value.TaskNameE)
                            );
                        }
                    });
                } else {
                    $("#TaskId").empty();
                    $("#TaskId").append(
                        $('<option></option>').val(0).html("none")
                    );
                    $(".select2me").select2("destroy");
                    $('.select2me').select2({
                    });
                }
            }
        });
    });
</script>