@model EPMS.WebModels.ViewModels.Customer.CustomerViewModel
@{
    ViewBag.Title = EPMS.WebModels.Resources.CMS.Customer.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    int i = 0;
}

<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="/Home/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="">
                @EPMS.WebModels.Resources.CMS.Customer.IndexLabel
            </a>
        </li>
    </ul>
</div>

<!--Header begin-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.WebModels.Resources.CMS.Customer.IndexLabel</small></h2>
</header>
<!--Header end-->
<form class="form-horizontal">
    <div id="English" class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="CustomerList" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>@EPMS.WebModels.Resources.Shared.Common.Serial</th>
                            @if(direction == "ltr"){
                            <th>@EPMS.WebModels.Resources.CMS.Customer.NameEn</th>
                            }
                            else{
                            <th>@EPMS.WebModels.Resources.CMS.Customer.NameAr</th>
                            }
                            <th>@EPMS.WebModels.Resources.CMS.Customer.NoOfOrders</th>
                            <th>@EPMS.WebModels.Resources.CMS.Customer.LatestComplaint</th>
                            <th>@EPMS.WebModels.Resources.CMS.Customer.LatestOrder</th>
                            <th>@EPMS.WebModels.Resources.CMS.Customer.CustomerAddress</th>
                            <th>@EPMS.WebModels.Resources.CMS.Customer.CustomerMobile</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CustomerList.ToList())
                        {
                            <tr>
                                <td>@(i += 1)</td>
                                <td>@Html.ActionLink(@item.CustomerNameE, "Details", new { id = item.CustomerId }) </td>
                                <td>@item.OrdersCount</td>
                                <td>@item.LatestComplaint</td>
                                <td>@item.LatestOrder</td>
                                <td>@item.CustomerAddress</td>
                                <td>@item.CustomerMobile</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</form>
<script>
    $(document).ready(function () {
        $('#CustomerList').dataTable({
            "sPaginationType": "bootstrap",
            "aoColumns": [
                { "bVisible": true, "bSortable": false },
                  null,
                  null,
                  null,
                  null,
                  null,
                  null
            ],
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            },
        });
    });
</script>

