@model EPMS.Web.ViewModels.RightsManagement.RightsManagementViewModel

@{
    ViewBag.Title = "Rights Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Navigation Bar -->
<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title </small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")

@using (Html.BeginForm("RightsManagement", "RolesAdmin"))
{
    <div class="container-fluid">

        @*<h2 class="page-header">Rights Management</h2>*@

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-horizontal">
            <div class="control-group row-fluid">
                <div class="span1">
                    <label class="control-label" style="font-weight: bold">Role</label>
                </div>
                <div class="span3">
                    @Html.DropDownListFor(x => x.SelectedRoleId, new SelectList(Model.Roles, "Id", "Name"), new { @class = " mandatory form-control", onchange = "this.form.submit();" })
                </div>
            </div>
            @foreach (var item in @Model.Rights.Where(item => item.IsParent))
            {
                <div class="control-group row-fluid area">
                    <div class="span3 areaItem">
                        @Html.CheckBoxFor(m => item.IsSelected, new { value = item.MenuId, @class = "parentCheckbox" })
                        <h5 class="areaLabel">@item.MenuTitle</h5>
                        @*<label style="padding-left:10px;font-weight: 700">@item.MenuTitle</label>*@
                    </div>

                    @foreach (var childItems in @Model.Rights.Where(childItem => childItem.ParentId == item.MenuId))
                    {
                        <div class="control-group row-fluid childItem">
                            <div class="span12">
                                @Html.CheckBoxFor(m => childItems.IsSelected, new { value = childItems.MenuId, @class = "childCheckbox" })
                                @*<label class="controllerLabel">@childItems.MenuTitle</label>*@
                                <h6 class="controllerLabel">@childItems.MenuTitle</h6>
                            </div>

                            <div class="control-group row-fluid childItem">
                                @foreach (var actions in @Model.Rights.Where(actions => actions.ParentId == childItems.MenuId))
                                {

                                    <div class="span2">
                                        @Html.CheckBoxFor(m => actions.IsSelected, new { value = actions.MenuId, @class = "childCheckbox actionChek" })
                                        <label class="actionLabel">@actions.MenuTitle</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="control-group row-fluid">
                <div class="span3 span-inset">
                    @Html.ActionLink("Save", "PostRightsManagement", new { roleValue = "SelectedRoleValue", selectedList = "SelectedListValues" }, new { @class = "btn", id = "btnSave" })
                </div>
            </div>
        </div>
    </div>
}


<script>
    $("#btnSave").click(function (evt) {
        $("#btnSave").prop("href", ProcessValue($("#btnSave").prop("href")));
    });

    function ProcessValue(fakedUri) {
        var uri = fakedUri.replace("SelectedRoleValue", $('#SelectedRoleId').val());
        uri = uri.replace("SelectedListValues", getSelectedList());
        return uri;
    }

    function getSelectedList() {
        var selectedList = "";
        $("input:checkbox:checked").each(function () {
            if ($(this).attr('value') != undefined && $(this).attr('value').length > 0) {
                selectedList += $(this).attr('value') + ",";
            }
        });
        if (selectedList.length > 1)
            selectedList = selectedList.substring(0, selectedList.length - 1);
        return selectedList;
    }

    // Checkbox Checked event
    //$("input:checkbox").on('change', function () {
    //    var element = $(this);
    //    // Is Parent
    //    if (element.hasClass("parentCheckbox")) {
    //        var childRow = element.parent("div").nextAll("div");
    //        $.each(childRow.children().children("input:checkbox"), function (index, child) {
    //            $(child).prop('checked', element[0].checked);
    //        });
    //    } else {
    //        if (element[0].checked) {
    //            element.closest("childCheckbox").prev().children().children("input:checkbox").prop('checked', true);
    //        } else {
    //            var nextCheckboxes = element.parent("actionChek").nextAll().children("input:checkbox");
    //            var prevCheckboxes = element.parent("actionChek").prevAll().children("input:checkbox");
    //            if (nextCheckboxes.filter(":checked").length === 0 && prevCheckboxes.filter(":checked").length === 0) {
    //                element.closest("childCheckbox").prev().children().children("input:checkbox").prop('checked', false);
    //            }
    //        }
    //    }
    //});

</script>

