@model EPMS.WebModels.ViewModels.RightsManagement.RightsManagementViewModel

@{
    ViewBag.Title = EPMS.WebModels.Resources.UserManagement.RightsManagement.RightsManagementText;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    //string[] modules = (string[])Session["UserModules"];
    bool ispermissionToModule = true;
    bool ispermissionToSubModule = true;
}

<style>
    .chkbMargin {
        margin-right: -20px !important;
    }
</style>
<!-- Navigation Bar -->
<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title </small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")

@using (Html.BeginForm("RightsManagement", "RolesAdmin"))
{
    <div class="container-fluid">

        @*<h2 class="page-header">Rights Management</h2>*@

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-horizontal">
            <div class="control-group row-fluid">
                <div class="span1">
                    <label class="control-label" style="font-weight: bold">@EPMS.WebModels.Resources.UserManagement.RightsManagement.Role</label>
                </div>
                <div class="span3">
                    @Html.DropDownListFor(x => x.SelectedRoleId, new SelectList(Model.Roles, "Id", "Name"), new { @class = " mandatory form-control", onchange = "this.form.submit();" })
                </div>
            </div>
            @foreach (var item in Model.Rights.Where(item => item.IsParent))
            {
                @*string menuTitle = item.MenuTitle;
                switch (menuTitle)
                {
                    case "Dashboard":
                        ispermissionToModule = modules.Contains("Dashboard");
                        break;
                    case "Human Resources System":
                        ispermissionToModule = modules.Contains("Human Resources System");
                        break;
                    case "Project Management System":
                        ispermissionToModule = modules.Contains("Project Management System");
                        break;
                    case "Alert System":
                        ispermissionToModule = modules.Contains("Alert System");
                        break;
                    case "Contacts List":
                        ispermissionToModule = modules.Contains("Contacts List");
                        break;
                    case "Company Profile":
                        ispermissionToModule = modules.Contains("Company Profile");
                        break;
                    case "Customer Service":
                        ispermissionToModule = modules.Contains("Customer Service");
                        break;
                    case "Meetings":
                        ispermissionToModule = modules.Contains("Meetings");
                        break;
                    case "Help":
                        ispermissionToModule = modules.Contains("Help");
                        break;
                    case "User Management":
                        ispermissionToModule = true;
                        break;
                    case "Inventory System":
                        ispermissionToModule = modules.Contains("Inventory System");
                        break;
                    case "Website":
                        ispermissionToModule = modules.Contains("Website");
                        break;
                    case "Reports":
                        ispermissionToModule = modules.Contains("Reports");
                        break;
                    default:
                        ispermissionToModule = false;
                        break;
                }*@
                if (ispermissionToModule)
                {
                    <div class="control-group row-fluid area">
                        <div class="span3 areaItem">
                            @if (direction == "ltr")
                            {
                                @Html.CheckBoxFor(m => item.IsSelected, new { value = item.MenuId, @class = "parentCheckbox" })
                                <h4 class="areaLabel">@item.MenuTitle</h4>
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => item.IsSelected, new { value = item.MenuId, @class = "parentCheckbox chkbMargin" })
                                <h4 class="areaLabel">@item.MenuTitleA</h4>
                            }
                            @*<label style="padding-left:10px;font-weight: 700">@item.MenuTitle</label>*@
                        </div>
                        @foreach (var childItems in Model.Rights.Where(childItem => childItem.ParentId == item.MenuId))
                        {
                            @*string key = childItems.PermissionKey;
                            switch (key)
                            {
                                case "ProjectsTasksReport":
                                    ispermissionToSubModule = modules.Contains("ProjectsTasksReport");
                                    break;
                                case "CustomerServiceReport":
                                    ispermissionToSubModule = modules.Contains("CustomerServiceReport");
                                    break;
                                case "InventorySystemReports":
                                    ispermissionToSubModule = modules.Contains("InventorySystemReports");
                                    break;
                                default:
                                    <div class="control-group row-fluid childItem">
                                        <div class="span12">
                                            @if (direction == "ltr")
                                            {
                                                @Html.CheckBoxFor(m => childItems.IsSelected, new { value = childItems.MenuId, @class = "childCheckbox" })
                                                <h5 class="controllerLabel">@childItems.MenuTitle</h5>
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(m => childItems.IsSelected, new { value = childItems.MenuId, @class = "childCheckbox chkbMargin" })
                                                <h5 class="controllerLabel">@childItems.MenuTitleA</h5>
                                            }
                                            <div class="control-group row-fluid childItem">
                                                @foreach (var actions in @Model.Rights.Where(actions => actions.ParentId == childItems.MenuId))
                                                {
                                                    <div class="span2">
                                                        @if (direction == "ltr")
                                                        {
                                                            @Html.CheckBoxFor(m => actions.IsSelected, new { value = actions.MenuId, @class = "childCheckbox actionChek" })
                                                            <label class="actionLabel">@actions.MenuTitle</label>
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(m => actions.IsSelected, new { value = actions.MenuId, @class = "childCheckbox actionChek chkbMargin" })
                                                            <label class="actionLabel">@actions.MenuTitleA</label>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                                break;
                            }*@
                            if (ispermissionToSubModule)
                            {
                                <div class="control-group row-fluid childItem">
                                    <div class="span12">
                                        @*<label class="controllerLabel">@childItems.MenuTitle</label>*@
                                        @if (direction == "ltr")
                                        {
                                            @Html.CheckBoxFor(m => childItems.IsSelected, new { value = childItems.MenuId, @class = "childCheckbox" })
                                            <h5 class="controllerLabel">@childItems.MenuTitle</h5>
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(m => childItems.IsSelected, new { value = childItems.MenuId, @class = "childCheckbox chkbMargin" })
                                            <h5 class="controllerLabel">@childItems.MenuTitleA</h5>
                                        }
                                        <div class="control-group row-fluid childItem">
                                            @foreach (var actions in @Model.Rights.Where(actions => actions.ParentId == childItems.MenuId))
                                            {
                                                <div class="span2">
                                                    @if (direction == "ltr")
                                                    {
                                                        @Html.CheckBoxFor(m => actions.IsSelected, new { value = actions.MenuId, @class = "childCheckbox actionChek" })
                                                        <label class="actionLabel">@actions.MenuTitle</label>
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBoxFor(m => actions.IsSelected, new { value = actions.MenuId, @class = "childCheckbox actionChek chkbMargin" })
                                                        <label class="actionLabel">@actions.MenuTitleA</label>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            }


                        }
                    </div>
                }
            }
            <div class="control-group row-fluid">
                <div class="span3 span-inset">
                    @Html.ActionLink(EPMS.WebModels.Resources.UserManagement.RightsManagement.Btn_Save, "PostRightsManagement", new { roleValue = "SelectedRoleValue", selectedList = "SelectedListValues" }, new { @class = "btn", id = "btnSave" })
                </div>
            </div>
        </div>
    </div>
}
<script>
    $("#btnSave").click(function (evt) {
        $("#btnSave").prop("href", ProcessValue($("#btnSave").prop("href")));
    });

    function ProcessValue(fakedUri) {
        var uri = fakedUri.replace("SelectedRoleValue", $('#SelectedRoleId').val());
        uri = uri.replace("SelectedListValues", getSelectedList());
        return uri;
    }

    function getSelectedList() {
        var selectedList = "";
        $("input:checkbox:checked").each(function () {
            if ($(this).attr('value') != undefined && $(this).attr('value').length > 0) {
                selectedList += $(this).attr('value') + ",";
            }
        });
        if (selectedList.length > 1)
            selectedList = selectedList.substring(0, selectedList.length - 1);
        return selectedList;
    }


</script>
