@model EPMS.Web.ViewModels.Employee.EmployeeViewModel

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MessageVM = TempData["message"];
}
<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="dashboard-En.html">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/HR/Employee/Employees">
                Employees' List
            </a>
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    <h3><small><a href="~/HR/Employee/Create">Add New</a></small></h3>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->

<form class="form-horizontal">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="employeeTable" class="table table-striped table-responsive">
                    <thead class="cf sorthead">
                        <tr>
                            <th></th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Job Id</th>
                            <th>Job Title</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var siteUrl = $('#siteURL').val();
        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];
        var oTable = $('#employeeTable').dataTable({
            "iDisplayLength": 11,
            "iDisplayStart": start || 0,
            "aaSorting": [sortBy],
            //"bProcessing": true,
            "bServerSide": true,
            "bFilter": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeId"];
                    },
                    "bVisible": false,
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeImagePath"];
                    },
                },
                {
                    "aTargets": [2],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var val = full["EmployeeFullName"];
                        var empId = full["EmployeeId"];
                        var element = '<a href="Create/'+empId+'">'+val+'</a>';
                        return element;
                    }
                },
                {
                    "aTargets": [3],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["JobTitleId"];
                    }
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["JobTitleName"];
                    }
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["DepartmentName"];
                    }
                }
            ],
            "sAjaxSource": siteUrl + "/Employee/Employees",
            "sServerMethod": "POST",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "more_data", "value": "my_value" });
            }
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
        

        //$('#btnFltr').on('click', function () {
        //    oTable.fnDraw();
        //});

        //$(".getJobTitles").on("change", function () {
        //    $.blockUI.defaults.css.textColor = "red";
        //    $('#mainbar').block({
        //        message: '<img src="/Content/Images/spinner.gif" style="width:5%; height:5%;"> Processing, please wait...',
        //        css: { border: '1px solid #F13E46' }
        //    });
        //    setTimeout(function () {
        //        var depId = $("#Department_DepartmentId").val();
        //        if (depId > 0) {
        //            $('#SearchRequest_EmployeeJobId').empty();
        //            $.ajax({
        //                url: siteUrl + "GetJobTitles",
        //                type: 'GET',
        //                dataType: "json",
        //                data: {
        //                    deptId: depId
        //                },
        //                success: function (data) {
        //                    $('#mainbar').unblock();
        //                    populateDdl(data);
        //                },
        //                error: function (e) {
        //                    alert('Error=' + e.toString());
        //                }
        //            });
        //        } else {
        //            $('#mainbar').unblock();
        //            $('#SearchRequest_JobId').empty();
        //        }
        //    }, 1000);

        //});
        //function populateDdl(data) {
        //    for (var i = 0; i < data.length; i++) {
        //        $('#SearchRequest_EmployeeJobId').append("<option value='" + data[i].JobTitleId + "'>" + data[i].JobTitleName + "</option>");
        //    }
        //}
        //// Edit
        //$('#employeeTable').on('click', '#edit', function (e) {
        //    e.preventDefault();
        //    var nRow = $(this).parents('tr')[0];
        //    var aData = oTable.fnGetData(nRow);
        //    window.location.href = siteUrl + "/Employee/AddEdit?id=" + aData.EmployeeId;
        //});
        //// Delete
        //$('#employeeTable').on('click', '#delete', function (e) {
        //    e.preventDefault();

        //    if (confirm("Are you sure to delete this record ?") == false) {
        //        return;
        //    }

        //    var nRow = $(this).parents('tr')[0];
        //    var aData = oTable.fnGetData(nRow);
        //    var serviceUrl = siteUrl + '/Employee/Delete';
        //    $.ajax({
        //        type: "POST",
        //        url: serviceUrl,
        //        data: "{ employeeId:" + aData.EmployeeId + "}",
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        complete: function (data) {
        //            if (data.responseJSON.status === 200) {
        //                successFunc(data);
        //            }
        //            else {
        //                errorFunc(data);
        //            }
        //        }
        //    });

        //    function successFunc(data) {

        //        var totalRcd = oTable.fnSettings().fnRecordsTotal() - 1,//as success deleted one row
        //            displayStart = oTable.fnSettings()._iDisplayStart,
        //            displayLength = oTable.fnSettings()._iDisplayLength;

        //        oTable.fnDeleteRow(nRow, null, false);
        //        var page = Math.ceil(displayStart / displayLength);

        //        if (totalRcd <= displayStart) {
        //            oTable.fnPageChange(page - 1);
        //        }
        //        else {
        //            oTable.fnPageChange(page);
        //        }
        //        toastr.success(data.responseJSON.response);
        //    }
        //    function errorFunc(error) {
        //        toastr.error(error.responseJSON.response);
        //    }
        //});
    });
</script>
