@model EPMS.Web.ViewModels.Employee.EmployeeViewModel

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MessageVM = TempData["message"];
}
<!-- Navigation Bar -->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="dashboard-En.html">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            Employees' List
        </li>
    </ul>
</div>
<!-- Page heading -->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
    <h3><small><a href="~/HR/Employee/Create">@EPMS.Web.Resources.HR.Employee.AddNew</a></small></h3>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
<!-- Page heading ends -->

<form class="form-horizontal">
    @Html.HiddenFor(model => model.SearchRequest.SearchStr, new { id = "searchString" });
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="employeeTable" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@EPMS.Web.Resources.HR.Employee.Image</th>
                            <th>@EPMS.Web.Resources.HR.Employee.Name</th>
                            <th>@EPMS.Web.Resources.HR.Employee.JobId</th>
                            <th>@EPMS.Web.Resources.HR.Employee.JobTitle</th>
                            <th>@EPMS.Web.Resources.HR.Employee.Department</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var siteUrl = $('#siteURL').val();
        var oTable = $('#employeeTable').dataTable({
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeId"];
                    },
                    "bVisible": false,
                    "bSortable": false
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeImagePath"];
                    },
                    "bSortable": false
                },
                {
                    "aTargets": [2],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var val = full["EmployeeNameE"];
                        var empId = full["EmployeeId"];
                        var element = '<a href="Create/' + empId + '">' + val + '</a>';
                        return element;
                    }
                },
                {
                    "aTargets": [3],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        return full["EmployeeJobId"];
                    }
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var jobTItle = full["JobTitle"];
                        return jobTItle.JobTitleNameE;
                    }
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var jobTitle = full["JobTitle"];
                        var dept = jobTitle.DepartmentNameE;
                        return dept;
                    }
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "search", "value": $('input').val() });
            },
            "sAjaxSource": siteUrl + "/Employee/Index",
            "sServerMethod": "POST",
            "oLanguage": {
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            },
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
        //$(".dataTables_length select label").hide();
        //$(".dataTables_length label").text("");

        $(".dataTables_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                if (this.value.length >= 3 || e.keyCode == 13) {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                if (this.value == "") {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                return;
            });
    });
</script>
