@using System.Configuration
@using ProductSection = EPMS.WebModels.WebsiteModels.ProductSection
@model EPMS.WebModels.ViewModels.Website.Department.DepartmentDetailViewModel

@{
    ViewBag.Title = EPMS.WebModels.Resources.WebsiteClient.Home.Home.DepartmentDetail;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var rootProducts = Model.ProductSections.Where(x => x.ParentSectionId == null).ToList();
    var direction = EPMS.Website.Resources.Shared.Common.TextDirection;
    var cpLink = ConfigurationManager.AppSettings["CpLink"];
    var Date = DateTime.Now;
    var siteURL = ConfigurationManager.AppSettings["SiteURL"];
    string link = "";
}


<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>

    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">@EPMS.WebModels.Resources.WebsiteClient.Common.Common.HomePage</a></li>
                </ul>
                <span id="current-date">@Date.ToString("dddd, dd MMMM yyyy")</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>@EPMS.WebModels.Resources.WebsiteClient.Home.Home.OurDepartments</h2>
                </div>
            </div>
        </div><!-- end row -->
    </div>
    <div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
    <div class="container">

        <div id="mainbody">

            <div class="row">
                <div class="span9 rightSide directionR">
                    <h1 class="page-title">@(direction == "ltr" ? Model.WebsiteDepartment.NameEn : Model.WebsiteDepartment.NameAr)</h1>


                    <div class="itemView clearfix eBlog">

                        <div class="itemBody">
                            <p><a href="#" class="hoverBorder pull-left"><img src="@cpLink/Images/Department/@Url.Content(Model.WebsiteDepartment.ImageName)" /></a></p>
                            <p style="text-align: justify" class="@Model.WebsiteDepartment.DepartmentId"></p>
                            <script>
                                var descp = '@Html.Raw(Model.WebsiteDepartment.Description)';
                                var regex = /(<([^>]+)>)/ig;
                                var result = descp.replace(regex, "");
                                $("." + '@Model.WebsiteDepartment.DepartmentId').text(result);
                            </script>
                        </div><!-- end item body -->
                        <div class="clear"></div>




                    </div>
                    <!-- End Item Layout -->
                </div>


                <div class="span3  directionR">
                    <h1 class="page-title">@EPMS.WebModels.Resources.WebsiteClient.Home.Home.PoductClassification</h1>
                    <div class="css-treeview">
                        <ul>
                            <li class="phy">
                                @foreach (var productSection in rootProducts)
                                {
                                    var childName = "";
                                    if (direction == "ltr")
                                    {
                                        childName = string.IsNullOrEmpty(productSection.SectionNameEn) ? productSection.InventoryDepartment.DepartmentNameEn : productSection.SectionNameEn;
                                    }
                                    else
                                    {
                                        childName = string.IsNullOrEmpty(productSection.SectionNameAr) ? productSection.InventoryDepartment.DepartmentNameAr : productSection.SectionNameAr;
                                    }

                                    {
                                        if (productSection.InventoyDepartmentId != null)
                                        {
                                            link = siteURL + "/Product/Index/" + productSection.InventoyDepartmentId + "?from=Inventory";
                                        }
                                        else
                                        {
                                            link = siteURL + "/Product/Index/" + productSection.SectionId + "?from=Sections";
                                        }
                                    }
                                    <input type="checkbox" id="item-0" />
                                    <label for="item-0"><a href="@link">@childName</a></label>
                                    if (productSection.InventoryDepartment != null)
                                    {
                                        <ul>
                                            @foreach (var department in productSection.InventoryDepartment.InventoryDepartments)
                                            {
                                                <li class="phy">
                                                    @{
                                                childName = direction == "ltr" ? department.DepartmentNameEn : department.DepartmentNameAr;
                                                link = siteURL + "/Product/Index/" + department.DepartmentId + "?from=Inventory";
                                                <input type="checkbox" id="item-0-0" />
                                                        <label for="item-0-0"><a href="@link">@childName</a></label>
                                                    }
                                                    @if (department.InventoryDepartments.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var childDepartment in department.InventoryDepartments)
                                                            {
                                                                <li class="phy">
                                                                    @{
                                                                childName = direction == "ltr" ? childDepartment.DepartmentNameEn : childDepartment.DepartmentNameAr;
                                                                link = siteURL + "/Product/Index/" + childDepartment.DepartmentId + "?from=Inventory";
                                                                <input type="checkbox" id="item-0-0-0" />
                                                                        <label for="item-0-0-0"><a href="@link">@childName</a></label>
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }

                                        </ul>
                                    }
                                    if (productSection.ProductSections != null && productSection.ProductSections.Any())
                                    {
                                        <ul>
                                            @foreach (var section in productSection.ProductSections)
                                            {
                                                <li class="phy">
                                                    @{
                                                childName = direction == "ltr" ? section.SectionNameEn : section.SectionNameAr;
                                                link = siteURL + "/Product/Index/" + section.SectionId + "?from=Sections";
                                                <input type="checkbox" id="item-0-0" />
                                                        <label for="item-0-0"><a href="@link">@childName</a></label>
                                                    }
                                                    @if (section.ProductSections.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var subSection in section.ProductSections)
                                                            {
                                                                <li class="phy">
                                                                    @{
                                                                childName = direction == "ltr" ? subSection.SectionNameEn : subSection.SectionNameAr;
                                                                link = siteURL + "/Product/Index/" + subSection.SectionId + "?from=Sections";
                                                                <input type="checkbox" id="item-0-0-0" />
                                                                        <label for="item-0-0-0"><a href="@link">@childName</a></label>
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }

                                        </ul>
                                    }
                                    <br />
                                }
                            </li>

                        </ul>
                    </div>

                    <h1 class="page-title margintop10">@EPMS.WebModels.Resources.WebsiteClient.Common.Common.Catalog</h1>
                    <a href="~/Catalogue/Index"><img src="@siteURL/images/shop_images/catalog.jpg"></a>

                </div>


            </div><!-- end row -->

        </div><!-- end mainbody -->

    </div><!-- end container -->
</section><!-- end #content -->
