@using System.Configuration
@model EPMS.WebModels.ViewModels.Website.Home.WebsiteHomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MASAR Scientific Company";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
    var cpLink = ConfigurationManager.AppSettings["CpLink"];
}
@{Html.RenderAction("Index", "WebsiteSlider", new { area = "" });}


<div id="action_box" data-arrowpos="center">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div><!-- end action box -->

<section id="content">
    <div class="container">
        <div class="row image-boxes imgboxes_style1 catagoryBox">
            <h3>Main Departments</h3>
            @foreach (var department in Model.WebsiteDepartments)
            {
                <div class="span4 box">
                    <a href="/Home/DepartmentDetail/@department.DepartmentId" class="hoverBorder">
                        @if (!string.IsNullOrEmpty(department.ImageName))
                        {
                            <img src='@cpLink/Images/Department/@Url.Content(department.ImageName)' alt="" />
                        }
                        else
                        {
                            <img src="~/images/noimage_department.png" alt="" />
                        }
                        <h6>For More +</h6>
                    </a>
                    <h3 class="m_title">@(direction == "ltr" ? department.NameEn : department.NameAr)</h3>
                    <p style="text-align: justify" class="descp-@department.DepartmentId"></p>
                    <script>
                        var descp = '@Html.Raw(department.Description)';
                        var regex = /(<([^>]+)>)/ig;
                        var result = descp.replace(regex, "");
                        jQuery(".descp-@department.DepartmentId").text(result);
                    </script>
                </div>
            }
        </div>
        <!-- end row // imgboxes_style1 -->
    </div>

    <div class="container">
        <div class="row partners_carousel">
            <div class="span2 floatRight">
                <h3 class="title"><span>Our Partners</span></h3>
                <div class="controls">
                    <a href="#" class="prev"><span class="icon-chevron-left"></span></a>
                    <a href="#" class="next"><span class="icon-chevron-right"></span></a>
                </div>
            </div>
            <div class="span10">
                <ul id="partners_carousel" class="fixclear">
                    @foreach (var partner in Model.Partners)
                    {
                        <li style="height: 103px"><a href="http://@partner.Link" target="_blank"><img src="@cpLink/Images/Partner/@Url.Content(partner.ImageName)" alt="" /></a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- end row // partners carousel -->

        <div class="row">
            <div class="span12">
                <div class="keywordbox"> We always provide you the best we can to help you get what you want </div>
            </div>
        </div><!-- end row // keywords-->

    </div>
    <!-- end container -->
</section><!-- end #content -->

<script>
    jQuery(document).ready(function ($) {
        var divId = '@Model.Div';
        var width = '@Model.Width';
        if (divId != '') {
            if (divId == "resetpassword_panel") {
                var code = '@Model.Code';
                var userId = '@Model.UserId';
                if (code != '') {
                    setTimeout(function () {
                        jQuery.fn.prettyPhoto({ social_tools: false, deeplinking: false, show_title: false, default_width: width, theme: 'pp_kalypso' });
                        jQuery.prettyPhoto.open("#" + divId);
                    }, 300);
                    setTimeout(function () {
                        jQuery("#reset-code").val(code);
                        jQuery("#user-id").val(userId);
                    }, 400);
                }
            } else {
                setTimeout(function () {
                    jQuery.fn.prettyPhoto({ social_tools: false, deeplinking: false, show_title: false, default_width: width, theme: 'pp_kalypso' });
                    jQuery.prettyPhoto.open("#" + divId);
                }, 300);
            }
        }

    });
</script>