@model  EPMS.Web.ViewModels.RFI.RFIViewModel
@{
    ViewBag.Title = Model.Rfi.RFIId > 0 ? EPMS.Web.Resources.RFI.RFI.EditPageTitle : EPMS.Web.Resources.RFI.RFI.CreatePageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
}


<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Inventory/RFI/Index">
                @EPMS.Web.Resources.RFI.RFI.ListPageBreadCrumb
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@EPMS.Web.Resources.RFI.RFI.CreatePageBreadCrumb</a>
        </li>
    </ul>
</div>

<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.RFI.RFI.CreatePageHeading</small></h2>
</header>

<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
@using (Html.BeginForm("Create", "RFI", FormMethod.Post, new { @id = "RFIForm", @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x=>x.Rfi.RFIId)
    @Html.HiddenFor(x => x.Rfi.ManagerId)
    @Html.HiddenFor(x => x.Rfi.RecCreatedBy)
    @Html.HiddenFor(x => x.Rfi.RecCreatedDate)
    <div class="container-fluid">
        @if (ViewBag.HasCustomerModule)
        {
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="MaritalStatus">@EPMS.Web.Resources.RFI.RFI.Client </label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @(direction == "ltr" ? Html.DropDownListFor(x => x.Rfi.CustomerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameE"), EPMS.Web.Resources.PMS.Project.SelectClientName, new { @class = "select2me", @id = "Client" }) : Html.DropDownListFor(x => x.Rfi.CustomerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameA"), EPMS.Web.Resources.PMS.Project.SelectClientName, new { @class = "select2me", @id = "Client" }))
                        @Html.ValidationMessageFor(m => m.Rfi.CustomerId, String.Empty, new { @class = "required" })
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="MaritalStatus">@EPMS.Web.Resources.RFI.RFI.OrderNameOrderNo </label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @if (Model.Rfi.OrderId > 0)
                        {
                            @Html.DropDownListFor(m => m.Rfi.OrderId, new SelectList(Model.Orders, "OrderId", "OrderNo"), "", new { @class = "select2me", @id = "OrderNo" })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Rfi.OrderId, Enumerable.Empty<SelectListItem>(), "none", new { @class = "select2me", @id = "OrderNo" })
                        }
                        @Html.ValidationMessageFor(m => m.Rfi.OrderId, String.Empty, new { @class = "required" })
                    </div>
                </div>
            </div>
        }
        
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="createdBy">@EPMS.Web.Resources.RFI.RFI.CreatedBy  </label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Rfi.RequesterName, new { @readonly = true, @id = "createdBy" })
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="greeting">@EPMS.Web.Resources.RFI.RFI.Usage</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Rfi.UsageE)
                </div>
                @Html.ValidationMessageFor(m => m.Rfi.UsageE, String.Empty, new { @class = "required" })

            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="greetinga">@EPMS.Web.Resources.RFI.RFI.UsageArabic</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Rfi.UsageA)
                </div>
                @Html.ValidationMessageFor(m => m.Rfi.UsageA, String.Empty, new { @class = "required" })
            </div>
        </div>
        <!--Input Field end-->
        <!--WYSIWYG Editor - Minimum Options begin-->
        <div id="WYSIWYG_Editor_-_Minimum_Options" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.ExcelImport</label>
            </div>
            <div class="span9">
                <div class="controls elrte-wrapper">
                    <textarea id="tiny" rows="2" class="auto-resize"></textarea>
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="button" id="importEx" class="btn">@EPMS.Web.Resources.RFI.RFI.Import</button>
            </div>
            <div class="span3 span-inset">
                <button type="button" id="itemFromOrder" class="btn">@EPMS.Web.Resources.RFI.RFI.ImportItemsFromOrder</button>
            </div>
        </div>
        <!--WYSIWYG Editor - Minimum Options end-->
        <!--Basic Responsive Table begin-->
        <div class="row-fluid" id="ress">
            <div class="span12">
                <table class="table table-striped table-responsive ">
                    <thead class="">
                        <tr>
                            <th>@EPMS.Web.Resources.Shared.Common.Serial</th>
                            <th style="width: 85%">@EPMS.Web.Resources.RFI.RFI.ItemDetails</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.Quantity</th>

                            <th style="width: 4%">@EPMS.Web.Resources.RFI.RFI.Delete</th>
                        </tr>
                    </thead>
                    <tbody class="qouteAdd" id="RFIItemsTableBody">
                        @if (Model.RfiItem.Any())
                        {
                            for (int i = 0; i < Model.RfiItem.Count(); i++)
                            {
                                <tr data-id=@i>
                                    <td style='display:none'>
                                        <input name='RfiItem.Index' type='hidden' value=@i />
                                        
                                        @Html.HiddenFor(m => m.RfiItem[i].IsItemDescription)
                                        @Html.HiddenFor(m => m.RfiItem[i].IsItemSKU)
                                        @Html.HiddenFor(m => m.RfiItem[i].ItemVariationId)
                                        @Html.HiddenFor(m => m.RfiItem[i].RFIItemId)
                                    </td>
                                    <td>
                                        <div class="control-group row-fluid">
                                            <div class="span1">
                                                <label class="control-label serialNumber">@(i+1)</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(m => m.RfiItem[i].ItemDetails, new { @class = "auto-resize",@rows=2 })
                                        
                                        <button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher">+</button>
                                        @Html.ValidationMessageFor(m => m.RfiItem[i].ItemDetails)
                                    </td>
                                    <td class="quantity">
                                        @Html.TextBoxFor(m => m.RfiItem[i].ItemQty, new { @class = "n1", @rows = 2 })
                                        @Html.ValidationMessageFor(m => m.RfiItem[i].ItemQty,null, new { @class = "required"})
                                    </td>


                                    <td class="delete">
                                        <i class="icon-photon minus deleteRow"></i>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr data-id="0">
                                <td style='display:none'>
                                    <input name='RfiItem.Index' type='hidden' value='0' />
                                    <input name='RfiItem[0].IsItemDescription' id='RfiItem_0__IsItemDescription' type='hidden' />
                                    <input name='RfiItem[0].IsItemSKU' id='RfiItem_0__IsItemSKU' type='hidden' />
                                    <input name='RfiItem[0].ItemVariationId' id='RfiItem_0__ItemVariationId' type='hidden' />
                                </td>
                                <td>
                                    <div class="control-group row-fluid">
                                        <div class="span1">
                                            <label class="control-label serialNumber">1</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <textarea rows="2" id='RfiItem_0__ItemDetails' class="auto-resize" data-val="true" data-val-required="The Item Details field is required." name="RfiItem[0].ItemDetails"></textarea>
                                    <button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher">+</button>
                                    <span class="field-validation-valid required" data-valmsg-for="RfiItem[0].ItemDetails" data-valmsg-replace="true"></span>
                                </td>
                                <td class="quantity">
                                    <input class="n1" type="text" name="RfiItem[0].ItemQty" value="0" data-val="true" data-val-number="The field Item Qty must be a number." data-val-range="Please enter valid quantity" data-val-range-max="2147483647" data-val-range-min="1" data-val-required="The Item Qty field is required.">
                                    <span class="field-validation-valid required" data-valmsg-for="RfiItem[0].ItemQty" data-valmsg-replace="true"></span>
                                </td>


                                <td class="delete">
                                    <i class="icon-photon minus deleteRow"></i>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>

            <div class="control-group row-fluid">
                <div class="span3 span-inset">
                    <button type="button" class="btn trAdder">@EPMS.Web.Resources.RFI.RFI.Add</button>

                </div>
            </div>
        </div>
        <!--Basic Responsive Table end-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(m => m.Rfi.NotesE, new { @id = "RFINotesE" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(m => m.Rfi.NotesA, new { @id = "RFINotesA" })
                </div>
            </div>
        </div>
       
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn">@EPMS.Web.Resources.RFI.RFI.Submit</button>
            </div>
        </div>
    </div>
        <!-- end container -->
}



@section popups
{
    @Html.Partial("_ItemsPopUp")
}
<script src="~/RichTextEditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('RFINotesE', {
            filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
        });
        CKEDITOR.replace('RFINotesA', {
            filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
        });

        $("#selectBoxFilter").select2();
        // set JobId and Department Name
        $("#Client").on("change", function () {
            $("#OrderNo").empty();
            var clientId = $(this).val();
            if (clientId != "") {
                $("#OrderNo").append(
                    $('<option></option>').val(0).html("- Select Order -")
                );
                var orders = '@Html.Raw(Json.Encode(Model.Orders))';
                var parsedOrders = JSON.parse(orders);

                $.each(parsedOrders, function (key, value) {
                    if (value.CustomerId == clientId) {
                        $("#OrderNo").append(
                            $('<option></option>').val(value.OrderId).html(value.OrderNo)
                        );
                    }
                });
            } else {
                $("#OrderNo").append(
                    $('<option></option>').val(0).html("none")
                );
            }
            $(".select2me").select2("destroy");
            $('.select2me').select2({
                placeholder: "Select",
            });
        });

        

        $('.trAdder').on("click", function () {
            var index = $("#RFIItemsTableBody").children("tr").length;
            var indexCell = "<td style='display:none'>" +
                "<input name='RfiItem.Index' type='hidden' value='" + index + "' />" +
                "<input name='RfiItem[" + index + "].IsItemDescription' id='RfiItem_" + index + "__IsItemDescription' type='hidden' />" +
                "<input name='RfiItem[" + index + "].IsItemSKU' id='RfiItem_" + index + "__IsItemSKU' type='hidden' />" +
                "<input name='RfiItem[" + index + "].ItemVariationId' id='RfiItem_" + index + "__ItemVariationId' type='hidden' />" +
                "</td>";
            //RfiItem
            var html = ' <tr data-id=' + index + '>' +
                indexCell +
                '<td>' +
                '<div class="control-group row-fluid">' +
                '<div class="span1">' +
                '<label class="control-label serialNumber"  ></label>' +
                '</div></div>' +
                '</td>' +
                '<td> <textarea rows="2"  class="auto-resize"  id="RfiItem_' + index + '__ItemDetails" name="RfiItem[' + index + '].ItemDetails" data-val="true" data-val-required="The Item Details field is required."></textarea>' +
                '<button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher" >+</button>' +
                '<span class="field-validation-valid required" data-valmsg-for="RfiItem[' + index + '].ItemDetails" data-valmsg-replace="true"></span>' +
                '</td>' +
                '<td class="quantity"> ' +
                '<input class="n1" type="text" id="RfiItem_' + index + '_ItemQty" name="RfiItem[' + index + '].ItemQty" data-val="true" data-val-number="The field Item Qty must be a number." data-val-range="Please enter valid quantity" data-val-range-max="2147483647" data-val-range-min="1" data-val-required="The Item Qty field is required." value=0>' +
                '<span class="field-validation-valid required" data-valmsg-for="RfiItem[' + index + '].ItemQty" data-valmsg-replace="true"></span>' +
                '</td>' +
                '<td class="delete"> <i class="icon-photon minus deleteRow"></i>' +
                '</td></tr>';

            $('.qouteAdd').append(html);

            //remove validation
            $("form").removeData("validator").removeData("unobtrusiveValidation");

            //Parse the form again to apply new validations
            $.validator.unobtrusive.parse("form");

            activateSerial();
            reActivateDelete();
        });
        reActivateDelete();

        function reActivateDelete() {
            $('.deleteRow').on("click", function () {
                var count = $('.qouteAdd tr').length;
                if (count > 1) {
                    $(this).parent().parent().remove();
                }
                activateSerial();
            });
        }

        function activateSerial() {
            var count = $('.qouteAdd tr').length;
            var add = 0;
            $('.qouteAdd tr').each(function () {
                add++;
                $(this).find(".serialNumber").text(add);
            });
        }


        $("#importEx").on("click", function () {

            var excel = $("#WYSIWYG_Editor_-_Minimum_Options iframe").contents().find("body table");
            var coln = $(excel).find("tr:first td").length;
            var count = 0;
            var x = 0;
            if (coln == 2) {
                var index = 1;
                $(excel).find("tr").each(function () {
                    var y = 0;
                    var t1 = "";
                    var t2 = 0;
                    var t3 = 0;
                    var t4 = 0;


                    $(this).find("td").each(function () {


                        if (y == 0) {
                            t1 = $(this).text();

                        } else if (y == 1) {
                            t2 = parseInt($(this).text());
                        } else if (y == 2) {
                            t3 = parseInt($(this).text());
                        }

                        y++;
                    });

                    t4 = t3 * t2;
                    var indexCell = "<td style='display:none'>" +
                                    "<input name='RfiItem.Index' type='hidden' value='" + index + "' />" +
                                    "<input name='RfiItem[" + index + "].IsItemDescription' id='RfiItem_" + index + "__IsItemDescription' type='hidden' />" +
                                    "<input name='RfiItem[" + index + "].IsItemSKU' id='RfiItem_" + index + "__IsItemSKU' type='hidden' />" +
                                    "<input name='RfiItem[" + index + "].ItemVariationId' id='RfiItem_" + index + "__ItemVariationId' type='hidden' />" +
                                    "</td>";
                    //RfiItem
                    var html = '<tr data-id=' + index + '>' +
                               indexCell +
                               '<td>' +
                               '<div class="control-group row-fluid">' +
                               '<div class="span1">' +
                               '<label class="control-label serialNumber"  ></label>' +
                               '</div></div>' +
                               '</td>' +
                               '<td> <textarea rows="2"  class="auto-resize"  id="RfiItem_' + index + '__ItemDetails" name="RfiItem[' + index + '].ItemDetails" data-val="true" data-val-required="The Item Details field is required.">' + t1 + '</textarea>' +
                               '<button type="button" class="btn itemAdder" data-toggle="modal" data-target="#itemSearcher" >+</button>' +
                               '<span class="field-validation-valid required" data-valmsg-for="RfiItem[' + index + '].ItemDetails" data-valmsg-replace="true"></span>' +
                               '</td>' +
                               '<td class="quantity"> ' +
                               '<input class="n1" type="text" value=' + t2 + ' id="RfiItem_' + index + '__ItemQty" name="RfiItem[' + index + '].ItemQty" data-val="true" data-val-number="The field Item Qty must be a number." data-val-range="Please enter valid quantity" data-val-range-max="2147483647" data-val-range-min="1" data-val-required="The Item Qty field is required.">' +
                               '<span class="field-validation-valid required" data-valmsg-for="RfiItem[' + index + '].ItemQty" data-valmsg-replace="true"></span>' +
                               '</td>' +
                               '<td class="delete"> <i class="icon-photon minus deleteRow"></i>' +
                               '</td></tr>';

                    index = index + 1;
                    if (count == 0) {
                        $('.qouteAdd').html("");
                    }

                    $('.qouteAdd').append(html);
                    reActivateDelete();
                    //reactivateCount();

                    count++;
                });

                activateSerial();
            } else {

                $.pnotify({
                    title: 'Sorry',
                    type: 'info',
                    text: 'The sheet you are trying to import is not supported, please check if the feilds match.'
                });

            }

        });
    });

    $('#tiny').elrte({
        lang: "en",
        styleWithCSS: false,
        height: 200,
        toolbar: 'tiny'
    });

    $(function () {
        $("#jstree").jstree({
            "json_data": {
                "data": [
                    {
                        "data": {
                            "title": "Uniform",
                            "attr": { "href": "#" }
                        },
                        "children": [
                            {
                                "data": {
                                    "title": "Boys",
                                    "attr": { "href": "#" }
                                }
                            },
                            {
                                "data": {
                                    "title": "Girls",
                                    "attr": { "href": "#" }
                                }
                            }
                        ]
                    },
                    {
                        "data": {
                            "title": "Labratory",
                            "attr": { "href": "#" }
                        },
                        "attr": { "id": "node1" },
                        "children": [
                            {
                                "data": {
                                    "title": "Account Settings",
                                    "attr": { "href": "#" }
                                }
                            },
                            {
                                "data": {
                                    "title": "Warnings and Blocks",
                                    "attr": { "href": "#" }
                                }
                            },
                            {
                                "data": {
                                    "title": "Physics",
                                    "attr": { "href": "#" }
                                },
                                "attr": { "id": "node2" },
                                "children": [
                                    {
                                        "data": {
                                            "title": "Glass",
                                            "attr": { "href": "#" }
                                        },
                                        "attr": { "id": "node3" },
                                        "children": [

                                            {
                                                "data": {
                                                    "title": "Beakers",
                                                    "attr": { "href": "#" }
                                                }
                                                ,
                                                "attr": { "id": "node4" },
                                                "children": [

                                                    {
                                                        "data": {
                                                            "title": "Beakers",
                                                            "attr": { "href": "#" }
                                                        }

                                                        ,
                                                        "attr": { "id": "node4" },
                                                        "children": [

                                                            {
                                                                "data": {
                                                                    "title": "Sku1",
                                                                    "attr": { "href": "#" }
                                                                }




                                                            },
                                                            {
                                                                "data": {
                                                                    "title": "Sku2",
                                                                    "attr": { "href": "#" }
                                                                }
                                                            }
                                                        ]




                                                    },
                                                    {
                                                        "data": {
                                                            "title": "Flasks",
                                                            "attr": { "href": "#" }
                                                        }
                                                    }
                                                ]



                                            },
                                            {
                                                "data": {
                                                    "title": "Flasks",
                                                    "attr": { "href": "#" }
                                                }
                                            }
                                        ]

                                    },
                                    {
                                        "data": {
                                            "title": "I Forgot My Password",
                                            "attr": { "href": "#" }
                                        }
                                    },
                                    {
                                        "data": {
                                            "title": "Can You Send Me a Copy",
                                            "attr": { "href": "#" }
                                        }
                                    },
                                    {
                                        "data": {
                                            "title": "How Can I ",
                                            "attr": { "href": "#" }
                                        }
                                    }
                                ]
                            },
                            {
                                "data": {
                                    "title": "Deactivating, Deleting, Saving",
                                    "attr": { "href": "#" }
                                }
                            },
                            {
                                "data": {
                                    "title": "Downloading Your Info",
                                    "attr": { "href": "#" }
                                }
                            }
                        ]
                    }
                ]
            },
            "plugins": ["themes", "json_data", "ui"],
            "ui": {
                "initially_select": ["node3"]
            },
            "core": {
                "initially_open": ["node1", "node2"]
            }
        });
    });
</script>