@model  EPMS.Web.ViewModels.RFI.RFIViewModel
@{
    ViewBag.Title = EPMS.Web.Resources.RFI.RFI.DetailsPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    var counter = 1;
    
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
}

    <div class="breadcrumb-container" dir="ltr">
        <ul class="xbreadcrumbs">
            <li>
                <a href="~/Dashboard/Index">
                    <i class="icon-photon home"></i>
                </a>
            </li>
            <li>
                <a href="~/Inventory/RFI/Index">
                    @EPMS.Web.Resources.RFI.RFI.ListPageBreadCrumb
                </a>
            </li>
            <li class="current">
                <a href="javascript:;">@EPMS.Web.Resources.RFI.RFI.DetailsPageBreadCrumb</a>
            </li>
        </ul>
    </div>

    <header>
        <i class="icon-big-notepad"></i>
        <h2><small>@EPMS.Web.Resources.RFI.RFI.DetailsPageHeading</small></h2>
    </header>

    <!--Notifications begin-->
    @Html.Partial("_Alert")
    <!--Notifications end-->

    @using (Html.BeginForm("Details", "RFI", FormMethod.Post, new { @id = "RFIForm", @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(x => x.Rfi.RFIId)
        @Html.HiddenFor(x => x.Rfi.OrderId)
        @Html.HiddenFor(x => x.Rfi.ManagerId)
        @Html.HiddenFor(x => x.Rfi.UsageE)
        @Html.HiddenFor(x => x.Rfi.UsageA)
        @Html.HiddenFor(x => x.Rfi.RecCreatedBy)
        @Html.HiddenFor(x => x.Rfi.RecCreatedDate)

        <div class="container-fluid">


            <div class="control-group row-fluid">

                <div class="form-legend centTitle">
                    @EPMS.Web.Resources.RFI.RFI.DetailsPageHeading
                </div>

                <div class="invoice-info">


                    <div class="controls">
                        <a href="javascript:print()" rel="tooltip" title="" data-original-title="Print statistics" class="print"><i class="icon-print"></i> Print</a>
                    </div>

                    <div class="control-group row-fluid">
                        <div class="span6">
                            <div class="invoice-from">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>@(Session["RoleName"].ToString().ToLower() == "manager" ? EPMS.Web.Resources.RFI.RFI.InventoryManagerName : EPMS.Web.Resources.RFI.RFI.EmployeeName):</th>
                                            <td>@(direction == "ltr" ? Session["UserFullName"].ToString() : Session["UserFullNameA"].ToString())</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.EmployeeId:</th>
                                            <td>@(Session["EmployeeID"]==null?"":Session["EmployeeID"].ToString())</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.RFINumber:</th>
                                            <td>@Model.Rfi.RFIId</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.Usage:</th>
                                            <td>@(direction == "ltr" ? Model.Rfi.UsageE : Model.Rfi.UsageA)</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="span6">
                            <div class="invoice-infos">
                                <table>
                                    <tbody>
                                        @if (Session["RoleName"].ToString().ToLower() == "manager")
                                        {
                                            <tr>
                                                <th>@EPMS.Web.Resources.RFI.RFI.Date:</th>
                                                <td>@Model.Rfi.RecCreatedDate.ToShortDateString()</td>
                                            </tr>
                                            <tr>
                                                <th>@EPMS.Web.Resources.RFI.RFI.RequesterName:</th>
                                                <td>@Model.Rfi.RequesterName</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th>@EPMS.Web.Resources.RFI.RFI.Date:</th>
                                                <td>@Model.Rfi.RecCreatedDate.ToShortDateString()</td>
                                            </tr>
                                            <tr>
                                                <th>@EPMS.Web.Resources.RFI.RFI.ClientName:</th>
                                                <td>@Model.Rfi.CustomerName</td>
                                            </tr>
                                            <tr>
                                                <th>@EPMS.Web.Resources.RFI.RFI.OrderNumber:</th>
                                                <td>@Model.Rfi.OrderNo</td>
                                            </tr>
                                            <tr>
                                                <th>@EPMS.Web.Resources.RFI.RFI.InventoryManagerName:</th>
                                                <td>@Model.Rfi.ManagerName</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Input Field end-->
            <!--Basic Responsive Table begin-->
            <div class="row-fluid" id="ress">
                <div class="span12">
                    <table class="table table-striped table-responsive ">
                        <thead class="">
                            <tr>
                                <th>@EPMS.Web.Resources.RFI.RFI.Serial</th>
                                <th>@EPMS.Web.Resources.RFI.RFI.ItemName</th>
                                <th>@EPMS.Web.Resources.RFI.RFI.ItemCode</th>
                                <th>@EPMS.Web.Resources.RFI.RFI.SKUCode</th>
                                <th>@EPMS.Web.Resources.RFI.RFI.QuantityNeeded</th>
                            </tr>
                        </thead>
                        <tbody class="qouteAdd">
                            @foreach (var rfiItem in Model.RfiItem.ToList())
                            {
                                <tr>
                                    <td>
                                        @counter
                                    </td>
                                    <td>
                                        @rfiItem.ItemName
                                    </td>

                                    <td>
                                        @rfiItem.ItemCode
                                    </td>

                                    <td>
                                        @rfiItem.ItemSKUCode
                                    </td>
                                    <td>
                                        @rfiItem.ItemQty
                                    </td>


                                </tr>
                                counter = counter + 1;
                            }
                        </tbody>
                    </table>
                </div>



            </div>
            <!--Basic Responsive Table end-->
            <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesE</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextAreaFor(m => m.Rfi.NotesE, new { @id = "RFINotesE", @class = "toBeDisabled" })
                    </div>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesA</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextAreaFor(m => m.Rfi.NotesA, new { @id = "RFINotesA", @class = "toBeDisabled" })
                    </div>
                </div>
            </div>
            <!--Input Field end-->
            <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="control-group row-fluid">
                    <div class="span3">
                        <label class="control-label" for="jobTitle">@EPMS.Web.Resources.RFI.RFI.RequestStatus</label>
                    </div>
                    <div class="span2">
                        <div class="controls">
                            @Html.DropDownListFor(model => model.Rfi.Status, new[]
                            {
                                new SelectListItem { Value = "6" , Text = EPMS.Web.Resources.CMS.Order.Pending },
                                new SelectListItem { Value = "3" , Text = EPMS.Web.Resources.CMS.Order.Rejected },
                                new SelectListItem { Value = "2" , Text = EPMS.Web.Resources.CMS.Order.Accepted }
                            }, new { @id = "RFIStatusDDL", @class = "toBeDisabled" })
                        </div>
                    </div>

                </div>
            </div>
@if (string.IsNullOrEmpty(Model.Rfi.ManagerId))
{
    <div id="submitDiv" class="control-group row-fluid" style="display: none">
        <div class="span3 span-inset">
            <button type="submit" class="btn">@EPMS.Web.Resources.RFI.RFI.Submit</button>
        </div>
    </div>
    <div id="editDiv" class="control-group row-fluid" style="display: none">
        <div class="span1 span-inset">
            <a href="~/Inventory/RFI/Create/@Model.Rfi.RFIId" class="btn">@EPMS.Web.Resources.Shared.Common.Edit</a>
        </div>
    </div>
}
            <!--Input Field end-->
        </div>
    }
<script src="~/RichTextEditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        if ('@Model.Rfi.RFIId' > 0) {
            editor = CKEDITOR.replace('RFINotesE', {
                filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
                filebrowserUploadUrl: $("#siteURL").val() + '/RTB/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files&currentFolder=/archive/',
                filebrowserImageUploadUrl: $("#siteURL").val() + '/RTB/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images&currentFolder=/cars/',
                filebrowserFlashUploadUrl: $("#siteURL").val() + '/RTB/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
            });
            editor = CKEDITOR.replace('RFINotesA', {
                filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
                filebrowserUploadUrl: $("#siteURL").val() + '/RTB/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files&currentFolder=/archive/',
                filebrowserImageUploadUrl: $("#siteURL").val() + '/RTB/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images&currentFolder=/cars/',
                filebrowserFlashUploadUrl: $("#siteURL").val() + '/RTB/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
            });
        }
        EnableDisableFields();
        CheckPermissions();
    });
    function EnableDisableFields() {
        if ('@string.IsNullOrEmpty(Model.Rfi.ManagerId)' == 'True') {
            $('.toBeDisabled:input').attr('disabled', false);
        } else {
            $('.toBeDisabled:input').attr('disabled', true);
        }
    }

    function CheckPermissions() {
        var hasEditPermission = '@userPermissionsSet.Contains("RFICreate")' == "True" ? true : false;
        if (hasEditPermission) {
            $("#editDiv").show();
            $('.toBeDisabled:input').attr('disabled', true);
        }

        var hasDetailsPermission = '@userPermissionsSet.Contains("RIFDetailsUpdation")' == "True" ? true : false;
        if (hasDetailsPermission) {
            $("#submitDiv").show();
        } else {
            $('.toBeDisabled:input').attr('disabled', true);
        }
    }
    </script>