@model  EPMS.Web.ViewModels.DIF.DIFViewModel
@{
    ViewBag.Title = EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    var counter = 1;
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
}

<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Inventory/DIF/Index">
                @EPMS.Web.Resources.Inventory.DIF.DIF.ListPageBreadCrumb
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageBreadCrumb</a>
        </li>
    </ul>
</div>

<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageHeading</small></h2>
</header>

<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
@using (Html.BeginForm("Details", "DIF", FormMethod.Post, new { @id = "DIFForm", @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x => x.Dif.Id)
    @Html.HiddenFor(x => x.Dif.ManagerId)
    @Html.HiddenFor(x => x.Dif.DefectivenessA)
    @Html.HiddenFor(x => x.Dif.DefectivenessE)
    @Html.HiddenFor(x => x.Dif.RecCreatedBy)
    @Html.HiddenFor(x => x.Dif.RecCreatedDate)

    <div class="container-fluid">


        <div class="control-group row-fluid">

            <div class="form-legend centTitle">
                @EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageHeading
            </div>

            <div class="invoice-info">


                <div class="controls">
                    <a href="javascript:print()" rel="tooltip" title="" data-original-title="Print statistics" class="print"><i class="icon-print"></i> Print</a>
                </div>

                <div class="control-group row-fluid">
                    <div class="span6">
                        <div class="invoice-from">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>@(Session["RoleName"].ToString().ToLower() == "manager" ? EPMS.Web.Resources.RFI.RFI.InventoryManagerName : EPMS.Web.Resources.RFI.RFI.EmployeeName):</th>
                                        <td>@(direction == "ltr" ? Session["UserFullName"].ToString() : Session["UserFullNameA"].ToString())</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.RFI.RFI.EmployeeId:</th>
                                        <td>@(Session["EmployeeID"] == null ? "" : Session["EmployeeID"].ToString())</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.DIF.DIF.DIFNumber:</th>
                                        <td>@Model.Dif.Id</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.DIF.DIF.Defectiveness:</th>
                                        <td>@(direction == "ltr" ? Model.Dif.DefectivenessE : Model.Dif.DefectivenessA)</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="span6">
                        <div class="invoice-infos">
                            <table>
                                <tbody>
                                    @if (Session["RoleName"].ToString().ToLower() == "manager")
                                    {
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.Date:</th>
                                            <td>@Model.Dif.RecCreatedDate.ToShortDateString()</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.RequesterName:</th>
                                            <td>@Model.Dif.RequesterName</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.Date:</th>
                                            <td>@Model.Dif.RecCreatedDate.ToShortDateString()</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.RFI.RFI.InventoryManagerName:</th>
                                            <td>@Model.Dif.ManagerName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Input Field end-->
        <!--Basic Responsive Table begin-->
        <div class="row-fluid" id="ress">
            <div class="span12">
                <table class="table table-striped table-responsive ">
                    <thead class="">
                        <tr>
                            <th>@EPMS.Web.Resources.RFI.RFI.Serial</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.ItemName</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.ItemCode</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.SKUCode</th>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.DefectiveQuantity</th>
                        </tr>
                    </thead>
                    <tbody class="qouteAdd">
                        @foreach (var rfiItem in Model.DifItem.ToList())
                        {
                            <tr>
                                <td>
                                    @counter
                                </td>
                                <td>
                                    @rfiItem.ItemName
                                </td>

                                <td>
                                    @rfiItem.ItemCode
                                </td>

                                <td>
                                    @rfiItem.ItemSKUCode
                                </td>
                                <td>
                                    @rfiItem.ItemQty
                                </td>


                            </tr>
                            counter = counter + 1;
                        }
                    </tbody>
                </table>
            </div>



        </div>
        <!--Basic Responsive Table end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(m => m.Dif.NotesE, new { @id = "RFINotesE", @class = "toBeDisabled" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(m => m.Dif.NotesA, new { @id = "RFINotesA", @class = "toBeDisabled" })
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="jobTitle">@EPMS.Web.Resources.RFI.RFI.RequestStatus</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Dif.Status, new[]
                            {
                                new SelectListItem { Value = "6" , Text = EPMS.Web.Resources.CMS.Order.Pending },
                                new SelectListItem { Value = "3" , Text = EPMS.Web.Resources.CMS.Order.Rejected },
                                new SelectListItem { Value = "2" , Text = EPMS.Web.Resources.CMS.Order.Accepted }
                            }, new { @id = "RFIStatusDDL", @class = "toBeDisabled" })
                    </div>
                </div>

            </div>
        </div>
        @if (Model.Dif.Status != 2)
        {
            <div id="submitDiv" class="control-group row-fluid" style="display: none">
                <div class="span3 span-inset">
                    <button type="submit" class="btn">@EPMS.Web.Resources.RFI.RFI.Submit</button>
                </div>
            </div>
            <div id="editDiv" class="control-group row-fluid" style="display: none">
                <div class="span1 span-inset">
                    <a href="~/Inventory/DIF/Create/@Model.Dif.Id" class="btn">@EPMS.Web.Resources.Shared.Common.Edit</a>
                </div>
            </div>
        }
        <!--Input Field end-->
    </div>
}
<script src="~/RichTextEditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        if ('@Model.Dif.Id' > 0) {
            editor = CKEDITOR.replace('RFINotesE', {
                filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
            });
            editor = CKEDITOR.replace('RFINotesA', {
                filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
            });
        }
        EnableDisableFields();
        CheckPermissions();
        if ('@ViewBag.From' == 'History') {
            $("#editDiv").hide();
            $('.toBeDisabled:input').attr('disabled', true);
        }
    });
    function EnableDisableFields() {
        if ('@Model.Dif.Status' != '2') {
            $('.toBeDisabled:input').attr('disabled', false);
        } else {
            $('.toBeDisabled:input').attr('disabled', true);
        }
    }

    function CheckPermissions() {
        var hasEditPermission = '@userPermissionsSet.Contains("DIFCreate")' == "True" ? true : false;
        if (hasEditPermission) {
            $("#editDiv").show();
            $('.toBeDisabled:input').attr('disabled', true);
        }

        var hasDetailsPermission = '@userPermissionsSet.Contains("DIFDetailsUpdation")' == "True" ? true : false;
        if (hasDetailsPermission) {
            $("#submitDiv").show();
        } else {
            $('.toBeDisabled:input').attr('disabled', true);
        }
    }
</script>