@model EPMS.Web.ViewModels.DIF.DifHistoryViewModel

@{
    ViewBag.Title = @EPMS.Web.Resources.Inventory.DIF.DIF.HistoryPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
    var counter1 = 1;
    var counter2 = 1;
}

<div class="breadcrumb-container" dir="ltr">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Inventory/DIF/Index">
                @EPMS.Web.Resources.Inventory.DIF.DIF.ListPageBreadCrumb
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">@EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageBreadCrumb</a>
        </li>
    </ul>
</div>

<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageHeading</small></h2>
</header>

<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
@using (Html.BeginForm("Details", "DIF", FormMethod.Post, new { @id = "DIFForm", @class = "form-horizontal", role = "form" }))
{
    <div class="container-fluid">
        <div class="control-group row-fluid">
            <div class="form-legend centTitle">
                @EPMS.Web.Resources.Inventory.DIF.DIF.DetailsPageHeading
            </div>
            <div class="invoice-info">
                <div class="controls">
                    <a href="javascript:print()" rel="tooltip" title="" data-original-title="Print statistics" class="print"><i class="icon-print"></i> Print</a>
                </div>
                <div class="control-group row-fluid">
                    <div class="span6">
                        <div class="invoice-from">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>@EPMS.Web.Resources.RFI.RFI.InventoryManagerName:</th>
                                        <td>@(direction == "ltr" ? Model.RecentDif.ManagerName : Model.RecentDif.ManagerNameAr)</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.RFI.RFI.EmployeeId:</th>
                                        <td>@(Session["EmployeeID"] == null ? "" : Session["EmployeeID"].ToString())</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.DIF.DIF.DIFNumber:</th>
                                        <td>@Model.RecentDif.Id</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.DIF.DIF.Defectiveness:</th>
                                        <td>@(direction == "ltr" ? Model.RecentDif.DefectivenessE : Model.RecentDif.DefectivenessA)</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="span6">
                        <div class="invoice-infos">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>@EPMS.Web.Resources.RFI.RFI.Date:</th>
                                        <td>@Model.RecentDif.RecCreatedDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.RFI.RFI.RequesterName:</th>
                                        <td>@(direction == "ltr" ? Model.RecentDif.RequesterName : Model.RecentDif.RequesterNameAr)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Input Field end-->
        <!--Basic Responsive Table begin-->
        <div class="row-fluid" id="ress">
            <div class="span12">
                <table class="table table-striped table-responsive ">
                    <thead class="">
                        <tr>
                            <th>@EPMS.Web.Resources.RFI.RFI.Serial</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.ItemName</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.ItemCode</th>
                            <th>@EPMS.Web.Resources.RFI.RFI.SKUCode</th>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.DefectiveQuantity</th>
                        </tr>
                    </thead>
                    <tbody class="qouteAdd">
                        @if (Model.DifItems.Any())
                        {
                            foreach (var rfiItem in Model.DifItems.ToList())
                            {
                                <tr>
                                    <td>
                                        @counter1
                                    </td>
                                    <td>
                                        @rfiItem.ItemName
                                    </td>

                                    <td>
                                        @rfiItem.ItemCode
                                    </td>

                                    <td>
                                        @rfiItem.ItemSKUCode
                                    </td>
                                    <td>
                                        @rfiItem.ItemQty
                                    </td>
                                </tr>
                                counter1 = counter1 + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="alert alert-info alert-block">
            <i class="icon-alert icon-alert-info"></i>
            <strong>@EPMS.Web.Resources.Inventory.DIF.DIF.HistoryDifTableTitle</strong>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped table-responsive" id="tableSortableResMed">
                    <thead class="cf sorthead">
                        <tr>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.Serial</th>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.DIFFormNo</th>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.Requester</th>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.Date</th>
                            <th>@EPMS.Web.Resources.Inventory.DIF.DIF.Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Difs.Any())
                        {
                            foreach (var dif in Model.Difs)
                            {
                                <tr class="gradeX">
                                    <td>
                                        @(counter2)
                                    </td>
                                    <td>
                                        <a href="~/Inventory/DIF/Details/@dif.Id">@dif.Id</a>
                                    </td>
                                    <td>
                                        @dif.RequesterName
                                    </td>
                                    <td>
                                        @dif.RecCreatedDateString
                                    </td>
                                    <td>
                                        @if (dif.Status == 6)
                                        {
                                            @EPMS.Web.Resources.CMS.Order.Pending
                                        }
                                        else if (dif.Status == 3)
                                        {
                                            @EPMS.Web.Resources.CMS.Order.Rejected
                                        }
                                        else if (dif.Status == 2)
                                        {
                                            @EPMS.Web.Resources.CMS.Order.Accepted
                                        }
                                    </td>
                                </tr>
                                        counter2 = counter2 + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(m => m.RecentDif.NotesE, new { @id = "RFINotesE", @class = "toBeDisabled" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.RFI.RFI.NotesA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(m => m.RecentDif.NotesA, new { @id = "RFINotesA", @class = "toBeDisabled" })
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label" for="jobTitle">@EPMS.Web.Resources.RFI.RFI.RequestStatus</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @Html.DropDownListFor(model => model.RecentDif.Status, new[]
                            {
                                new SelectListItem { Text = "--Select--", Value = "" },
                                new SelectListItem { Value = "6" , Text = EPMS.Web.Resources.CMS.Order.Pending },
                                new SelectListItem { Value = "3" , Text = EPMS.Web.Resources.CMS.Order.Rejected },
                                new SelectListItem { Value = "2" , Text = EPMS.Web.Resources.CMS.Order.Accepted }
                            }, new { @id = "RFIStatusDDL", @class = "toBeDisabled" })
                    </div>
                </div>

            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.RecentDif.ManagerId))
        {
            <div id="submitDiv" class="control-group row-fluid" style="display: none">
                <div class="span3 span-inset">
                    <button type="submit" class="btn">@EPMS.Web.Resources.RFI.RFI.Submit</button>
                </div>
            </div>
            <div id="editDiv" class="control-group row-fluid" style="display: none">
                <div class="span1 span-inset">
                    <a href="~/Inventory/DIF/Create/@Model.RecentDif.Id" class="btn">@EPMS.Web.Resources.Shared.Common.Edit</a>
                </div>
            </div>
        }
        <!--Input Field end-->
    </div>
}
<script src="~/RichTextEditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('RFINotesE', {
            filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
        });
        CKEDITOR.replace('RFINotesA', {
            filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
        });
    });
</script>