@using System.Configuration
@model EPMS.Models.MenuModels.WebsiteFooterMenuModel

@{
    Layout = null;
    var direction = EPMS.Website.Resources.Shared.Common.TextDirection;
}

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span5 footerRight">
                <h3 class="m_title">Menu</h3>
                <ul class="menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Labs Preperation</a></li>
                    <li><a href="#">Labs Furnishing</a></li>
                    <li><a href="#">Kindergarden</a></li>
                    <li><a href="#">Learning Games</a></li>
                    <li><a href="#">Training Services</a></li>
                    <li><a href="#">Neo Horizon</a></li>
                    <li><a href="#">News And Articles</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul><!-- end footer menu -->
            </div>
            <div class="span4 footerMid">
                <div class="newsletter-signup">
                    <h3 class="m_title">Latest News</h3>
                    <ul class="menu">
                        @foreach (var item in @Model.NewsAndArticles)
                        {
                            <li>
                                <a href="#" onclick="window.location.href = '@(ConfigurationManager.AppSettings["SiteURL"])/NewsAndArticle/Detail/@item.NewsArticleId'">@item.TitleEn</a>
                                <p><span>@item.RecCreatedDt.ToShortDateString()</span><br />@item.ContentEn.Substring(0, item.ContentEn.Length > 100? 100 : item.ContentEn.Length)...</p>
                            </li>
                        }
                    </ul><!-- end footer menu -->

                </div><!-- end newsletter-signup -->
            </div>
            <div class="span3 footerCont">
                <div class="contact-details">
                    <h3 class="m_title">Contact us</h3>
                    <p>
                        @Model.ContactUs.Title<br />
                        @Model.ContactUs.Address
                    </p>

                    <p>
                        <strong>Phone: </strong>@Model.ContactUs.Phone<br />
                        <strong>Email: </strong> <a href="#">@Model.ContactUs.FormEmail</a>
                    </p>

                    <p><a href="http://www.google.com/maps/place/@Model.ContactUs.Latitude,@Model.ContactUs.Longitude" target="_blank" class="map-link"><span class="icon-map-marker icon-white"></span> Google Map Location</a></p>
                </div><!-- end contact-details -->
            </div>
        </div><!-- end row -->



        <div class="row" style="margin-bottom:0px;">
            <div class="span12">
                <div class="bottom fixclear">

                    <div class="copyright">
                        <a href="~/Home/Index"><img src="~/images/logoDark.png" alt="" /></a>
                        <p>
                            &copy; 2015 <strong>Masar Scientific Company</strong>. All rights reserved -
                            Powered by <a href="http://www.cr3ativ3mind.com/" target="_blank">CR3ATIV3MIND</a>
                        </p>
                    </div><!-- end copyright -->
                </div><!-- end bottom -->
            </div>
        </div><!-- end row -->

    </div>
</footer>   

