@using System.Configuration
@model EPMS.WebModels.ViewModels.Reports.WarehouseReportCreateViewModel
@{
    ViewBag.Title = EPMS.WebModels.Resources.Reports.Reports.WarehouseCreateReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
}
<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())/Report/Inventory/Index">
                @EPMS.WebModels.Resources.Reports.Reports.InventorySystemReportList
            </a>

        </li>
        <li class="current">
            @EPMS.WebModels.Resources.Reports.Reports.WarehouseCreateReport
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->
<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.WebModels.Resources.Reports.Reports.WarehouseCreateReport</small></h2>
</header>
<!-- Page Heading End-->
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->

@using (Html.BeginForm("Details", "Warehouse", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container-fluid">

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="jobTitle">@EPMS.WebModels.Resources.Reports.Reports.WarehouseName</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.DropDownListFor(model => model.WarehouseId, new SelectList(Model.Warehouses, "WarehouseId", "WarehouseNumber"), "All", new { @class = "select2me" })
                </div>
            </div>

        </div>
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn">@EPMS.WebModels.Resources.Reports.Reports.GenerateReport</button>
            </div>

        </div>
    </div>
    <!-- end container -->
}