@using System.Configuration
@using System.Web.UI.WebControls
@using iTextSharp.text.pdf.qrcode
@model EPMS.Web.ViewModels.Dashboard.DashboardViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.Dashboard.Dashboard.DashboardTitle;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.MessageVM = TempData["message"];
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    object userPermissionSet = System.Web.HttpContext.Current.Session["UserPermissionSet"];
    string[] userPermissionsSet = (string[])userPermissionSet;
    if (userPermissionsSet.Contains("ComplaintCreate"))
    {

    }
}

<div class="container-fluid dashboard dashboard-title">
    <div class="row-fluid">
        <div class="span12">
            <h1>
                @EPMS.Web.Resources.Dashboard.Dashboard.DashboardTitle
            </h1>
            <div class="btn-group">
                <button type="button" class="btn btn-gear dropdown-toggle" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li><a href="~/Culture/Set/EN">  <img src="~/Images/photon/flag-uk.png" alt="English" style="margin:0 5px;" />@EPMS.Web.Resources.Shared.Common.EN</a></li>
                    <li><a href="~/Culture/Set/AR">  <img src="~/Images/photon/saudi_arabia_flag_small.PNG" alt="Arabic" style="margin:0 5px;" />@EPMS.Web.Resources.Shared.Common.AR</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="userRole" value="@ViewBag.UserRole" />
<input type="hidden" id="makeComplaint" value="@EPMS.Web.Resources.Dashboard.Dashboard.MakeComplaint" />
<input type="hidden" id="makeMeeting" value="@EPMS.Web.Resources.Dashboard.Dashboard.AddMeeting" />


<!-- dashboard-quick-launch box -->
<div class="container-fluid dashboard dashboard-quick-launch">
    @*<div>
            @Html.TextBoxFor(model => model.UserMac)
        </div>*@
    <div class="row-fluid">
        <div id="" class="span12">
            <ul id="quickLaunchItems" class="ui-sortable">
                @foreach (var item in Model.LaunchItems)
                {
                    <li class="liItem" id="Menu_@item.MenuId">
                        <span id="userMenuId" style="display: none">@item.MenuId</span>
                        <a href="@(ConfigurationManager.AppSettings["SiteURL"])/@item.Url" data-toggle="modal">
                            <img class="" src="@(ConfigurationManager.AppSettings["SiteURL"])/Images/photon/icons/@item.ImagePath" alt=" predefined">
                        </a>
                        <p>@item.Title</p>
                    </li>

                }
                <li class="add-ql" id="addItemButton">
                    <a href="#modal-add-quick-launch-custom" data-toggle="modal">
                        <div class="add-quick-launch" data-toggle="modal" id="addql"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid dashboard dashboard-widget-group">
    <div class="row-fluid">
        <div id="photon_widgets" class="span12 ui-sortable">
            <!-- General Stats Widget begin -->
            @foreach (var sortOrder in Model.WidgetPreferenceses)
            {
                switch (sortOrder.WidgetId)
                {
                    case "EmployeeRequestsWidget":
                        if (userPermissionsSet.Contains("EmployeeRequestsWidget"))
                        {
                        <!-- Employee Requests Widget -->
                            <div class="widget-holder" id="EmployeeRequestsWidget">
                                <div class="widget-flipper">
                                    <!-- Front -->
                                    <div class="widget-area widget-general-stats widget-front">
                                        <div class="widget-head ">
                                            <a href="~/HR/Request/Index" class="lightOrange">@EPMS.Web.Resources.Dashboard.Dashboard.EmployeeRequests</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick=" LoadEmployeeRequests(this); "><i class='icon-photon reload_alt' title=" refresh"></i></a>
                                                @if (ViewBag.UserRole == "Admin")
                                                {
                                                    <a href="javascript:;" onclick=" flipit(this) "><i class='icon-photon cog' title="configure"></i></a>
                                                }
                                                <i class="icon-photon user opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="employeeRequests">
                                            @if (Model.EmployeeRequests.Any())
                                            {
                                                foreach (var item in Model.EmployeeRequests.ToList())
                                                {
                                                    <li>
                                                        <a href="~/HR/Request/Create/@item.RequestId">  <span title="@item.RequestTopic">@item.RequestTopicShort</span></a>
                                                        <div>
                                                            @if (direction == "ltr")
                                                            {
                                                                <span title="@item.EmployeeNameE">@item.EmployeeNameEShort</span>
                                                            }
                                                            else
                                                            {
                                                                <span title="@item.EmployeeNameA">@item.EmployeeNameAShort</span>
                                                            }
                                                            @if (item.IsReplied)
                                                            {
                                                                <img src="~/Images/photon/workDone.png" alt="Replied" title="Replied" class="status" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Images/photon/pending.png" alt="Pending" title="Pending" class="status" />
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No record found</li>
                                            }
                                        </ul>
                                    </div>
                                    <!-- Back -->
                                    <div class="widget-area widget-general-stats widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick=" LoadEmployeeRequests(this); "><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            @if (direction == "ltr")
                                            {
                                                <div class="container-fluid widget-settings">
                                                    <div class="control-group row-fluid">
                                                        <div class="span12">
                                                            <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByEmployee:</label>
                                                        </div>
                                                    </div>
                                                    <div class="control-group row-fluid">
                                                        <div class="span12">
                                                            <div class="controls">
                                                                @Html.DropDownListFor(x => x.employeeId, new SelectList(Model.Employees, "EmployeeId", "EmployeeNameE"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "employeeId" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="container-fluid widget-settings">
                                                    <div class="control-group row-fluid">
                                                        <div class="span12">
                                                            <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByEmployee:</label>
                                                        </div>
                                                    </div>
                                                    <div class="control-group row-fluid">
                                                        <div class="span12">
                                                            <div class="controls">
                                                                @Html.DropDownListFor(x => x.employeeId, new SelectList(Model.Employees, "EmployeeId", "EmployeeNameA"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "employeeId" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                        }
                        break;
                    case "OrdersWidget":
                        if (userPermissionsSet.Contains("OrdersWidget"))
                        {
                        <!-- Orders Widget -->
                            <div class="widget-holder" id="OrdersWidget">
                                <div class="widget-flipper">
                                    <!-- Front -->
                                    <div class="widget-area widget-general-stats widget-front">
                                        <div class="widget-head ">
                                            <a href="~/CMS/Orders/Index" class="darkGreen">@EPMS.Web.Resources.Dashboard.Dashboard.Orders</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick=" LoadOrders(this); "><i class='icon-photon reload_alt' title=" refresh"></i></a>
                                                <a href="javascript:;" onclick=" flipit(this) "><i class='icon-photon cog' title="configure"></i></a>
                                                <i class="icon-photon calendar_alt_stroke  opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="customerOrders">
                                            @if (Model.Orders.Any())
                                            {
                                                foreach (var item in Model.Orders.ToList())
                                                {
                                                    <li>
                                                        <a href="~/CMS/Orders/Create/@item.OrderId">  <span>@item.OrderNo</span></a>
                                                        <div class="dateFormatter">
                                                            @item.OrderDate
                                                            @switch (item.OrderStatus)
                                                            {
                                                                case 2:
                                                                    <img src="~/Images/photon/pending.png" alt="Pending" title="Pending" class="status" />
                                                                    break;
                                                                case 1:
                                                                <img src="~/Images/photon/ongoing.png" alt="On Going" title="On Going" class="status" />
                                                                    break;
                                                                case 3:
                                                                <img src="~/Images/photon/notDone.png" alt="Canceled" title="Canceled" class="status" />
                                                                    break;
                                                                case 4:
                                                                <img src="~/Images/photon/workDone.png" alt="Finished" title="Finished" class="status" />
                                                                    break;
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No record found</li>
                                            }

                                        </ul>
                                    </div>
                                    <!-- Back -->
                                    <div class="widget-area widget-general-stats widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick=" LoadOrders(this); "><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByClient:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            @Html.DropDownListFor(x => x.customerIdForOrder, new SelectList(Model.Customers, "CustomerId", "CustomerNameE"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "customerIdForOrder" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByStatus:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            <select id="orderStatus">
                                                                <option selected="" value="0">Any</option>
                                                                <option value="1">Pending</option>
                                                                <option value="2">On Going</option>
                                                                <option value="4">Completed</option>
                                                                <option value="3">Canceled</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                        }
                        break;
                    case "ComplaintsWidget":
                        if (userPermissionsSet.Contains("ComplaintsWidget"))
                        {
                        <!-- Complaints Widget -->
                            <div class="widget-holder" id="ComplaintsWidget">
                                <div class="widget-flipper">
                                    <!-- Front -->
                                    <div class="widget-area widget-general-stats widget-front">
                                        <div class="widget-head ">
                                            <a href="~/CMS/Complaint/Index" class="darkGreen">@EPMS.Web.Resources.Dashboard.Dashboard.Complaints</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick=" LoadComplaints(this); "><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                @if (ViewBag.UserRole != "Customer")
                                                {
                                                    <a href="javascript:;" onclick=" flipit(this) "><i class='icon-photon cog' title="configure"></i></a>
                                                }

                                                <i class="icon-photon user opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="complaints">
                                            @if (Model.Complaints.Any())
                                            {
                                                foreach (var item in Model.Complaints.ToList())
                                                {
                                                    <li>
                                                        <a href="~/CMS/Complaint/Create/@item.ComplaintId">  <span title="@item.Topic">@item.TopicShort</span></a>
                                                        <div>
                                                            @if (direction == "ltr")
                                                            {
                                                                <span title="@item.ClientName">@item.ClientNameShort</span>
                                                            }
                                                            else
                                                            {
                                                                <span title="@item.ClientName">@item.ClientNameAShort</span>
                                                            }
                                                            @if (item.IsReplied)
                                                            {
                                                                <img src="~/Images/photon/workDone.png" alt="Replied" title="Replied" class="status" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Images/photon/notDone.png" alt="Pending" title="Pending" class="status" />
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No record found</li>
                                            }
                                            @if (ViewBag.UserRole == "Customer")
                                            {
                                                <li>
                                                    <a href="~/CMS/Complaint/Create" class="btn" style="margin-left: 23%; color: black">@EPMS.Web.Resources.Dashboard.Dashboard.MakeComplaint</a>
                                                </li>
                                            }

                                        </ul>

                                    </div>
                                    <!-- Back -->
                                    <div class="widget-area widget-general-stats widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick=" LoadComplaints(this); "><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByClient:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            @Html.DropDownListFor(x => x.customerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameE"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "customerId" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                        }
                        break;
                    case "RecruitmentWidget":
                        if (userPermissionsSet.Contains("RecruitmentWidget"))
                        {
                        <!-- Recruitment Widget -->
                            <div class="widget-holder" id="RecruitmentWidget">
                                <div class="widget-flipper">
                                    <div class="widget-area widget-general-stats widget-front">
                                        <div class="widget-head ">
                                            <a href="~/HR/JobOffered/Index" class="lightOrange">@EPMS.Web.Resources.Dashboard.Dashboard.Recruitment</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick="LoadRecruitments(this);"><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <i class="icon-photon hash opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="recruitments">
                                            @if (Model.Recruitments.Any())
                                            {
                                                foreach (var item in Model.Recruitments.ToList())
                                                {
                                                    <li>
                                                        @if (direction == "ltr")
                                                        {
                                                            <a href="~/HR/JobOffered/Create/@item.JobOfferedId"><span>@item.TitleE</span></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="~/HR/JobOffered/Create/@item.JobOfferedId"><span>@item.TitleA</span></a>
                                                        }
                                                        <div>
                                                            @item.NoOfApplicants
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No record found</li>
                                            }

                                        </ul>
                                    </div>

                                </div>
                                <div class="tempLoader" style="display:none;"></div>
                            </div>
                        }
                        break;
                    case "MeetingWidget":
                        if (userPermissionsSet.Contains("MeetingWidget"))
                        {
                        <!-- Meeting Widget -->
                            <div class="widget-holder" id="MeetingWidget">
                                <div class="widget-flipper">
                                    <div class="widget-area widget-general-stats widget-front">
                                        <div class="widget-head ">
                                            <a href="~/Meeting/Meeting/Index" class="lightYellow">@EPMS.Web.Resources.Dashboard.Dashboard.Meeting</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick="LoadMeetings(this);"><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <i class="icon-photon calendar_alt_stroke opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="meetings">
                                            @if (Model.Meetings.Any())
                                            {
                                                foreach (var item in Model.Meetings.ToList())
                                                {
                                                    <li>
                                                        @if (direction == "ltr")
                                                        {
                                                            <a href="~/Meeting/Meeting/Create/@item.MeetingId">  <span title="@item.Topic">@item.TopicShort</span></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="~/Meeting/Meeting/Create/@item.MeetingId">  <span title="@item.TopicA">@item.TopicAShort</span></a>
                                                        }
                                                        <div>
                                                            @item.MeetingDate
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No record found</li>
                                            }
                                            @if (ViewBag.UserRole == "Admin")
                                            {
                                                <li>
                                                    <a href="~/Meeting/Meeting/Create" class="btn" style="margin-left: 32%; color: black">@EPMS.Web.Resources.Dashboard.Dashboard.AddMeeting</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                        }
                        break;
                    case "MyProfileWidget":
                        if (userPermissionsSet.Contains("MyProfileWidget") && Model.Profile != null)
                        {
                            <!-- My Profile Widget -->
                            <div class="widget-holder" id="MyProfileWidget">
                                <div class="widget-flipper">
                                    <div class="widget-area widget-general-stats widget-front profile">
                                        <div class="widget-head ">
                                            <a href="~/HR/Employee/Create/@Session["EmployeeID"]" class="lightPurpule">@EPMS.Web.Resources.Dashboard.Dashboard.MyProfile</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick=" LoadMyProfile(this); "><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <i class="icon-photon folder_stroke opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="myprofile">
                                            <li>
                                                <div class="avatar-image">
                                                    <img src="@Model.Profile.EmployeeImagePath" alt="profile">
                                                </div>
                                                @if (direction == "ltr")
                                                {
                                                    <div title="@Model.Profile.EmployeeNameE">@Model.Profile.EmployeeNameEShort</div>
                                                }
                                                else
                                                {
                                                    <div title="@Model.Profile.EmployeeNameA">@Model.Profile.EmployeeNameAShort</div>
                                                }
                                            </li>
                                            <li>
                                                <span>Job ID</span>
                                                <div>
                                                    @Model.Profile.EmployeeJobId
                                                </div>
                                            </li>
                                            <li>
                                                <span>Job Title</span>
                                                @if (direction == "ltr")
                                                {
                                                    <div>
                                                        @Model.Profile.EmployeeJobTitleE
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        @Model.Profile.EmployeeJobTitleA
                                                    </div>
                                                }
                                            </li>
                                            <li>
                                                <span>ID Expiry Date</span>
                                                <div>
                                                    @Model.Profile.EmployeeIqamaExpiryDt
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                        }
                        break;
                    case "PayrollWidget":
                        if (userPermissionsSet.Contains("PayrollWidget") && Model.Payroll != null)
                        {
                            <!-- Payroll Widget -->
                            <div class="widget-holder" id="PayrollWidget">
                                <div class="widget-flipper">
                                    <div class="widget-area widget-general-stats widget-front">
                                        <div class="widget-head ">
                                            <a href="~/HR/Payroll/Index" class="lightOrange">@EPMS.Web.Resources.Dashboard.Dashboard.Payroll</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick="LoadPayroll(this);"><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <a href="javascript:;" onclick="flipit(this)"><i class='icon-photon cog' title="configure"></i></a>
                                                <i class="icon-photon document_stroke opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="mypayroll">
                                            <li id="basicSal">
                                                <span>@EPMS.Web.Resources.Dashboard.Dashboard.BasicSalary</span>
                                                <div>
                                                    @Model.Payroll.BasicSalary
                                                </div>
                                            </li>
                                            <li id="totalAllownces">
                                                <span>@EPMS.Web.Resources.Dashboard.Dashboard.Allowances</span>
                                                <div>
                                                    @Model.Payroll.Allowances
                                                </div>
                                            </li>
                                            <li id="totalDeductions">
                                                <span>@EPMS.Web.Resources.Dashboard.Dashboard.Deductions</span>
                                                <div>
                                                    @Model.Payroll.Deductions
                                                </div>
                                            </li>
                                            <li id="totalSal">
                                                <span>@EPMS.Web.Resources.Dashboard.Dashboard.Total</span>
                                                <div>
                                                    @Model.Payroll.Total
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget-area widget-general-stats widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick="LoadPayroll(this);"><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterbyMonth:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            <select id="selectedmonth">
                                                                <option selected="" value="1">@EPMS.Web.Resources.Dashboard.Dashboard.CurrentMonth</option>
                                                                <option value="2">@EPMS.Web.Resources.Dashboard.Dashboard.PreviousMonth</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display:none;"></div>
                            </div>
                        }
                        break;
                    case "EmployeesWidget":
                        if (userPermissionsSet.Contains("RecentEmployeesWidget"))
                        {
                            <!-- Latest Recent Employees Widget begins -->
                            <div class="widget-holder" id="EmployeesWidget">
                                <div class="widget-flipper">
                                    <!-- Front -->
                                    <div class="widget-area widget-latest-users widget-front">
                                        <div class="widget-head ">
                                            <a href="~/HR/Employee/Index" class="lightOrange">@EPMS.Web.Resources.Dashboard.Dashboard.Employees</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick=" LoadRecentEmployees(this); "><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <a href="javascript:;" onclick=" flipit(this) "><i class='icon-photon cog' title="configure"></i></a>
                                                <i class="icon-photon hash opc1"></i>
                                            </div>
                                        </div>
                                        <ul id="recentEmployees">
                                            @if (Model.EmployeesRecent.Any())
                                            {
                                                foreach (var item in Model.EmployeesRecent.ToList())
                                                {
                                                    <li>
                                                        <div class="avatar-image">
                                                            <img src="@item.EmployeeImagePath" alt="profile image" />
                                                        </div>
                                                        @if (direction == "ltr")
                                                        {
                                                            <a href="~/HR/Employee/Create/@item.EmployeeId">  <span title="@item.EmployeeNameE">@item.EmployeeNameEShort</span></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="~/HR/Employee/Create/@item.EmployeeId">  <span title="@item.EmployeeNameA">@item.EmployeeNameAShort</span></a>
                                                        }
                                                        <div>
                                                            @item.EmployeeJobId
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No record found</li>
                                            }

                                        </ul>
                                    </div>
                                    <!-- Back -->
                                    <div class="widget-area widget-latest-users widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick=" LoadRecentEmployees(this); "><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByDepartment:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            @Html.DropDownListFor(x => x.departmentId, new SelectList(Model.Departments, "DepartmentId", "DepartmentNameE"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "departmentId" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                            <!-- Latest Recent Employees Widget ends -->
                        }
                        break;
                    case "ProjectWidget":
                        if (userPermissionsSet.Contains("ProjectWidget"))
                        {
                            <!-- Project Widget -->
                            <div class="widget-holder" id="ProjectWidget">
                                <div class="widget-flipper">
                                    <div class="widget-area task-completion widget-front">
                                        <div class="widget-head ">
                                            @if (Model.Project != null)
                                            {
                                                if (direction == "ltr")
                                                {
                                                    <a href="~/PMS/Project/Details/@Model.Project.Project.ProjectId" id="projectDetailId" class="lightBlue">@EPMS.Web.Resources.Dashboard.Dashboard.Project - @Model.Project.Project.NameEShort </a>
                                                }
                                                else
                                                {
                                                    <a href="~/PMS/Project/Details/@Model.Project.Project.ProjectId" id="projectDetailId" class="lightBlue">...@EPMS.Web.Resources.Dashboard.Dashboard.Project - @(Model.Project.Project.NameA.Length > 5 ? Model.Project.Project.NameA.Substring(0, 5) : Model.Project.Project.NameA) </a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="~/PMS/Project/Index" id="projectDetailId" class="lightBlue">@EPMS.Web.Resources.Dashboard.Dashboard.Project</a>
                                            }
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick="LoadProjects(this)"><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <a href="javascript:;" onclick="flipit(this)"><i class='icon-photon cog' title="configure"></i></a>
                                                <img src="~/Images/photon/w_task@2x.png" alt="arrows" />
                                            </div>
                                        </div>
                                        <ul id="progressId">
                                            @if (Model.Project != null)
                                            {
                                                <li class="dashProject dashTask">
                                                    @if (direction == "ltr")
                                                    {
                                                        <a data-overall="@Model.Project.Project.ProgressTotal" title="@Model.Project.Project.NameE">@EPMS.Web.Resources.Dashboard.Dashboard.Project - @Model.Project.Project.NameEShort</a>
                                                    }
                                                    else
                                                    {
                                                        <a data-overall="@Model.Project.Project.ProgressTotal" title="@Model.Project.Project.NameA">...@EPMS.Web.Resources.Dashboard.Dashboard.Project - @(Model.Project.Project.NameA.Length > 5 ? Model.Project.Project.NameA.Substring(0, 5) : Model.Project.Project.NameA)</a>
                                                    }
                                                </li>
                                                if (Model.Project.ProjectTasks != null)
                                                {
                                                    foreach (var task in Model.Project.ProjectTasks.ToList())
                                                    {
                                                        <li class="dashTask">
                                                            @if (direction == "ltr")
                                                            {
                                                                <a data-task="@task.TaskProgress" title="@task.TaskNameE">@task.TaskNameEShort</a>
                                                            }
                                                            else
                                                            {
                                                                <a data-task="@task.TaskProgress" title="@task.TaskNameA">@(task.TaskNameA.Length > 15 ? task.TaskNameA.Substring(0, 15) : task.TaskNameA)</a>
                                                            }
                                                        </li>
                                                    }
                                                }

                                                <li class="dashBack">
                                                    <a><i class='icon-photon arrow_left'></i></a>
                                                </li>
                                                <li class="dashNext">
                                                    <a><i class='icon-photon arrow_right'></i></a>
                                                </li>
                                                <li class="processed-pct" style="">
                                                    @if (direction == "ltr")
                                                    {
                                                        <span title="@Model.Project.Project.NameE" class="pText">@EPMS.Web.Resources.Dashboard.Dashboard.Project - @Model.Project.Project.NameEShort</span>
                                                    }
                                                    else
                                                    {
                                                        <span title="@Model.Project.Project.NameA" class="pText" style="margin-right: 33%; direction: ltr">...@EPMS.Web.Resources.Dashboard.Dashboard.Project - @(Model.Project.Project.NameA.Length > 5 ? Model.Project.Project.NameA.Substring(0, 5) : Model.Project.Project.NameA)</span>
                                                    }
                                                    <div class="progress progress-info" style="clear: both;">
                                                        <div class="bar" data-target="@Model.Project.Project.ProgressTotal" style="width: @Model.Project.Project.ProgressTotal;">@Model.Project.Project.ProgressTotal%</div>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="processed-pct">
                                                    <span>No record found</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="widget-area task-completion widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick="LoadProjects(this)"><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByProjectProgress:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            <select id="projectStatusDDL">
                                                                <option value="3">Canceled</option>
                                                                <option selected="" value="1">Current</option>
                                                                <option value="4">Finished</option>
                                                                <option value="2">On Hold</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByProjects:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            @if (direction == "ltr")
                                                            {
                                                                @Html.DropDownListFor(x => x.projectId, new SelectList(Model.ProjectsDDL, "ProjectId", "NameE"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "projectIdFilter" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(x => x.projectId, new SelectList(Model.ProjectsDDL, "ProjectId", "NameA"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "projectIdFilter" })
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display:none;" id="projectLoader"></div>
                            </div>
                        }
                        break;
                    case "MyTasksWidget":
                        if (userPermissionsSet.Contains("MyTasksWidget"))
                        {
                            <!-- My Tasks Widget -->
                            <div class="widget-holder" id="MyTasksWidget">
                                <div class="widget-flipper">
                                    <div class="widget-area task-completion widget-front">
                                        <div class="widget-head ">
                                            <a href="~/PMS/Task/MyTasks" class="lightBlue">@EPMS.Web.Resources.Dashboard.Dashboard.MyTasks</a>
                                            <div>
                                                <a href="javascript:;" class="refresher" onclick="LoadMyTasks(this)"><i class='icon-photon reload_alt' title="Refresh"></i></a>
                                                <a href="javascript:;" onclick=" flipit(this) "><i class='icon-photon cog' title="configure"></i></a>
                                                <img src="~/Images/photon/w_task@2x.png" alt="arrows" />
                                            </div>
                                        </div>
                                        <ul id="progressId2">
                                            @if (Model.ProjectTasks.Any())
                                            {
                                                foreach (var task in Model.ProjectTasks.ToList())
                                                {
                                                    <li class="dashTask">
                                                        @if (direction == "ltr")
                                                        {
                                                            <a data-task="@task.TaskProgress" title="@task.TaskNameE">@task.TaskNameEShort</a>
                                                        }
                                                        else
                                                        {
                                                            <a data-task="@task.TaskProgress" title="@task.TaskNameA">@task.TaskNameAShort</a>
                                                        }
                                                    </li>
                                                }
                                                <li class="dashBack">
                                                    <a><i class='icon-photon arrow_left'></i></a>

                                                </li>
                                                <li class="dashNext">
                                                    <a><i class='icon-photon arrow_right'></i></a>

                                                </li>
                                                <li class="processed-pct2">
                                                    @if (direction == "ltr")
                                                    {
                                                        <span title="@Model.ProjectTasks.FirstOrDefault().TaskNameE">@Model.ProjectTasks.FirstOrDefault().TaskNameEShort</span>
                                                    }
                                                    else
                                                    {
                                                        <span title="@Model.ProjectTasks.FirstOrDefault().TaskNameA">@Model.ProjectTasks.FirstOrDefault().TaskNameAShort</span>
                                                    }
                                                    <div class="progress progress-info">
                                                        <div class="bar" data-target="@Model.ProjectTasks.FirstOrDefault().TaskProgress" style="width: @Model.ProjectTasks.FirstOrDefault().TaskProgress;">@Model.ProjectTasks.FirstOrDefault().TaskProgress</div>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="processed-pct">
                                                    <span>No record found</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="widget-area task-completion widget-back">
                                        <div class="widget-savehead">
                                            <a href="javascript:;" class="btn btn-mini btn-inverse" onclick="LoadMyTasks(this)"><i class='icon-photon cog'></i>Done</a>
                                        </div>
                                        <form>
                                            <div class="container-fluid widget-settings">
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <label class="control-label">@EPMS.Web.Resources.Dashboard.Dashboard.FilterByProjects:</label>
                                                    </div>
                                                </div>
                                                <div class="control-group row-fluid">
                                                    <div class="span12">
                                                        <div class="controls">
                                                            @if (direction == "ltr")
                                                            {
                                                                @Html.DropDownListFor(x => x.projectId, new SelectList(Model.TaskProjectsDDL, "ProjectId", "NameE"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "projectIdTaskFilter" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(x => x.projectId, new SelectList(Model.TaskProjectsDDL, "ProjectId", "NameA"), EPMS.Web.Resources.Dashboard.Dashboard.Any, new { @id = "projectIdTaskFilter" })
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tempLoader" style="display: none;"></div>
                            </div>
                            <!-- Task Completion Widget ends -->
                        }
                        break;
                }
            }
        </div>
    </div>
</div>
<div class="dashboard-watermark"></div>
<!--Modal Dialogs' HTML begin-->
<div id="modal-add-quick-launch" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Quick Launch Item</h3>
    </div>
    <div class="modal-body">
        <p>Select from system shortcuts below or <a href="#modal-add-quick-launch-custom" data-dismiss="modal" data-toggle="modal">create your custom shortcut »</a></p>
        <div class="control-group row-fluid">
            <div class="span12">
                <div class="controls">
                    <select multiple name="multiFilter" id="multiFilter">
                        <option value="Beige">Beige</option>
                        <option value="Black">Black</option>
                        <option value="Blue">Blue</option>
                        <option value="Bronze">Bronze</option>
                        <option value="Brown">Brown</option>
                        <option value="Gold">Gold</option>
                        <option value="Gray">Gray</option>
                        <option value="Green">Green</option>
                        <option value="Orange">Orange</option>
                        <option value="Pink">Pink</option>
                        <option value="Purple">Purple</option>
                        <option value="Red">Red</option>
                        <option value="Silver">Silver</option>
                        <option selected="" value="Turquoise">Turquoise</option>
                        <option value="White">White</option>
                        <option value="Yellow">Yellow</option>
                    </select>
                </div>
            </div>
            <script>
                $().ready(function () {
                    $("#multiFilter").select2();
                });
            </script>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-primary" data-dismiss="modal">Add Selected</a>
        <a href="javascript:;" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>
<div id="modal-add-quick-launch-custom" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@EPMS.Web.Resources.Dashboard.QuickLaunch.CreateText</h3>
    </div>
    <div class="modal-body">

        <p class="alternative">@EPMS.Web.Resources.Dashboard.QuickLaunch.SelectText</p>
    </div>
    <div class="modal-body predefined-icons">
        <ul>
            @foreach (var item in Model.QuickLaunchItems)
            {
                @*<li>@item.Name</li>*@
                <li title="@item.Name" id="@item.MenuID"><img src="~/Images/photon/icons/@item.ImageIconPath" alt=" predefined"></li>
            }
        </ul>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" id="addSelectedQuickLink" class="btn btn-primary" data-dismiss="modal" @*onclick="loadItems()"*@>@EPMS.Web.Resources.Dashboard.QuickLaunch.AddButton</a>
        <a href="javascript:;" class="btn" data-dismiss="modal">@EPMS.Web.Resources.Dashboard.QuickLaunch.CancelButton</a>
    </div>
</div>
<script type="text/javascript">
    var dir = '@direction';
    $(document).ready(function () {
        if ('@direction' == "ltr") {
            setTimeout(function () {
                $.pnotify({
                    title: 'Welcome',
                    type: 'info',
                    text: $("#SessionUserName").val()
                });
            }, 2000);
        } else if ('@direction' == "rtl") {
            setTimeout(function () {
                $.pnotify({
                    title: 'مرحبا',
                    type: 'info',
                    text: $("#SessionUserNameA").val()
                });
            }, 2000);
        }
        setTimeout(function () {
            $.pnotify({
                title: '@ViewBag.ReorderTitle',
                type: 'info',
                text: '@ViewBag.ReorderBody'
            });
        }, 7000);
    });
    function loadItems() {
        var siteURL = $('#siteURL').val();
        var url = siteURL + "/Dashboard/GetQuickLaunchUserItem";
        $.ajax({
            url: url,
            type: 'Get',
            dataType: 'json',
            traditional: true,
            success: function (data) {
                var ss = data;
            },
            error: function (e) {
                alert('Error=' + e.toString());

            }
        });
    }
</script>

<script src="~/Scripts/App/dashboard.js"></script>
