@using System.Configuration
@model EPMS.Web.ViewModels.PurchaseOrder.PurchaseOrderDetailsViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.Inventory.PO.PO.PageTitleView;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    string[] userPermissionsSet = (string[])HttpContext.Current.Session["UserPermissionSet"];
    int i = 0;
}

<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/Inventory/PurchaseOrder/Index">
                @EPMS.Web.Resources.Inventory.PO.PO.PageTitleIndex
            </a>
        </li>
        <li class="current">
            <a href="javascript:;">
                @EPMS.Web.Resources.Inventory.PO.PO.InventoryPurchaseOrderView
            </a>
        </li>
    </ul>
</div>

<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.Inventory.PO.PO.PurchaseOrderView</small></h2>
</header>
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
@using (Html.BeginForm("Details", "PurchaseOrder", FormMethod.Post, new { @class = "form-horizontal", @id = "AddEditItemReleaseForm", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        @Html.HiddenFor(model => model.PurchaseOrder.PurchaseOrderId)
        @Html.HiddenFor(model => model.PurchaseOrder.FormNumber)
        @Html.HiddenFor(model => model.PurchaseOrder.ManagerId)
        @Html.HiddenFor(model => model.PurchaseOrder.RecCreatedBy)
        @Html.HiddenFor(model => model.PurchaseOrder.RecCreatedDate)

        <div class="control-group row-fluid">
            <div class="form-legend centTitle">
                @EPMS.Web.Resources.Inventory.PO.PO.CenterTitleView
            </div>
            <div class="invoice-info">
                <div class="controls">
                    <a href="javascript:print()" rel="tooltip" title="" data-original-title="Print statistics" class="print"><i class="icon-print"></i>@EPMS.Web.Resources.Inventory.IRF.View.IRFView.Print</a>
                </div>
                <div class="control-group row-fluid">
                    <div class="span6">
                        <div class="invoice-from">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.EmployeeName:</th>
                                        <td>@(direction == "ltr" ? Session["UserFullName"].ToString() : Session["UserFullNameA"].ToString())</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.EmployeeId:</th>
                                        <td>@Model.PurchaseOrder.EmpJobId</td>
                                    </tr>
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.PONumber:</th>
                                        <td>@Model.PurchaseOrder.FormNumber</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="invoice-infos">
                            <table>
                                <tbody>
                                    @if (ViewBag.IsManager)
                                    {
                                        <tr>
                                            <th>@EPMS.Web.Resources.Inventory.PO.PO.Date:</th>
                                            <td>@Model.PurchaseOrder.RecCreatedDate.ToShortDateString()</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.Inventory.PO.PO.RequesterName:</th>
                                            <td>@(direction == "ltr" ? Model.PurchaseOrder.RequesterName : Model.PurchaseOrder.RequesterNameAr)</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <th>@EPMS.Web.Resources.Inventory.PO.PO.Date:</th>
                                            <td>@Model.PurchaseOrder.RecCreatedDate.ToShortDateString()</td>
                                        </tr>
                                        <tr>
                                            <th>@EPMS.Web.Resources.Inventory.PO.PO.InventoryManagerName:</th>
                                            <td>@(direction == "ltr" ? Model.PurchaseOrder.ManagerName : Model.PurchaseOrder.ManagerNameAr)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" id="ress">
                    <div class="span12">
                        <table class="table table-striped table-responsive ">
                            <thead class="">
                                @if (ViewBag.IsManager)
                                {
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.Serial</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.ItemName</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.ItemCode</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.SKUCode</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.Vendor</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.NeededQuantity</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.UnitPrice</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.Total</th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.Serial</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.ItemName</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.ItemCode</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.SKUCode</th>
                                        <th>@EPMS.Web.Resources.Inventory.PO.PO.NeededQuantity</th>
                                    </tr>
                                }
                            </thead>
                            <tbody class="qouteAdd" id="POTableBody">
                                @if (ViewBag.IsManager)
                                {
                                    i = 0;
                                    for (int po = 0; po < Model.OrderItems.Count(); po++)
                                    {
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemId)
                                        @Html.HiddenFor(m => m.OrderItems[po].PurchaseOrderId)
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemVariationId)
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemDetails)
                                        @Html.HiddenFor(m => m.OrderItems[po].IsItemDescription)
                                        @Html.HiddenFor(m => m.OrderItems[po].IsItemSKU)
                                        @Html.HiddenFor(m => m.OrderItems[po].PlaceInDepartment)
                                        @Html.HiddenFor(m => m.OrderItems[po].RecCreatedBy)
                                        @Html.HiddenFor(m => m.OrderItems[po].RecCreatedDate)
                                        <tr id="@i">
                                            <td>@(i + 1)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemName)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemCode)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemSKUCode)</td>
                                            <td>
                                                <div class="span9 VendorError_@(i +1)">
                                                    @if (direction == "ltr")
                                                    {
                                                        <div class="controls">
                                                            @Html.DropDownListFor(m => m.OrderItems[po].VendorId, new SelectList(Model.Vendors, "VendorId", "VendorNameEn", Model.OrderItems[po].VendorId), "--Select--", new { @class = "select2me tableDbM disableDdl" })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="controls">
                                                            @Html.DropDownListFor(m => m.OrderItems[po].VendorId, new SelectList(Model.Vendors, "VendorId", "VendorNameAr", Model.OrderItems[po].VendorId), "--Select--", new { @class = "select2me tableDbM disableDdl" })
                                                        </div>
                                                    }
                                                    <label id="VendorError_@(i + 1)" class="required"></label>
                                                </div>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.OrderItems[po].ItemQty, new { @class = "tableDbM toBeDisabled" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.OrderItems[po].UnitPrice, new { @class = "tableDbM UnitPrice toBeDisabled" })
                                                @Html.ValidationMessageFor(m => m.OrderItems[po].UnitPrice, String.Empty, new { @class = "required" })
                                            </td>
                                            <td><label id="Total_@i">@Model.OrderItems[po].Total</label></td>
                                            @*<td>@(Model.OrderItems[po].ItemQty * Model.OrderItems[po].UnitPrice)</td>*@
                                        </tr>
                                                    i = i + 1;
                                    }
                                }
                                else
                                {
                                    i = 0;
                                    for (int po = 0; po < Model.OrderItems.Count(); po++)
                                    {
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemId)
                                        @Html.HiddenFor(m => m.OrderItems[po].PurchaseOrderId)
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemVariationId)
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemDetails)
                                        @Html.HiddenFor(m => m.OrderItems[po].ItemQty)
                                        @Html.HiddenFor(m => m.OrderItems[po].IsItemDescription)
                                        @Html.HiddenFor(m => m.OrderItems[po].IsItemSKU)
                                        @Html.HiddenFor(m => m.OrderItems[po].PlaceInDepartment)
                                        @Html.HiddenFor(m => m.OrderItems[po].VendorId)
                                        @Html.HiddenFor(m => m.OrderItems[po].RecCreatedBy)
                                        @Html.HiddenFor(m => m.OrderItems[po].RecCreatedDate)
                                        <tr>
                                            <td>@(i += 1)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemName)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemCode)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemSKUCode)</td>
                                            <td>@Html.DisplayFor(m => m.OrderItems[po].ItemQty)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="CKNotes" style="display: none">
                    <div class="control-group row-fluid">
                        <div class="span3">
                            <label class="control-label" for="Notes">@EPMS.Web.Resources.Inventory.IRF.View.IRFView.Notes</label>
                        </div>
                        <div class="span9">
                            <div class="controls">
                                @Html.TextAreaFor(model => model.PurchaseOrder.NotesE, new { @id = "NotesEn", @class = "toBeDisabled" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group row-fluid">
                        <div class="span3">
                            <label class="control-label" for="NotesAr">@EPMS.Web.Resources.Inventory.IRF.View.IRFView.NotesAr</label>
                        </div>
                        <div class="span9">
                            <div class="controls">
                                @Html.TextAreaFor(model => model.PurchaseOrder.NotesA, new { @id = "NotesAr", @class = "toBeDisabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Notes" style="display: none">
                    <div class="control-group row-fluid">
                        <div class="span3">
                            <label class="control-label" for="Notes">@EPMS.Web.Resources.Inventory.IRF.View.IRFView.Notes</label>
                        </div>
                        <div class="span9">
                            <div class="controls">
                                <input type="text" id="notesE" class="toBeDisable" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group row-fluid">
                        <div class="span3">
                            <label class="control-label" for="NotesAr">@EPMS.Web.Resources.Inventory.IRF.View.IRFView.NotesAr</label>
                        </div>
                        <div class="span9">
                            <div class="controls">
                                <input type="text" id="notesA" class="toBeDisable" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="control-group row-fluid">
                        <div class="span3">
                            <label class="control-label" for="jobTitle">@EPMS.Web.Resources.Inventory.PO.PO.RequestStatus</label>
                        </div>
                        <div class="span2">
                            <div class="controls">
                                @Html.DropDownListFor(model => model.PurchaseOrder.Status, new[] {
                           new SelectListItem { Text = EPMS.Web.Resources.CMS.Order.Pending, Value = "3" },
                           new SelectListItem { Text = EPMS.Web.Resources.CMS.Order.Accepted, Value = "1" },
                           new SelectListItem { Text = EPMS.Web.Resources.CMS.Order.Rejected, Value = "2" } },
                           new { @id = "Status", @class = "select2me disableDdl" })
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.PurchaseOrder.Status != 1)
                {
                    <div id="SubmitTir" class="control-group row-fluid">
                        <div class="span3 span-inset">
                            <button type="submit" class="btn" onclick="validateVendors(event)">@EPMS.Web.Resources.Inventory.PO.PO.Submit</button>
                        </div>
                    </div>
                    if (userPermissionsSet.Contains("POCreate"))
                    {
                        <div id="EditTir" class="control-group row-fluid">
                            <div class="span3 span-inset">
                                <a href="@(ConfigurationManager.AppSettings["SiteURL"])/Inventory/Purchaseorder/Create/@Model.PurchaseOrder.PurchaseOrderId" class="btn">@EPMS.Web.Resources.Inventory.PO.PO.EditPO</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
<script src="~/RTE/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        @*if ('@ViewBag.IsManager' != "True" || '@Model.PurchaseOrder.Status' == '1' || '@ViewBag.From' == 'History') {
            $('.' + 'toBeDisable' + ':input').attr('readonly', true);
            $('.disableDdl').select2('disable');
            $("#SubmitTir").hide();
            var noteEn = '@Html.Raw(Model.PurchaseOrder.NotesE)';
            var regex = /(<([^>]+)>)/ig;
            var result = noteEn.replace(regex, "");
            $("#notesE").val(result);
            var noteAr = '@Html.Raw(Model.PurchaseOrder.NotesA)';
            regex = /(<([^>]+)>)/ig;
            result = noteAr.replace(regex, "");
            $("#notesA").val(result);
            $("#Notes").show();
        } else {
            CKEDITOR.replace('NotesEn', {
                filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
            });
            CKEDITOR.replace('NotesAr', {
                filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
            });
            $("#CKNotes").show();
        }*@
        CKEDITOR.replace('NotesEn', {
            filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
        });
        CKEDITOR.replace('NotesAr', {
            filebrowserBrowseUrl: $("#siteURL").val() + '/RTB/ckfinder.html',
        });
        $("#CKNotes").show();
        if ('@ViewBag.IsManager' != "True" || '@Model.PurchaseOrder.Status' == '1' || '@ViewBag.From' == 'History') {
            $('.toBeDisabled:input').attr('disabled', true);
            $('.disableDdl').select2('disable');
            $("#SubmitTir").hide();
        }
        if ('@ViewBag.From' == 'History') {
            $('.toBeDisable:input').attr('readonly', true);
            $('.disableDdl').select2('disable');
            $("#SubmitTir").hide();
        }
        $(document).on('focusout', '.UnitPrice', function (ev) {
            debugger;
            if ('@ViewBag.IsManager' == 'True') {
                var rowId = $(this).parent().parent().attr("id");
                var itemQty = parseInt($("#OrderItems_" + rowId + "__ItemQty").val());
                var unitPrice = parseInt($("#OrderItems_" + rowId + "__UnitPrice").val());
                if (!isNaN(itemQty) && !isNaN(unitPrice)) {
                    $("#Total_" + rowId).text(itemQty * unitPrice);
                }
                return true;
            }
            return;
        });
    });

    function validateVendors(event) {
        if ('@ViewBag.IsManager' == "True" && parseInt($("#Status").val()) == 1) {
            var index = $("#POTableBody").children("tr").length;
            for (var i = 0; i < index; i++) {
                var vendorId = $("#OrderItems_" + i + "__VendorId").val();
                if (vendorId == 0 || vendorId == "" || vendorId == null) {
                    $("#VendorError_" + (i + 1)).text("Please select vendor");
                    $('html,body').animate({
                        scrollTop: $(".VendorError_" + (i + 1)).offset().top
                    }, 'slow');
                    event.preventDefault();
                    return false;
                } else {
                    $("#VendorError_" + (i + 1)).text("");
                }
            }
        }
        return true;
    }
</script>