@model EPMS.Web.ViewModels.JobApplicant.JobApplicantViewModel

@{
    //ViewBag.Title = Model.JobOffered.JobTitleId > 0 ? EPMS.Web.Resources.HR.JobTitle.UpdatePageTitle : EPMS.Web.Resources.HR.JobTitle.CreatePageTitle;
    ViewBag.Title = "Job Opening";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.MessageVM = TempData["message"];
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
}

<div class="container-fluid dashboard dashboard-title">
    <div class="row-fluid">
        <div class="span12">
            <h1>
                @*@Model.JobOffered.JobTitle.JobTitleNameE*@
            </h1>
        </div>
    </div>
</div>

@using (Html.BeginForm("Apply", "JobApplicant", FormMethod.Post, new { @id = "JobOfferedForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        @Html.HiddenFor(model => model.JobApplicant.ApplicantCvPath, new { @id = "CvPath" })
        @Html.HiddenFor(model => model.JobApplicant.ApplicantId)
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">Applicant Name</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.ApplicantName, new { @id = "applicantName" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">Department</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @if (direction == "ltr")
                    {
                        @Html.TextBoxFor(model => model.JobApplicant.DepartmentNameE, new {@disabled = true, @id = "departmentNameE"})
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.JobApplicant.DepartmentNameA, new {@disabled = true, @id = "departmentNameA"})
                    }
                    
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Description">Job Description</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @if (direction == "ltr")
                    {
                        @Html.TextBoxFor(model => model.JobApplicant.JobDescriptionE, new {@disabled = true, @id = "jobTitleDescE"})
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.JobApplicant.JobDescriptionA, new { @disabled = true, @id = "jobTitleDescA" })
                    }
                    
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="age">Age</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.ApplicantAge, new { @id = "applicantAge" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="mobile">Mobile Number</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.ApplicantMobile, new { @id = "applicantMobile" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="email">Email</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.ApplicantEmail, new { @id = "applicantEmail" })
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="MaritalStatus">Marital Status </label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.MaritalStatus, new { @id = "applicantMaritalStatus" })
                </div>
            </div>

        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="MaritalStatus">Nationality </label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.Nationality, new { @id = "applicantNationality" })
                </div>
            </div>

        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="idNumber">Iqama or National ID Number</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.IqamaOrNationalIdNo, new { @id = "applicantIqama" })
                </div>
            </div>

        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="driving">Driving License</label>
            </div>
            <div class="span9 span-inset ">
                <div class="controls">
                    @Html.TextBoxFor(model => model.JobApplicant.DrivingLicense, new { @id = "applicantIqama" })
                </div>
            </div>
        </div>
        <div id="Drag_And_Drop_Upload" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">
                    Upload CV<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="file size shouldn't exceed 1MB"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9 row-fluid">
                <div class="upload-boxes row-fluid">
                    <div class="span3" id="upload"></div>
                    <div class="span9" id="uploaded"></div>
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <div class="span3 span-inset">
                    <button id="savebtn" class="btn" type="submit">Apply</button>
                </div>
            </div>
        </div>

    </div>
}

<script>
    $().ready(function () {

        var errors = "";
        $('#upload').mfupload({
            type: 'pdf,doc,docx,txt', // type: '', for all types
            maxsize: 1, //file size in MBs
            post_upload: "UploadApplicantCV",
            folder: "./",
            ini_text: "Drag your file here or click (max: 1MB)",
            over_text: "Drop Here",
            over_col: '#666666',
            over_bkcol: '#f0f0f0',

            init: function () {
                $("#uploaded").empty();
            },

            start: function (result) {
                $("#uploaded").append("<div id='FILE" + result.fileno + "' class='files'>" + result.filename + "<div class='progress progress-info progress-thin'><div class='bar' id='PRO" + result.fileno + "'></div></div></div>");
            },

            loaded: function (result) {
                $("#PRO" + result.fileno).remove();
                $("#FILE" + result.fileno).html("Uploaded: " + result.filename + " (" + result.size + ")");
                $('#CvPath').val(result.filename);
                debugger
            },

            progress: function (result) {
                $("#PRO" + result.fileno).css("width", result.perc + "%");
            },

            error: function (error) {
                errors += error.filename + ": " + error.err_des + "\n";
            },

            completed: function () {
                if (errors != "") {
                    alert(errors);
                    errors = "";
                }
            }
        });
    });
</script>

    