@model EPMS.WebModels.ViewModels.JobApplicant.JobApplicantListViewModel

@{
    ViewBag.Title = EPMS.WebModels.Resources.HR.JobApplicant.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var direction = EPMS.WebModels.Resources.Shared.Common.TextDirection;
}

<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="">
                @ViewBag.Title
            </a>
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->

<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@ViewBag.Title</small></h2>
</header>
<!-- Page Heading End-->

<form class="form-horizontal">
    @Html.HiddenFor(model => model.SearchRequest.SearchString, new { id = "searchString" });
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table id="jobApplicantsTable" class="table table-striped table-responsive">
                    <thead class="cf sorthead">
                        <tr>
                            <th></th>
                            <th>@EPMS.WebModels.Resources.HR.JobApplicant.Name</th>
                            <th>@EPMS.WebModels.Resources.HR.JobApplicant.Email</th>
                            <th>@EPMS.WebModels.Resources.HR.JobApplicant.MobileNumber</th>
                            <th>@EPMS.WebModels.Resources.HR.JobApplicant.JobTitle</th>
                            <th>@EPMS.WebModels.Resources.HR.JobApplicant.Department</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        var dir = '@direction';
        var siteUrl = $('#siteURL').val();
        var oTable = $('#jobApplicantsTable').dataTable({
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "aoColumns": [
                {
                    "aTargets": [0],
                    "sDefaultContent": "No Data",
                    "mRender": function(data, type, full) {
                        return full["JobApplicantId"];
                    },
                    "bVisible": false,
                    "bSortable": false
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        if (dir == "ltr") {
                            var name = full["ApplicantNameEn"];
                            var id = full["JobApplicantId"];
                            var element = '<a href="ApplicantDetail/' + id + '">' + name + '</a>';
                        } else {
                            var name = full["ApplicantNameAr"];
                            var id = full["JobApplicantId"];
                            var element = '<a href="ApplicantDetail/' + id + '">' + name + '</a>';
                        }
                        
                        return element;
                    },
                    "bSortable": false
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function(data, type, full) {
                        return full["ApplicantEmail"];
                    },
                },
                {
                    "aTargets": [1],
                    "sDefaultContent": "No Data",
                    "mRender": function(data, type, full) {
                        return full["ApplicantMobile"];
                    },
                },
                {
                    "aTargets": [4],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var jobOffered;
                        if (dir == "ltr") {
                            jobOffered = full["JobOfferedEn"];
                        } else {
                            jobOffered = full["JobOfferedAr"];
                        }
                        return jobOffered;
                    },
                },
                {
                    "aTargets": [5],
                    "sDefaultContent": "No Data",
                    "mRender": function (data, type, full) {
                        var department;
                        if (dir == "ltr") {
                            department = full["DepartmentNameEn"];
                        } else {
                            department = full["DepartmentNameAr"];
                        }
                        return department;
                    },
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "search", "value": $('input').val() });
            },
            "sAjaxSource": siteUrl + "/JobApplicant/JobApplicantList",
            //"aaSorting": [[2, 'asc'], [3, 'asc'], [4, 'asc'], [5, 'asc']],
            "sServerMethod": "POST",
            "oLanguage": {
                //"sProcessing": "Fetching record(s)",
                "sInfoEmpty": "No matching record(s) found",
                "sEmptyTable": "No record(s) found",
            }
        });
        $(".dataTables_length select").select2({
            dropdownCssClass: 'noSearch'
        });
        $(".dataTables_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                if (this.value.length >= 3 || e.keyCode == 13) {
                    $("#searchString").val(this.value);
                    //oTable.fnClearTable();
                    //$('#employeeTable').empty();
                    oTable.fnDraw();
                }
                if (this.value == "") {
                    $("#searchString").val(this.value);
                    oTable.fnDraw();
                }
                return;
            });
    });
</script>