@using System.Configuration
@model EPMS.Web.ViewModels.JobApplicant.JobApplicantViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.HR.JobOffered.IndexLabel;
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
    ViewBag.MessageVM = TempData["message"];
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
}

<div class="container-fluid dashboard dashboard-title">
    <div class="row-fluid">
        <div class="span12">
            <h1>
                @EPMS.Web.Resources.HR.JobApplicant.JobsOffered
            </h1>
        </div>
    </div>
</div>

@foreach (var item in Model.JobOfferedList)
{
    if (item.IsOpen)
    {
        <div class="widget-holder applyJobWidget">
            <div class="widget-flipper">
                <div class="widget-area widget-general-stats widget-front" style="min-height: 115%">
                    <div class="widget-head ">
                        @if (direction == "ltr")
                        {
                            <a href="#" class="lightOrange">@item.JobTitleNameE</a>
                        }
                        else
                        {
                            <a href="#" class="lightOrange">@item.JobTitleNameA</a>
                        }
                        <div>
                            <i class="icon-photon pen_alt2 opc1"></i>
                        </div>
                    </div>
                    <ul class="jobsOffred">
                        <li>
                            <span>@EPMS.Web.Resources.HR.JobApplicant.Department</span>
                            <div>
                                @if (direction == "ltr")
                                {
                                    @item.DepartmentNameE
                                }
                                else
                                {
                                    @item.DepartmentNameA
                                }
                            </div>
                        </li>
                        @if (item.NoOfPosts != null)
                        {
                            <li>
                                <span>@EPMS.Web.Resources.HR.JobApplicant.AvailableVacancies</span>
                                <div>
                                    @item.NoOfPosts
                                </div>
                            </li>
                        }
                        @if (item.ShowBasicSalary)
                        {
                            <li>
                                <span>@EPMS.Web.Resources.HR.JobTitle.BasicSalary</span>
                                <div>
                                    @item.BasicSalary
                                </div>
                            </li>
                        }


                        <li>
                            <span>@EPMS.Web.Resources.HR.JobApplicant.JobDescription</span>
                            <div class="jobDesc">
                                @if (direction == "ltr")
                                {
                                    <span title="@Html.Raw(item.JobTitleDescE)">@Html.Raw(item.JobTitleDescShortE)</span>
                                }
                                else
                                {
                                    <span title="@Html.Raw(item.JobTitleDescA)">@Html.Raw(item.JobTitleDescShortA)</span>
                                }
                            </div>
                        </li>

                    </ul>

                    <div class="control-group row-fluid" style="clear:both;">
                        <div class="span3 span-inset">
                            <button type="button" class="btn" onclick="location.href = '@(ConfigurationManager.AppSettings["SiteURL"])/HR/JobApplicant/Apply/@item.JobOfferedId'">@EPMS.Web.Resources.HR.JobApplicant.Apply</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tempLoader" style="display:none;"></div>
        </div>
    }
}


<script>

    $(document).ready(function () {
        var message = '@ViewBag.ApplyMessage';
        if (message != "") {
            setTimeout(function () {
                $.pnotify({
                    title: 'Success',
                    type: 'info',
                    text: message
                });
            }, 3000);
        }
        $('#JobsOfferedList').dataTable({
            "sPaginationType": "bootstrap",
            "aoColumns": [
                { "bVisible": false }, // cloumn to hide
                null, // not hide
                null,
                null,
                null
            ],
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            }
        });
        $(".widget-general-stats select").select2();
    });
</script>


