@model EPMS.Models.MenuModels.WebsiteMenuModel
@{
    Layout = null;
    var direction = EPMS.Website.Resources.Shared.Common.TextDirection;
    string link = "";
}
<!-- start main_menu -->
<nav id="main_menu">
    <ul class="sf-menu clearfix">
        <li class="active">
            <a href="~/Home/Index">Home</a>
        </li>

        <li>
            <a href="#">About Us</a>
            <ul>
                <li><a href="#">Company Profile</a>

            </ul>
        </li>

        <li>
            <a href="javascript:;">Our Products</a>
            <ul>
                @{
                    //All productSections, who have no parentId
                    var rootProducts = Model.ProductSections.Where(x => x.ParentSectionId == null);
                    foreach (var productSection in rootProducts)
                    {
                        <li>
                            @{
                        //childName variable to just show the name of menu item
                        var childName = "";
                        //put check for culture for eng or arabic field
                        if (direction == "ltr")
                        {
                            childName = string.IsNullOrEmpty(productSection.SectionNameEn) ? productSection.InventoryDepartment.DepartmentNameEn : productSection.SectionNameEn;
                        }
                        else
                        {
                            childName = string.IsNullOrEmpty(productSection.SectionNameAr) ? productSection.InventoryDepartment.DepartmentNameAr : productSection.SectionNameAr;
                        }
                            }
                            @if (productSection.InventoyDepartmentId != null)
                            {
                                link = "/Product/Index/" + productSection.InventoyDepartmentId + "?from=Inventory";
                            }
                            else
                            {
                                link = "/Product/Index/" + productSection.SectionId + "?from=Sections";
                            }
                            <a href="@link">@childName</a>

                            @{
                        //Check if there are departments, then show them all, up to 2nd level
                        if (productSection.InventoryDepartment != null)
                        {
                            <ul>

                                @foreach (var department in productSection.InventoryDepartment.InventoryDepartments)
                                {
                                    //first level child from department is here
                                    <li>
                                        @{
                                    //put check for culture for eng or arabic field
                                    childName = direction == "ltr" ? department.DepartmentNameEn : department.DepartmentNameAr;
                                        link = "/Product/Index/" + department.DepartmentId + "?from=Inventory";
                                        }
                                        <a href="#">@childName</a>

                                        @if (department.InventoryDepartments.Any())
                                        {
                                            //2nd level child from department is here
                                            <ul>
                                                @foreach (var childDepartment in department.InventoryDepartments)
                                                {
                                                    <li>
                                                        @{
                                                    //put check for culture for eng or arabic field
                                                    childName = direction == "ltr" ? childDepartment.DepartmentNameEn : childDepartment.DepartmentNameAr;
                                                        link = "/Product/Index/" + childDepartment.DepartmentId + "?from=Inventory";
                                                        }
                                                        <a href="#">@childName</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            //we are here because we didn't find any department of this roo level productSection, we are going to check if it has child in productSection table
                            <ul>
                                @foreach (var product in productSection.ProductSections)
                                {
                                    //first level child from productSection is here
                                    <li>
                                        @{
                                    //put check for culture for eng or arabic field
                                    if (direction == "ltr")
                                    {
                                        childName = string.IsNullOrEmpty(product.SectionNameEn) ? product.InventoryDepartment.DepartmentNameEn : productSection.SectionNameEn;
                                    }
                                    else
                                    {
                                        childName = string.IsNullOrEmpty(product.SectionNameAr) ? product.InventoryDepartment.DepartmentNameAr : product.SectionNameAr;
                                    }
                                        link = "/Product/Index/" + product.SectionId + "?from=Sections";
                                        }
                                        <a href="#">@childName</a>
                                        @if (product.ProductSections.Any())
                                        {
                                            //2nd level child from productSection is here
                                            <ul>
                                                @foreach (var childProduct in product.ProductSections)
                                                {
                                                    <li>
                                                        @{
                                                    //put check for culture for eng or arabic field
                                                    if (direction == "ltr")
                                                    {
                                                        childName = string.IsNullOrEmpty(childProduct.SectionNameEn) ? childProduct.InventoryDepartment.DepartmentNameEn : childProduct.SectionNameEn;
                                                    }
                                                    else
                                                    {
                                                        childName = string.IsNullOrEmpty(childProduct.SectionNameAr) ? childProduct.InventoryDepartment.DepartmentNameAr : childProduct.SectionNameAr;
                                                    }
                                                        link = "/Product/Index/" + childProduct.SectionId + "?from=Sections";
                                                        }
                                                        <a href="#">@childName</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }

                            }
                        </li>
                    }
                }
            </ul>
        </li>

        <li>
            <a href="#">Our Services</a>
            <ul>
                <li><a href="#">Air conditioning System</a></li>
                <li><a href="#">Training Services</a></li>

            </ul>
        </li>

        <li>
            <a href="#">News & Articles</a>
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#" class="prettyPhoto_transparent">Articles</a></li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>
<!-- end main_menu -->
