@using System.Web.UI.HtmlControls
@using iTextSharp.text.pdf.qrcode
@model EPMS.Web.ViewModels.Project.ProjectViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.PMS.Project.NewProject;
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/PMS/Project/OnGoing">@EPMS.Web.Resources.PMS.Project.ProjectsList</a>
        </li>
        <li class="current">
            @EPMS.Web.Resources.PMS.Project.NewProject
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->
<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.PMS.Project.AddNewProject</small></h2>
</header>
<!-- Page Heading End-->
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">

        @Html.HiddenFor(model => model.DocsNames, new { @id = "DocsNames" });
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectName</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.NameE, new { @id = "ProjectNameE" })
                    @Html.ValidationMessageFor(m => m.Project.NameE, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectNameAr</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.NameA, new { @id = "ProjectNameA" })
                    @Html.ValidationMessageFor(m => m.Project.NameA, "", new { @class = "required" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">@EPMS.Web.Resources.PMS.Project.ClientName</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @(direction == "ltr" ? Html.DropDownListFor(x => x.Project.CustomerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameE"), EPMS.Web.Resources.PMS.Project.ClientName, new { @class = "select2me", @id = "Client" }) : Html.DropDownListFor(x => x.Project.CustomerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameA"), EPMS.Web.Resources.PMS.Project.ClientName, new { @class = "select2me", @id = "Client" }))
                        @Html.ValidationMessageFor(m => m.Project.CustomerId, "", new { @class = "required" })
                    </div>
                </div>

            </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.OrderNo</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @if (Model.Project.CustomerId > 0)
                    {
                        @Html.DropDownListFor(m => m.Project.OrderId, new SelectList(Model.Orders, "OrderId", "OrderNo"), "", new { @id = "OrderNo" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.Project.OrderId, Enumerable.Empty<SelectListItem>(), "none", new { @id = "OrderNo" })
                    }
                    @Html.ValidationMessageFor(m => m.Project.OrderId, "", new { @class = "required" })
                </div>
            </div>

        </div>

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectSerialNo</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.SerialNo, new { @readonly = "readonly" })
                </div>
            </div>
        </div>




        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.DescriptionE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.DescriptionE, new { @id = "DescriptionE" })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.DescriptionA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.DescriptionA, new { @id = "DescriptionA" })
                </div>
            </div>
        </div>
        <!--Input Field begin-->

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">
                    @EPMS.Web.Resources.PMS.Project.StartDate
                    <a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.StartDate, new { @class = "datepickerGregorian cursorHand span3", @id = "StartDateE", @readonly = true,@placeholder="English", onchange = "GregorianToHijri(this,'#StartDateA')" })
                    @Html.TextBoxFor(model => model.Project.StartDate, new { @class = "datepickerArabic cursorHand span3", @id = "StartDateA", @readonly = true, @placeholder = "Arabic", onchange = "HijriToGregorian(this,'#StartDateE')" })
                </div>
            </div>
        </div>
        <!--Input Field begin-->

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">
                    @EPMS.Web.Resources.PMS.Project.EndDate
                    <a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.EndDate, new { @class = "datepickerGregorian cursorHand span3", @id = "EndDateE", @readonly = true, @placeholder = "English", onchange = "GregorianToHijri(this,'#EndDateA')" })
                    @Html.TextBoxFor(model => model.Project.EndDate, new { @class = "datepickerArabic cursorHand span3", @id = "EndDateA", @readonly = true, @placeholder = "Arabic", onchange = "HijriToGregorian(this,'#EndDateE')" })
                </div>
            </div>
        </div>
        @if (Model.Project.OrderId > 0)
        {
       <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="MobileNumber">Price</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="MobileNumber" type="text" name="inputField" value="5000" class="required number">
                </div>
            </div>
        </div>
        <!--Input Field end-->

        <div class="alert alert-info alert-block">
            <i class="icon-alert icon-alert-info"></i>
            <strong><a>Tasks</a></strong>
        </div>

        <!--Sortable Responsive Table begin-->
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped table-responsive" id="tableSortableRes">
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th>Date</th>
                            <th>pre-requist task</th>
                            <th>Employees</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX">
                            <td><a href="TaskDetails(Admin,PM)En.html">Task4</a></td>
                            <td>Date</td>
                            <td>task1 - task2 </td>
                            <td>Abdul Aziz </td>
                            <td>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: 25%">25%</div>
                                </div>
                            </td>
                        </tr>

                        <tr class="gradeA">
                            <td><a href="TaskDetails(Admin,PM)En.html">Task5</a></td>
                            <td>Date</td>
                            <td>task1 - task2 </td>
                            <td>Abdul Aziz </td>
                            <td>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: 25%">25%</div>
                                </div>



                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!--Sortable Responsive Table end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="TotalCost">Total Tasks Cost</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="TotalCost" type="text" name="inputField" value="1000" class="required number" disabled>
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="OtherCost">Other Cost</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="OtherCost" type="text" name="inputField" value="500" class="required number">
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Profit">Profit</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="Profit" type="text" name="inputField" value="0" disabled>
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Progress">Progress</label>
            </div>
            <div class="span9">
                <div class="controls">
                    <input id="Progress" type="text" name="inputField" value="0">


                </div>
            </div>
        </div>
        <!--Input Field end-->





        <div class="alert alert-info alert-block">
            <i class="icon-alert icon-alert-info"></i>
            <strong>Installment Plan</strong>
        </div>


        <!--Sortable Responsive Table begin-->
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped table-responsive" id="tableSortableProjects">
                    <thead>
                        <tr>
                            <th><a href="OrderDetails(admin)En.html">Installment</a> </th>
                            <th>Due At Project Porgress</th>
                            <th>Mathod of Payment</th>
                            <th>Paid</th>
                            <th>Creat/Show Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX">
                            <td>1st</td>
                            <td>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: 20%">20%</div>
                                </div>
                            </td>
                            <td>Online</td>
                            <td>Yes</td>
                            <td><a href="">Creat</a>/<a href="">Show Receipt</a></td>
                        </tr>

                        <tr class="gradeA">
                            <td>2st</td>
                            <td>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: 30%">30%</div>
                                </div>
                            </td>
                            <td>Offline</td>
                            <td>No</td>
                            <td><a href="">Creat</a>/<a href="">Show Receipt</a>></td>
                        </tr>
                        <tr class="gradeX">
                            <td>3rd</td>
                            <td>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: 10%">10%</div>
                                </div>
                            </td>
                            <td>Online</td>
                            <td>Yes</td>
                            <td><a href="">Creat</a>/<a href="">Show Receipt</a></td>
                        </tr>

                        <tr class="gradeA">
                            <td>4th</td>
                            <td>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: 40%">40%</div>
                                </div>
                            </td>
                            <td>Offline</td>
                            <td>No</td>
                            <td><a href="">Creat</a>/<a href="">Show Receipt</a></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!--Sortable Responsive Table end-->

        }


        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">Project Status </label>
            </div>
            <div class="span2">
                <div class="controls">
                    <select>
                        <option value="1">On Going </option>
                        <option value="2">On Hold</option>
                        <option value="3">Canceled</option>
                        <option value="4">Finished</option>
                    </select>
                </div>
            </div>

        </div>



        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesE, new { @id = "NotesE" })
                </div>
            </div>
        </div>
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesA, new { @id = "NotesA" })
                </div>
            </div>
        </div>


        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesCustomerE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesForCustomerE, new { @id = "NotesForCustomerE" })
                </div>
            </div>
        </div>
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesCustomerA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesForCustomerA, new { @id = "NotesForCustomerA" })
                </div>
            </div>
        </div>
        <!--Input Field end-->
        <!--Drag And Drop Upload begin-->
        <div id="Drag_And_Drop_Upload" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">
                    @EPMS.Web.Resources.PMS.Project.Documents<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="@EPMS.Web.Resources.PMS.Project.FileSize"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9 row-fluid">
                <div class="upload-boxes row-fluid">
                    <div class="span3" id="upload"></div>
                    <div class="span9" id="uploaded"></div>
                </div>
            </div>

        </div>
        <!--Drag And Drop Upload end-->
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                <button type="submit" class="btn">@EPMS.Web.Resources.PMS.Project.CreateProject</button>
            </div>

        </div>
    </div>
    <!-- end container -->

}
<script src="~/RichTextEditor/ckeditor.js"></script>
<script src="~/Scripts/plugins/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {
        var siteUrl = $('#siteURL').val();
        
        CKEDITOR.replace('DescriptionA');
        CKEDITOR.replace('DescriptionE');
        CKEDITOR.replace('NotesA');
        CKEDITOR.replace('NotesE');
        CKEDITOR.replace('NotesForCustomerA');
        CKEDITOR.replace('NotesForCustomerE');
        $('#tableSortableRes,#tableSortableProjects').dataTable({
            "sPaginationType": "bootstrap",
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            }
        });
        $("#Client").on("change", function () {
            var customerId = $(this).val();
            var url = siteUrl + "/PMS/Project/GetCustomerOrders";
            if (customerId > 0) {
                $("#ClientName").val($("#Client option:selected").text());
                //$('#SearchRequest_JobId').empty();
                $.blockUI({
                    message: '<img src="/Images/Gallery/ajax_loader.gif" style="width:75px; height:75"/>',
                    css: { backgroundColor: '#FFFAFA', left: "47%", width: "6%" }
                });
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: "json",
                    data: {
                        customerId: customerId
                    },
                    success: function (data) {
                        populateDDL(data);
                    },
                    error: function (e) {
                        alert('Error=' + e.toString());
                    }
                });
            } else {

            }

        });

        function populateDDL(data) {
            $("#OrderNo").empty();
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    //set first order's no as a project name
                    var orderTitle = data[0].OrderNo;
                    $("#ProjectNameE").val(orderTitle);
                    $("#ProjectNameA").val(orderTitle);
                    $("#OrderNo").append(
                        $('<option></option>').val(data[i].OrderId).html(data[i].OrderNo)
                    );
                }
            } else {
                $("#OrderNo").append(
                        $('<option></option>').val("").html("none")
                    );
                $("#ProjectNameE").val("");//empty project name
                $("#ProjectNameA").val("");
            }
            $.unblockUI();
        }
        //set order's no as a project name
        $("#OrderNo").on("change", function () {
            var orderTitle = $("#OrderNo option:selected").text();
            $("#ProjectNameE").val(orderTitle);
            $("#ProjectNameA").val(orderTitle);
        });
        function addDocName(filename) {
            var lis = $("#DocsNames").val();
            lis += filename + "~";
            $("#DocsNames").val(lis);
        }

        var errors = "";
        var url = "/PMS/Project/UploadDocuments";
        $('#upload').mfupload({

            type: '',   //all types
            maxsize: 1,
            post_upload: url,
            folder: "./",
            ini_text: "Drag your file(s) here or click (max: 1MB each)",
            over_text: "Drop Here",
            over_col: '#666666',
            over_bkcol: '#f0f0f0',

            init: function () {
                $("#uploaded").empty();
            },

            start: function (result) {
                $("#uploaded").append("<div id='FILE" + result.fileno + "' class='files'>" + result.filename + "<div class='progress progress-info progress-thin'><div class='bar' id='PRO" + result.fileno + "'></div></div></div>");
            },

            loaded: function (result) {
                $("#PRO" + result.fileno).remove();
                $("#FILE" + result.fileno).html("Uploaded: " + result.filename + " (" + result.size + ")");
                addDocName(result.filename);
            },

            progress: function (result) {
                $("#PRO" + result.fileno).css("width", result.perc + "%");
            },

            error: function (error) {
                errors += error.filename + ": " + error.err_des + "\n";
            },

            completed: function () {
                if (errors != "") {
                    alert(errors);
                    errors = "";
                }
            }
        });
    });
</script>