@using System.Configuration
@model EPMS.Web.ViewModels.Project.ProjectViewModel

@{
    ViewBag.Title = Model.Project.NameE +" "+ EPMS.Web.Resources.PMS.Project.Details;
    var direction = EPMS.Web.Resources.Shared.Common.TextDirection;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] module = (string[])Session["UserModules"];
}
<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/PMS/Project/Index">@EPMS.Web.Resources.PMS.Project.ProjectsList</a>
        </li>
        <li class="current">
            @ViewBag.Title
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->
<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.PMS.Project.ProjectDetails</small></h2>
</header>
<!-- Page Heading End-->
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->
    <form class="form-horizontal">
    <div class="container-fluid">

        @Html.HiddenFor(model => model.DocsNames, new { @id = "DocsNames" })
        @Html.HiddenFor(model => model.Project.Status, new { @id = "ProjectStatus" })
        @Html.HiddenFor(model => model.Project.ProjectId)
        @Html.HiddenFor(model => model.Project.RecCreatedDate)
        @Html.HiddenFor(model => model.Project.RecCreatedBy)
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectNameE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.NameE, new { @id = "ProjectNameE", @disabled=true })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectNameAr</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.NameA, new { @id = "ProjectNameA", @disabled = true })
                </div>
            </div>
        </div>

        @if (ViewBag.HasModule)
        {
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">@EPMS.Web.Resources.PMS.Project.ClientName</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @(direction == "ltr" ? Html.DropDownListFor(x => x.Project.CustomerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameE"), EPMS.Web.Resources.PMS.Project.SelectClientName, new { @class = "select2me", @id = "Client", @disabled = true }) : Html.DropDownListFor(x => x.Project.CustomerId, new SelectList(Model.Customers, "CustomerId", "CustomerNameA"), EPMS.Web.Resources.PMS.Project.SelectClientName, new { @class = "select2me", @id = "Client", @disabled = true }))
                    </div>
                </div>

            </div>
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">@EPMS.Web.Resources.PMS.Project.OrderNo</label>
                </div>
                <div class="span2">
                    <div class="controls">
                        @if (Model.Project.CustomerId > 0)
                        {
                            @Html.DropDownListFor(m => m.Project.OrderId, new SelectList(Model.Orders, "OrderId", "OrderNo"), "", new { @id = "OrderNo", @disabled = true })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Project.OrderId, Enumerable.Empty<SelectListItem>(), "none", new { @id = "OrderNo", @disabled = true })
                        }
                    </div>
                </div>

            </div>
        }
        
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectSerialNo</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.SerialNo, new { @id = "ProjectSerialNo", @disabled = true })
                </div>
            </div>
        </div>




        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.DescriptionE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.DescriptionE, new { @id = "DescriptionE", @disabled = true })
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.DescriptionA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.DescriptionA, new { @id = "DescriptionA", @disabled = true })
                </div>
            </div>
        </div>
        <!--Input Field begin-->

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">
                    @EPMS.Web.Resources.PMS.Project.StartDate
                    <a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.StartDate, new { @class = "datepickerGregorian span3", @id = "StartDateE", @disabled = true, @placeholder = "English" })
                    @Html.TextBox("Start Date", null, new { @class = "datepickerArabic span3", @id = "StartDateA", @disabled = true, @placeholder = "Arabic" })
                </div>
            </div>
        </div>
        <!--Input Field begin-->

        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">
                    @EPMS.Web.Resources.PMS.Project.EndDate
                    <a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="(dd/mm/yyyy)"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Project.EndDate, new { @class = "datepickerGregorian span3", @id = "EndDateE", @disabled = true, @placeholder = "English" })
                    @Html.TextBox("Start Date", null, new { @class = "datepickerArabic span3", @id = "EndDateA", @disabled = true, @placeholder = "Arabic" })
                </div>
            </div>
        </div>
        @if (Model.Project.ProjectId > 0)
        {
        <!--Input Field begin-->
            <div class="control-group row-fluid">
                <div class="span3">
                    <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectPrice</label>
                </div>
                <div class="span9">
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Project.Price, new { @id = "ProjectPrice", @disabled = true })
                    </div>
                </div>
            </div>
        <!--Input Field end-->

            <div class="alert alert-info alert-block">
                <i class="icon-alert icon-alert-info"></i>
                <strong><a>@EPMS.Web.Resources.PMS.Project.Tasks</a></strong>
            </div>

        <!--Sortable Responsive Table begin-->
            <div class="row-fluid">
                <div class="span12">
                    <table id="TasksTable" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@EPMS.Web.Resources.PMS.Project.Tasks</th>
                                <th>@EPMS.Web.Resources.PMS.Project.TaskDate</th>
                                <th>@EPMS.Web.Resources.PMS.Project.TaskPreReq</th>
                                <th>@EPMS.Web.Resources.PMS.Project.Employees</th>
                                <th>@EPMS.Web.Resources.PMS.Project.Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProjectTasks.ToList())
                            {
                                <tr>
                                    <td>@item.TaskId</td>
                                    <td><a href="@ConfigurationManager.AppSettings["SiteURL"]/PMS/Task/Create/@item.TaskId">@item.TaskNameE</a></td>
                                    <td>@(Convert.ToDateTime(item.StartDate).ToShortDateString())</td>
                                    <td>@item.PreReqTasks</td>
                                    <td>@item.EmployeesAssigned</td>
                                    <td>
                                        <div class="progress progress-info">
                                            <div class="bar" style="width: @item.TaskProgress">@item.TaskProgress</div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        <!--Sortable Responsive Table end-->
        
            <!--Input Field begin-->
            if (ViewBag.UserRole != "Customer")
            {
                <!--Input Field begin-->
                <div class="control-group row-fluid">
                    <div class="span3">
                        <label class="control-label">@EPMS.Web.Resources.PMS.Project.TotalTasksCost</label>
                    </div>
                    <div class="span9">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Project.TotalTasksCost, new { @id = "ProjectTotalTasksCost", @readonly = true })
                        </div>
                    </div>
                </div>
        <!--Input Field end-->
        <!--Input Field begin-->
                <div class="control-group row-fluid">
                    <div class="span3">
                        <label class="control-label">@EPMS.Web.Resources.PMS.Project.OtherCost</label>
                    </div>
                    <div class="span9">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Project.OtherCost, new { @id = "ProjectOtherCost", @disabled = true })
                        </div>
                    </div>
                </div>
        <!--Input Field end-->
                <div class="control-group row-fluid">
                    <div class="span3">
                        <label class="control-label">@EPMS.Web.Resources.PMS.Project.Profit</label>
                    </div>
                    <div class="span9">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Project.Profit, new { @id = "ProjectProfit", @readonly = true })
                        </div>
                    </div>
                </div>
            }

        <!--Input Field end-->
        <!--Input Field begin-->
        <div class="form-legend">@EPMS.Web.Resources.PMS.Project.Progress</div>
        <div class="control-group row-fluid">
            <div class="span12 span-inset">
                <div class="progress progress-info">
                    <div class="bar" style="width: @Model.Project.ProgressTotal%">@Model.Project.ProgressTotal%</div>
                </div>

            </div>
        </div>
        <!--Input Field end-->




            if (module.Contains("Customer Service") || module.Contains("CS"))
            {
                <div class="alert alert-info alert-block">
                    <i class="icon-alert icon-alert-info"></i>
                    <strong>@EPMS.Web.Resources.PMS.Project.InstallmentPlan</strong>
                </div>


                <!--Sortable Responsive Table begin-->
                <div class="row-fluid">
                    <div class="span12">
                        <table id="InstallmentTable" class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @if (Model.Installment != null)
                                        {
                                            <a href="~/CMS/Orders/Create/@Model.Installment.OrderId">@EPMS.Web.Resources.PMS.Project.Installment</a>
                                        }
                                        else
                                        {
                                            @EPMS.Web.Resources.PMS.Project.Installment
                                        }

                                    </th>
                                    <th>@EPMS.Web.Resources.PMS.Project.DueAtProjectPorgress</th>
                                    <th>@EPMS.Web.Resources.PMS.Project.MethodOfPayment</th>
                                    <th>@EPMS.Web.Resources.PMS.Project.Paid</th>
                                    <th>@EPMS.Web.Resources.PMS.Project.CreateShowReceipt</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Installment != null)
                                {
                                    <tr>
                                        <td>@Model.Installment.QuotationId</td>
                                        <td>@Model.Installment.FirstInstallement</td>
                                        <td>
                                            <div class="progress progress-info">
                                                <div class="bar" style="width: @Model.Installment.FirstInsDueAtCompletion%">@Model.Installment.FirstInsDueAtCompletion%</div>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Installment.QuotationId</td>
                                        <td>@Model.Installment.SecondInstallment</td>
                                        <td>
                                            <div class="progress progress-info">
                                                <div class="bar" style="width: @Model.Installment.SecondInsDueAtCompletion%">@Model.Installment.SecondInsDueAtCompletion%</div>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Installment.QuotationId</td>
                                        <td>@Model.Installment.ThirdInstallment</td>
                                        <td>
                                            <div class="progress progress-info">
                                                <div class="bar" style="width: @Model.Installment.ThirdInsDueAtCompletion%">@Model.Installment.ThirdInsDueAtCompletion%</div>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Installment.QuotationId</td>
                                        <td>@Model.Installment.FourthInstallment</td>
                                        <td>
                                            <div class="progress progress-info">
                                                <div class="bar" style="width: @Model.Installment.FourthInsDueAtCompletion%">@Model.Installment.FourthInsDueAtCompletion%</div>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Sortable Responsive Table end-->
            }
        }


        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.ProjectStatus</label>
            </div>
            <div class="span2">
                <div class="controls">
                    @Html.DropDownListFor(model => model.Project.Status, new[]
                {
                    new SelectListItem { Value = "1" , Text = "On Going" },
                    new SelectListItem { Value = "2" , Text = "On Hold" },
                    new SelectListItem { Value = "3" , Text = "Canceled" },
                    new SelectListItem { Value = "4" , Text = "Finished" }
                }, new { @id = "ProjectStatusDDL", @disabled = true })
                </div>
            </div>

        </div>



        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesE, new { @id = "NotesE", @disabled = true })
                </div>
            </div>
        </div>
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesA, new { @id = "NotesA", @disabled = true })
                </div>
            </div>
        </div>


        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesCustomerE</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesForCustomerE, new { @id = "NotesForCustomerE", @disabled = true })
                </div>
            </div>
        </div>
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label">@EPMS.Web.Resources.PMS.Project.NotesCustomerA</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextAreaFor(model => model.Project.NotesForCustomerA, new { @id = "NotesForCustomerA", @disabled = true })
                </div>
            </div>
        </div>
        <!--Input Field end-->
        @if (Model.ProjectDocsNames != null)
        {
            <div class="control-group row-fluid">
                @foreach (var doc in Model.ProjectDocsNames)
                {
                    <div class="controls">
                        <div class="span-inset">
                            <a href="~/PMS/Project/Download?fileName=@doc.FileName" class="btn">Download @doc.FileName</a>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="control-group row-fluid">
            <div class="span3 span-inset">
                @if (ViewBag.UserRole != "Customer")
{
    <a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())/PMS/Project/Create/@Model.Project.ProjectId" class="btn">@EPMS.Web.Resources.PMS.Project.Edit</a>
}
            </div>

        </div>
    </div>
</form>
    <!-- end container -->
    
<script src="~/RichTextEditor/ckeditor.js"></script>
<script src="~/Scripts/plugins/jquery.blockUI.js"></script>
<script>
    $(document).ready(function() {
        CKEDITOR.replace('DescriptionA');
        CKEDITOR.replace('DescriptionE');
        CKEDITOR.replace('NotesA');
        CKEDITOR.replace('NotesE');
        CKEDITOR.replace('NotesForCustomerA');
        CKEDITOR.replace('NotesForCustomerE');
        $('#TasksTable,#InstallmentTable').dataTable({
            "sPaginationType": "bootstrap",
            "aoColumns": [
                { "bVisible": false },
                null,
                null,
                null,
                null,
                null
            ],
            "fnInitComplete": function() {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            }
        });
        //Convert Gregorian to Hijri
        if ($("#StartDateE").val() != null && $("#StartDateE").val() != "") {
            $("#StartDateA").val(ConvertDates($("#StartDateE").val(), "gregorian", "islamic"));
        }
        if ($("#EndDateE").val() != null && $("#EndDateE").val() != "") {
            $("#EndDateA").val(ConvertDates($("#EndDateE").val(), "gregorian", "islamic"));
        }
    });
        
</script>