@model EPMS.Web.ViewModels.Project.ProjectListViewModel

@{
    ViewBag.Title = EPMS.Web.Resources.PMS.Project.FinishedProjects;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Navigation Bar Start-->
<div class="breadcrumb-container">
    <ul class="xbreadcrumbs">
        <li>
            <a href="~/Dashboard/Index">
                <i class="icon-photon home"></i>
            </a>
        </li>
        <li>
            <a href="~/PMS/Project/OnGoing">
                @EPMS.Web.Resources.PMS.Project.ProjectsList
            </a>
        </li>
        <li class="current">
            @EPMS.Web.Resources.PMS.Project.FinishedProjectsList
        </li>
    </ul>
</div>
<!-- Navigation Bar End-->
<!-- Page Heading Start-->
<header>
    <i class="icon-big-notepad"></i>
    <h2><small>@EPMS.Web.Resources.PMS.Project.FinishedProjects</small></h2>
</header>
<!-- Page Heading End-->
<!--Notifications begin-->
@Html.Partial("_Alert")
<!--Notifications end-->

<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                <table id="ProjectsTable" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@EPMS.Web.Resources.PMS.Project.ProjectName</th>
                            <th>@EPMS.Web.Resources.PMS.Project.ClientName</th>
                            <th>@EPMS.Web.Resources.PMS.Project.StartDate</th>
                            <th>@EPMS.Web.Resources.PMS.Project.DeliveryDate</th>
                            <th>@EPMS.Web.Resources.PMS.Project.Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Projects.ToList())
                        {
                            <tr>
                                <td>@item.ProjectId</td>
                                <td class="center"><a href="/PMS/Project/Create/@item.ProjectId">@item.NameE</a></td>
                                <td class="center"><a href="/CMS/Customer/Details/@item.CustomerId">@item.CustomerNameE</a></td>
                                <th>@(Convert.ToDateTime(item.StartDate).ToShortDateString())</th>
                                <th>@(Convert.ToDateTime(item.EndDate).ToShortDateString())</th>
                                <th>@item.Price</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#ProjectsTable').dataTable({
            "sPaginationType": "bootstrap",
            "aoColumns": [
                { "bVisible": false },
                  null,
                  null,
                  null,
                  null,
                  null
            ],
            "aaSorting": [[4,'desc']],
            "fnInitComplete": function () {
                $(".dataTables_wrapper select").select2({
                    dropdownCssClass: 'noSearch'
                });
            }
        });
    });
</script>