@using System.Globalization
@using EPMS.WebModels.Resources.WebsiteClient.ShoppingCart
@using EPMS.WebModels.WebsiteModels
@model EPMS.WebModels.WebsiteModels.Paypal

@{
    ViewBag.Title = "PostTotPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var today = DateTime.Now;
    var cartItems = (IList<ShoppingCart>)ViewBag.CartItems;
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">Home Page</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
                <span id="current-date">@today.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>Payment</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="shadowUP"></div>
</div>

<p style="text-align: center">
    <h4>Connecting to Paypal , please wait ...</h4>
</p>

<form id="paypal-form" action="@ViewBag.actionURL">
    @Html.HiddenFor(model => model.cmd)
    @*@Html.HiddenFor(model => model.upload)*@
    @Html.HiddenFor(model => model.business)
    @Html.HiddenFor(model => model.no_shipping)
    @Html.HiddenFor(model => model.@return)
    @Html.HiddenFor(model => model.cancel_return)
    @Html.HiddenFor(model => model.notify_url)
    @Html.HiddenFor(model => model.currency_code)
    @Html.HiddenFor(model => model.item_name)
    @Html.HiddenFor(model => model.amount)
    
</form>

<script>
    $(document).ready(function () {
        debugger;
        var form = $("form");
        form.submit();
    });
</script>