@using System.Globalization
@using EPMS.WebModels.WebsiteModels
@model Paypal

@{
    ViewBag.Title = "PostTotPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var today = DateTime.Now;
    var cart = (ShoppingCart)ViewBag.CartItem;
}

<div id="page_header" class="gradient bottom-shadow">
    <div class="bgback bg3"></div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumbs fixclear">
                    <li><a href="/Home/Index">Home Page</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
                <span id="current-date">@today.ToString("dddd, dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </div>
            <div class="span6">
                <div class="header-titles">
                    <h2>Payment</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="shadowUP"></div>
</div>

<p style="text-align: center">
    <h4>Connecting to Paypal , please wait ...</h4>
</p>

<form id="paypal-form" action="@ViewBag.actionURL">
    <input type="hidden" name="cmd" value="@Model.cmd">
    <input type="hidden" name="upload" value="@Model.upload">
    <input type="hidden" name="business" value="@Model.business">
    <input type="hidden" name="return" value="@Model.return_url">
    <input type="hidden" name="cancel_return" value="@Model.cancel_return">
    <input type="hidden" name="notify_url" value="@Model.notify_url">
    <input type="hidden" name="currency_code" value="@Model.currency_code">
    @for (int i = 0; i < cart.ShoppingCartItems.Count; i++)
    {
        <input type="hidden" name="item_name_@(i+1)" value="@cart.ShoppingCartItems[i].ItemNameEn">
        <input type="hidden" name="amount_@(i+1)" value="@cart.ShoppingCartItems[i].UnitPrice">
        <input type="hidden" name="quantity_@(i+1)" value="@cart.ShoppingCartItems[i].Quantity">
    }
</form>

<script>
    $(document).ready(function () {
        var form = $("#paypal-form");
        form.submit();
    });
</script>